body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:195px;
  width:730px;
  height:358px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:171px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:2px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1314px;
  width:894px;
  height:1px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1347px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1347px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1348px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1347px;
  width:160px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1387px;
  width:60px;
  height:16px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:1427px;
  width:60px;
  height:16px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1387px;
  width:60px;
  height:16px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1430px;
  width:60px;
  height:16px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1388px;
  width:60px;
  height:16px;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1428px;
  width:60px;
  height:16px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:66px;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1380px;
  width:83px;
  height:66px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:361px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:192px;
  width:159px;
  height:361px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:234px;
  width:60px;
  height:16px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:200px;
  width:350px;
  height:16px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:41px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:452px;
  width:362px;
  height:41px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:2px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:585px;
  width:894px;
  height:1px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:612px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:612px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:613px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:612px;
  width:160px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:652px;
  width:60px;
  height:16px;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:692px;
  width:60px;
  height:16px;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:652px;
  width:60px;
  height:16px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:695px;
  width:60px;
  height:16px;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:653px;
  width:60px;
  height:16px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:693px;
  width:60px;
  height:16px;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:66px;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:645px;
  width:83px;
  height:66px;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 255, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:229px;
  width:718px;
  height:42px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:243px;
  width:54px;
  height:16px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u2944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:373px;
  width:94px;
  height:16px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u2946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:393px;
  width:60px;
  height:16px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:413px;
  width:60px;
  height:16px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:432px;
  width:60px;
  height:16px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:452px;
  width:60px;
  height:16px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:472px;
  width:60px;
  height:16px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:353px;
  width:120px;
  height:16px;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:254px;
  width:60px;
  height:16px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:274px;
  width:60px;
  height:16px;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:293px;
  width:60px;
  height:16px;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:313px;
  width:60px;
  height:16px;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:333px;
  width:60px;
  height:16px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:214px;
  width:60px;
  height:20px;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:243px;
  width:104px;
  height:16px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:240px;
  width:104px;
  height:23px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:239px;
  width:96px;
  height:25px;
}
#u2974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2974_input {
  font-family:'应用字体';
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:239px;
  width:96px;
  height:25px;
}
#u2975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2975_input {
  font-family:'应用字体';
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:239px;
  width:96px;
  height:25px;
}
#u2976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2976_input {
  font-family:'应用字体';
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:239px;
  width:100px;
  height:25px;
}
#u2977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2977_input {
  font-family:'应用字体';
}
#u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5.7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:271px;
  width:718px;
  height:38px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:282px;
  width:60px;
  height:16px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:282px;
  width:60px;
  height:16px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:282px;
  width:60px;
  height:16px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:282px;
  width:60px;
  height:16px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:316px;
  width:709px;
  height:138px;
}
#u2989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:61px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:61px;
  text-align:center;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:61px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:82px;
  height:61px;
  text-align:center;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:61px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:97px;
  height:61px;
  text-align:center;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:93px;
  word-wrap:break-word;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:61px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:115px;
  height:61px;
  text-align:center;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:111px;
  word-wrap:break-word;
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:0px;
  width:88px;
  height:61px;
  text-align:center;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:88px;
  height:61px;
  text-align:center;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:0px;
  width:88px;
  height:61px;
  text-align:center;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:61px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:0px;
  width:88px;
  height:61px;
  text-align:center;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  word-wrap:break-word;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:58px;
  height:36px;
  text-align:center;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:61px;
  width:82px;
  height:36px;
  text-align:center;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u3009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:61px;
  width:97px;
  height:36px;
  text-align:center;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u3011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:61px;
  width:115px;
  height:36px;
  text-align:center;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u3013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:61px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:61px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:61px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:61px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u3021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:58px;
  height:36px;
  text-align:center;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u3023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:97px;
  width:82px;
  height:36px;
  text-align:center;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u3025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:97px;
  width:97px;
  height:36px;
  text-align:center;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u3027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:97px;
  width:115px;
  height:36px;
  text-align:center;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u3029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:97px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:97px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:97px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:97px;
  width:88px;
  height:36px;
  text-align:center;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u3037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:43px;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:452px;
  width:99px;
  height:43px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:900px;
  height:42px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:16px;
  width:180px;
  height:16px;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u3043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:16px;
  width:110px;
  height:16px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:16px;
  width:130px;
  height:16px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:16px;
  width:190px;
  height:16px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:52px;
  width:305px;
  height:88px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:56px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:68px;
  width:572px;
  height:56px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:150px;
  width:900px;
  height:42px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:163px;
  width:33px;
  height:16px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u3057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:163px;
  width:100px;
  height:16px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:16px;
  width:108px;
  height:16px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u3061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:163px;
  width:37px;
  height:16px;
  font-size:13px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u3063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:163px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:164px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:165px;
  width:57px;
  height:16px;
  font-size:13px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:16px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
