/*liangsx add 首页背景 */
    .bgf1{
        background-color: #f1f1f1;
    }
input,button{
    outline: none!important;
}
.top{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #f5f5f5;
    color: #666;
    font-size: 12px;
}

.top-left span{
    margin-right: 30px;
}
.top-right a,
.top-right i {
    margin-left: 14px;
    color: #666;
}
.top-right a:hover{
    color: #ec6000;
}
.top-right i{
    position: relative;
    top: -2px;
    color: #ddd;
}

.top-right a.follow{
    position: relative;
    display: inline-block;
    margin-left: 4px;
    width: 80px;
    text-align: center;
}
.top-right a.follow i{
    margin-left:5px;
    top:1px;
    transition:all 300ms linear;
}
.top-right a.follow:hover{
    background: #fff;
}
.top-right a.follow:hover i{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.guangshu{
    position: absolute;
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-top:0;
    left:-1px;
    top:36px;
    z-index: 99;
    background: #fff;
    display: none;
}
.top-right a.follow:hover .guangshu{
    display: block;
}
.overflow-inherit{
    overflow: inherit;
}

.header{
    width: 100%;
    background: #fff;
    padding-top: 32px;
}

.logo{
    width: 260px;
    overflow: hidden;
}
.logo img{max-height: 66px;}

.search{
    margin-right: 220px;
    width: 610px;
    overflow: hidden;
}
.search-input{position: relative;}
.search-input input{
    width: 100%;
    border: 2px solid #2b4099;
    padding-right:118px;
    height: 44px;
}
.search-input button{
    width: 118px;
    height: 44px;
    border-radius: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9;
    font-size: 16px;
}

.search-hot{
    font-size: 12px;
    overflow: hidden;
    margin:14px 0;
    padding-right: 46px;
    height: 16px;

}
.search-hot a{
    color: #666;
    margin-right: 6px;
}
.search-hot a:hover,
.menu a:hover,
.menu li.active a
{color: #ec6000;}
.search-hot a.more{
margin-right: -46px;
}

.menu{
    width: 1200px;
    margin: 0 auto;
}
.navbar,
.sidebar h3{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 18px;
    margin: 0;
}
.navbar li{
    padding: 0px 24px;
}
.navbar a{color: #333;}
.navbar li{
   float: left;
}

.sidebar{
    width: 260px;
    height: 50px;
    position: relative;
}
.sidebar h3{
    font-size: 16px;
}
.sidebar h3,
.sidebar ul{
    width: 100%;
    background: #2b4099;
    color: #fff;
}
.sidebar ul{
    position: absolute;
    top:50px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 9999;
    overflow-y: hidden;
}
.sidebar li a{
    display: block;
    height: 48px;
    line-height:48px;
    color: #fff;
    padding-left: 36px;
    padding-right: 46px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition:background 0.4s ease-in-out;
    -webkit-transition:background 0.4s ease-in-out;
    -moz-transition:background 0.4s ease-in-out;
    -o-transition:background 0.4s ease-in-out;
}
.sidebar li i{
    float: right;
    margin-right:-26px ;
    font-size: 20px;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;

}

.sidebar li a.current,.sidebar li a:hover{
    color: #fff;
    background: #ec6000;
}
.sidebar li a.current i,.sidebar li a:hover i{
    visibility: hidden;

}
.sidebar-hidden{
    height: 400px;
    width: 940px;
    border: 2px solid #2b4099;
    border-left: 0;
    background: #fff;
    position: absolute;
    left:260px;
    top:50px;
    padding: 30px 36px 30px 46px;
    font-size: 12px;
    z-index: 999;
}
.sidebar-hidden h4{
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    padding-bottom: 10px;
}
.sidebar-link{
    line-height: 2.6;
}
.sidebar-link a{
    white-space: nowrap;
    margin-right:15px;
    color: #666;
}
.ad-list{
    position: absolute;
    left:46px;
    bottom: 46px;
}
.ad-list .item{
    width: 264px;
    height: 144px;
    margin-right: 10px;
    border: 2px solid #efefef;
}

.banner .banner-box{
    margin-left: 260px;
}

.carousel-indicators li{
    border: none;
    background: #fff;
    margin: 1px 5px;
}
.carousel-indicators .active{
    background: #ec6000;
    border: none;
}
.carousel-control{
    width: 46px;
}
.carousel-control.left,
.carousel-control.right{
    background: none;
}

.icon-left,.icon-right{
    display: inline-block;
    width: 40px;
    height: 96px;
    position: relative;
    top:50%;
    margin-top: -48px;
    background-image: url("../images/left-right.png");
    overflow: hidden;
}
.icon-left{
    background-position:0px 0px ;
}
.icon-right{
    background-position:right 0px ;
}
.carousel-control{
    text-align: left;
}
.carousel .right{
    text-align: right;
}
.date-list{
    overflow: hidden;
    padding: 10px 0px 24px;
}
.date-list li{
    width: 20%;
    padding:6px 20px;
    text-align: center;
    float: left;
}
.date-list li img,
.date-list li span{
    display:block;
    margin: 0px auto;
}
.date-list li span{
    color: #999;
    margin-top: 20px;
    font-size: 14px;
    height: 44px;
    overflow: hidden;
}
.date-title{
    width: 360px;
    border-top: 2px solid #e6e6e6;
    margin:44px auto 10px;
    text-align: center;
}
.date-title .title{
    font-weight: 600;
    font-size: 16px;
    display: inline;
    position: relative;
    top: -15px;
    background: #f1f1f1;
    padding: 0px 36px;
}
.title{

    color: #333;
}
.title i.point{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    background: url("../images/point.png") 0px 0px no-repeat;
}
.main{
    background: #fff;
}
.bg-white{background: #fff;}
.individuation-title{
    text-align: center;
}
.individuation-title h3{
    line-height: 2;
    font-size: 24px;
    color: #000;
}
.individuation-title p{
    font-size: 30px;
    font-weight: 400;
}
.individuation-main{
    padding-top: 40px;
    overflow: hidden;
}
.individuation-left{
    width: 666px;
    overflow: hidden;
}
.individuation-right{
    width: 490px;

}
.individuation-right>p{
    overflow: hidden;
    line-height: 50px;
    margin-bottom: 12px;
}
.individuation-right p i{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    margin-right: 10px;

}
i.icon-phone{
    background: url("../images/icon-phone.png") 0px 0px;
}
i.icon-auto{
    background: url("../images/icon-phone.png")  0px bottom;
}
.fill-massage{
    border: 1px solid #f0f0f0;
    box-shadow:1px 1px 4px #eee;
    padding: 20px 16px 20px 36px;
    border-radius: 3px;
    position: relative;
    margin-top: 20px;
    font-size: 12px;
}
.fill-massage i.creta{
    position: absolute;
    top:-16px;
    left:40%;
    width: 38px;
    height: 18px;
    background: url("../images/crate.png") 0px 0px no-repeat;
}
.fill-massage .left,.fill-massage .right{
    width: 50%;
}
.fill-massage .left{
    padding-right: 15px;
    border-right: 1px solid #f0f0f0;
    color: #999;
}
.fill-massage .right{
    padding-left: 15px;
    padding-top: 20px;
}
.fill-massage input{
    background: #f8f8f8;
    border:1px solid #f0f0f0 ;
    margin: 6px 0px;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    display: block;
    outline: none;
}
.fill-massage button{
    padding:0 18px;
    border-radius: 40px;
    display: inline-block;
    color: #fff;
    height: 30px;
    margin-top:6px;
    font-size: 12px;
    outline: none!important;
}
.fill-massage button:hover{
    color: #fff;


}
.btn-orange{background: #ec6000;
    outline: none;
}
.fill-massage .left p{
    margin-top: 40px;
    color: #999;
}
.fill-massage .right p{
    padding-bottom: 10px;
    color:#0064dc ;
}
.item-cum{
    float: left;
    width: 25%;
}
.item-cum h3{
    height: 50px;
    line-height: 50px;
    color: #666;
    padding-left: 8px;
}
.item-cum h3 i.point{
    top: -1px;
}
.item-cum dl{
    border: 1px solid #dedede;
    height: 400px;
    padding: 0px 25px;
}
.item-cum dl:hover{
    border-color:#2b4099 ;
}
.item-cum dt{
    font-weight: bold;
    line-height: 90px;
    text-align: center;
    font-size: 15px;
}
.item-cum dl:hover dt{
    color:#2b4099 ;
}
.item-cum dd{
    font-size: 12px;
    padding: 10px 0px;
}
.item-cum dd a{
    color: #666;
}
.item-cum dd a:hover{
    color: #ec6000;
}
.parter h3{
    color: #666;
    padding-bottom: 10px;
}
.parter h3 i.point{
    top: -1px;
}
.parter ul{
    border: 1px solid #dedede;
    overflow: hidden;
}
.parter li{
    border-bottom: 1px solid #dedede;
    margin-bottom: -1px;
    overflow: hidden;
}
.parter li a{
    display: block;
    width: 20%;
    padding: 20px;
    float: left;
}
.parter li img{
    width: 216px;
    height:116px ;
}
.footer{
    background: #4c4848;

}
.footer .left{
    width: 460px;
}
.footer .left,.footer .right{
    color: #fff;
}
.footer .right{
    width: 630px;
    overflow: hidden;
}

.footer .left p{
    color: #fff;
    padding: 10px 0px;
}
.footer .left img{
    display: block;
    padding: 5px 0px 15px;
}
.copyright{
    background: #343232;
    font-size: 12px;
    line-height: 46px;
    color: #fff;
    text-align: center;
}
.footer-item{
    width: 25%;
    padding-right: 20px;
    float: left;
    color: #fff;
}
.footer-item h4{
    font-size: 16px;
    margin-bottom: 20px;
}
.footer-item a{
    display: block;
    line-height: 2;
    color: #fff;
}
.footer-item img{
    width: 100px;
    height: 100px;
}


/*add-数据定制*/
.date-box{
    margin: 0 30px;
}
.date-input{
    overflow: hidden;
    padding: 6px;
    padding-left: 90px;
}
.date-input label{
    float: left;
    width: 90px;
    padding-right: 10px;
    margin-left: -90px;
    line-height:34px;
    text-align: right;
    color: #666;
}
.date-input input,.date-input textarea{
    border-radius: 0;
}
.wt120{
    width: 120px;
}