@charset "utf-8";
/* 订单支付 tangyk */

.f12{font-size: 12px}
.payWrap {
	overflow:hidden;
	width: 100%;
	margin: 0px auto;
	background: #FFF;
	padding: 20px 0px;
}
.blackfont{ font-size:18px; font-weight:bold;}

.hit90{ height:90px; background:#FFF; width:auto;border-bottom:#C0C0C0 1px solid}


/*01订购成功*/
.ding{ border-bottom:4px #2b4099 solid;padding-bottom:20px;overflow: hidden;}
.ding01{ line-height:24px;}
.ding02{ text-align:right;margin-top:18px;}
.ding02 .down{display: none}
.ding02 .desc{font-size:12px}
.dingxq h1{ font-size:12px; text-align:center; color:#ea560e; margin-top:1px;cursor:pointer}

/*02展开订单*/
.dingopen{
	display:block;
	width:100%;
	line-height:22px;
	font-size:12px;
	border-bottom:1px #2b4099 solid;
	overflow:hidden;
	padding:15px 0;
}
/*下拉三角形Icon*/
.dingxq{position: relative;height:14px;line-height:14px;padding-right:25px;margin-top:8px;font-size:12px;color:red;overflow:hidden;}
.arrow_up{
	top: 3px;
	right: 6px;
	height: 6px;
	overflow: hidden;
	font: 400 14px/14px consolas;
	color: #f00;
	position: absolute;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}

.arrow_up s{
	display: block;
	top: 2px;
	top: 2px\9;
	text-decoration: none;
	position: relative;
	font-weight: bold\9;
}  
.arrow_down{
	top: 5px;
	right: 6px;
	height: 6px;
	overflow: hidden;
	font: 400 14px/14px consolas;
	color: #f00;
	position: absolute;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}

.arrow_down s{
	display: block;
	top: -6px;
	top: -7px\9;
	text-decoration: none;
	position: relative;
	font-weight: bold\9;
} 
/*.dingxq:hover .ci_right{
	transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
 }*/

/*03我的银行*/
.bankWrap { border-bottom:#ddd 1px solid;margin:5px 20px 15px;border-width:0px; padding:2px; overflow:hidden;} 
.bank {height:70px;width:100%;font-size:12px;border-spacing:0px }
.mybank_title {border-bottom:1px #cecece solid; height:49px;line-height:70px;margin-top:-15px;}
.mybank_title h3 {
	display:block;
	color:#666;
	font-size:16px;
	font-weight:normal;
	margin:15px 10px 0 0;
	padding:0px 20px;
	float: left; 
	height: 32px; 
	cursor: pointer; 
	text-align:center;
	line-height:32px;
	background:#f1f2f7;
	border-top-left-radius: 3px;
 border-top-right-radius: 3px;
}
 .mybank_title span{font-size:12px;} 


.pay_select{width:100%;overflow:hidden;padding-bottom:15px;}
.pay_select ul li{ display:inline-block; *float:left;width:150px;height:45px;cursor:pointer; overflow:hidden;margin:5px 8px;border:1px solid #dddddd;text-align: center;padding-top:5px;}
.pay_select ul li img{ max-width:150px; height:35px;}
.pay_select_imgOn{ border:1px solid orange!important;}


.modal { overflow: auto !important; }

/*.modal-open {overflow: scroll !important; }*/