<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8" th:remove="all">
	<title>个人中心-密码修改</title>
	<link rel="stylesheet" href="../../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/manage.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all"/>
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all"/>
	<link type="text/css" rel="stylesheet" href="../../static/js/frameajax/frameajax.css" th:remove="all"/>
	<link rel="stylesheet" href="../../static/css/index.css" th:remove="all"/>
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">

</head>
<body>
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img  src="../../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>个人中心</span></a>
				<a href=""><span >用户信息管理</span></a>
				<span class="col_999">密码修改</span>
			</div>
			<!-- <hr> -->
			
			<div class="title">密码修改</div>
			<table class="editTable ">
					<tr>
						<td class="Hint " width="140">
							用户名:
						</td>
						<td width="520">
							<input class="form-control" placeholder="" type="text"  maxlength="128" th:if="${islogin=='0'}"  id="staffIdInput">
							<span th:if="${islogin=='1'}" th:text="${staffId}"></span>
							<input type="hidden" th:value="${staffId}" th:if="${islogin=='1'}" id="staffIdHidden">
						</td>
						
					</tr>
					
					<tr>
						<td class="Hint">
							<span class="col_red"></span>原始密码:
						</td>
						<td >
							<input class="form-control" placeholder="" type="password"  maxlength="32" id="oldpasswd">
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							新建密码:
						</td>
						<td >
							<input class="form-control" placeholder="" type="password"  maxlength="32" id="newpassword">
						</td>
					</tr>
					<tr>
						<td class="Hint">
							确认密码:
						</td>
						<td >
							<input class="form-control" placeholder="" type="password"  maxlength="32" value="" id="confirmpasswd">
						</td>
						
					</tr>
			</table>	
		</div>
		<!-- 按钮 -->
			<hr>
			<div class="p20 text-center " style="margin-left: 220px;">
				<a href="javascript:;" class="btn-primary btn mr10"  onclick="domoify();">保存</a>
			</div>
	</div>

<div th:remove="all"></div>
		<div class="m_nav" th:remove="all">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的数据
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的订单
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						密码修改
					</a>
				</li>
				<li class="active">
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						企业认证
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						发票管理
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的收藏
					</a>
				</li>
			</ul>
		</nav>
	</div>



	<script src="../../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../../static/js/bootstrap.min.js" th:remove="all"></script>
	<script type="text/javascript">
	$("#mainTopDiv").addClass('clearfix m_header');
	</script>
	<style type="text/css">
	.m_header{height:auto;}
	</style>

</body>
</html>