<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>个人中心-用户信息管理</title>
	<link rel="stylesheet" href="../../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/manage.css" th:remove="all">

	<!--<script type="text/javascript" src="../../static/js/frameajax/ajaxfileupload.js" th:src="@{/js/frameajax/ajaxfileupload.js}"></script>-->
	<script type="text/javascript" src="../META-INF/resources/webjars/js/frameajax/ajaxfileupload.js" th:src="@{/webjars/js/frameajax/ajaxfileupload.js}"></script>
	<script src="../../static/js-busi/common/uploadimg.js" th:src="@{/js-busi/common/uploadimg.js}"></script>
	<script th:inline="javascript">
		var g_authenFlag = [[${userinfo.authenFlag}]]
	</script>
	<script type="text/javascript" src="../../static/js-busi/user/infomanager.js" th:src="@{/js-busi/user/infomanager.js}"></script>
</head>
<body>
	<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img  src="../../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>

	<div  layout:fragment="screen_content">
		<div class="m_main">
			<div class="m_con">
				<div class="classify">
					<i class="iconfont"></i>
					<span>当前位置：</span>
					<a href=""><span>个人中心</span></a>
					<span >用户信息管理</span>
				</div>
				<!-- <hr> -->
				<div class="title">基本信息</div>
				<table class="editTable">
						<tr>
							<td class="Hint tips" width="140">
								用户ID：
							</td>
							<td width="520">
								<input class="form-control" placeholder="" type="text"  maxlength="128" disabled th:value="${userinfo.staffId}">
							</td>
						</tr>
						<tr>
							<td ></td>
							<td>
								<span class="col_green" th:if="${userinfo.authenFlag=='1'}">已认证通过（<a th:href="@{/authenapply/userinfo}">查看</a>）</span>
								<span class="col_green" th:if="${userinfo.authenFlag=='2'}">正在认证中（<a th:href="@{/authenapply/userinfo}">修改</a>）</span>
								<span class="col_red"   th:if="${userinfo.authenFlag=='9'}">认证失败（<a th:href="@{/authenapply/userinfo}">修改</a>）</span>
								<span class="col_red"   th:if="${userinfo.authenFlag=='0'}">未认证（<a th:href="@{/authenapply/userinfo}">去认证</a>）</span>
							</td>
						</tr>
						<tr>
							<td class="Hint">
								手机号：
							</td>
							<td >
								<span th:text="${userinfo.serialNumber}" id="spanphone"></span>
								<input class="form-control" id="phoneHidden" placeholder="" type="hidden"  maxlength="11" th:value="${userinfo.serialNumber}" disabled>
								<button class="btn btn-default btn-sm " style="margin-left:30px;" onclick="initModifyPhone();">修改号码</button>
							</td>
							<td class="pl5"></td>
						</tr>
						<tr th:if="${userinfo.authenFlag!='0'}">
							<td class="Hint">
								企业名称：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="128"  th:value="${vodata.invoiceTitle}" disabled>
							</td>
						</tr>
						<tr th:if="${userinfo.authenFlag!='0'}">
							<td class="Hint">
								企业人数：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text" onkeyup="WEB.checkNum(this)" maxlength="6" id="companyPeople" th:value="${vodata.companyPeople}">
								<p class="error-tip" style="display:none;" id="companyPeople_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							</td>
						</tr>
						<tr th:if="${userinfo.authenFlag!='0'}">
							<td class="Hint">
								主营业务：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="200" id="companyBusi" th:value="${vodata.companyBusi}">
								<p class="error-tip" style="display:none;" id="companyBusi_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							</td>
						</tr>
						<tr th:if="${userinfo.authenFlag!='0'}">
							<td class="Hint">
								企业网址：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="120" id="companyUrl" th:value="${vodata.companyUrl}">
								<p class="error-tip" style="display:none;" id="companyUrl_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							</td>
						</tr>
						<tr>
							<td class="Hint">
								用户头像：
							</td>
							<td >
								<img src="" width="80" height="80" th:src="${userinfo.headSrc}" id="headVfsid" th:vfsId="${userinfo.headVfsid}">
								<input type="file" class="float_File" name="picUpLoad" id="picUpLoad" imgsize="_80x80!" onchange="onImageFileChange(this);">
								<button class="btn btn-default btn-sm" th:remove="all">修改</button>
							</td>

						</tr>
						<tr>
							<td class="Hint">
								QQ号：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="16" th:value="${userinfo.qq}" id="qq" >
							</td>
						</tr>
						<tr>
							<td class="Hint">
								微信号：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="56" th:value="${userinfo.weChat}" id="weChat" >
							</td>
						</tr>
						<tr>
							<td class="Hint">
								性别：
							</td>
							<td >
								<select  class="form-control" id="gender">
									<option value="">请选择</option>
									<option value="0" th:selected="${userinfo.gender=='0'}? 'true' : 'false'">女</option>
									<option value="1" th:selected="${userinfo.gender=='1'}? 'true' : 'false'">男</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="Hint">
								职位：
							</td>
							<td >
								<input class="form-control" placeholder="" type="text"  maxlength="128" th:value="${userinfo.job}" id="job" >
							</td>
						</tr>
				</table>

				<div th:if="${userinfo.authenFlag!='0'}">
				<div class="title">联系信息</div>
				<table class="editTable">
					<tr>
						<td class="Hint" width="140">联系人：</td>
						<td width="520">
							<input class="form-control" placeholder="" type="text" id="relName" maxlength="16" onfocus="hiddenwarm('relName');" th:value="${vodata.relName}">
							<p class="error-tip" style="display:none;" id="relName_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>

						</td>
					</tr>
					<tr>
						<td class="Hint" width="140">联系人电话：</td>
						<td>
							<input class="form-control" placeholder="" type="text" id="phone" maxlength="11" onfocus="hiddenwarm('phone');" th:value="${vodata.phone}">
							<p class="error-tip" style="display:none;" id="phone_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint" width="140">固话：</td>
						<td>
							<input class="form-control" placeholder="" type="text"  maxlength="20" id="companyTel" th:value="${vodata.companyTel}">
							<p class="error-tip" style="display:none;" id="companyTel_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint" width="140">传真：</td>
						<td>
							<input class="form-control" placeholder="" type="text"  maxlength="20" id="companyFax" th:value="${vodata.companyFax}">
							<p class="error-tip" style="display:none;" id="companyFax_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint" width="140">邮箱：</td>
						<td>
							<input class="form-control" placeholder="" type="text"  maxlength="60" id="companyMail" th:value="${vodata.companyMail}">
							<p class="error-tip" style="display:none;" id="companyMail_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint">
							<span class="col_red">*</span>公司地址：
						</td>
						<td >
							<form class="form-inline">
								<div class="form-group">
									<select  class="form-control" id="province" onfocus="hiddenwarm('areainfo');">
										<option value="">省份</option>
										<option value="59" th:each="province,provinceStat:${provinceList}" th:text="${province.areaName}" th:value="${province.areaCode}" th:selected="${vodata != null} and ${#strings.equals(province.areaCode, vodata.provinceCode)}">广西</option>
										<option value="71" th:remove="all">湖南</option>
										<option value="74" th:remove="all">广东</option>
									</select>
									<select  class="form-control" id="city" onfocus="hiddenwarm('areainfo');">
										<option value="">地级市</option>
										<option value="59" th:each="city,cityStat:${cityList}" th:value="${city.areaCode}" th:text="${city.areaName}" th:selected="${vodata != null} and ${#strings.equals(city.areaCode, vodata.cityCode)}">广西</option>
										<option value="71" th:remove="all">湖南</option>
										<option value="74" th:remove="all">广东</option>
									</select>
									<select  class="form-control" id="country" onfocus="hiddenwarm('areainfo');">
										<option value="">市、县级市、县</option>
										<option value="59" th:each="country,countryStat:${countryList}" th:value="${country.areaCode}" th:text="${country.areaName}" th:selected="${vodata != null} and ${#strings.equals(country.areaCode, vodata.countryCode)}">广西</option>
										<option value="71" th:remove="all">湖南</option>
										<option value="74" th:remove="all">广东</option>
									</select>
								</div>
								<p class="error-tip" style="display:none;" id="areainfo_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							</form>
						</td>
					</tr>
					<tr>
						<td class="Hint">
							<span class="col_red">*</span>详细地址：
						</td>
						<td >
							<input class="form-control" placeholder="" type="text" id="detailAddress" maxlength="256" onfocus="hiddenwarm('detailAddress');" th:value="${vodata.contactInfo}">
							<p class="error-tip" style="display:none;" id="detailAddress_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
				</table>
				</div>
			</div>
			<!-- 按钮 -->
			<hr>
			<div class="p20 text-center " style="margin-left: 220px;">
				<a href="javascript:;" class="btn-primary btn mr10" onclick="updateInfo();">保存</a>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改手机号码</h4>
					</div>
					<div class="modal-body">
						<table class="editTable " style="width:80%;">
							<tr>
								<td class="Hint">
									原手机号码:
								</td>
								<td >
									<input style="width:50%;" class="form-control" placeholder="" type="text"  maxlength="128" disabled id="oldphoneNo" th:value="${userinfo.serialNumber}">
								</td>
							</tr>
							<tr>
								<td class="Hint">
									验证码:
								</td>
								<td >
									<div class="form-inline">
										<input class="form-control wt150" placeholder="" type="text"  maxlength="4" id="picCode">
										<img  src="" height="30" width="100" id="imgcaptcha" onclick="checkImgChng();">
									</div>
								</td>
								<td  ></td>
							</tr>
							<tr>
								<td class="Hint">
									短信验证码:
								</td>
								<td >
									<div class="form-inline">
										<input class="form-control wt150" placeholder="" type="text"  maxlength="6" id="smsCode">
										<button class="btn btn-default btn-sm " onclick="sendSmsCode();" id="getcodebtn">获取短信验证码</button>
									</div>

								</td>

							</tr>

						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="nextStep();">下一步</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabelNew">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabelNew">修改手机号码</h4>
					</div>
					<div class="modal-body">
						<table class="editTable " style="width:80%;">
							<tr>
								<td class="Hint">
									新手机号码:
								</td>
								<td >
									<input style="width:50%;" class="form-control" placeholder="" type="text"  maxlength="11" id="newphoneNo">
								</td>
							</tr>
							<tr>
								<td class="Hint">
									验证码:
								</td>
								<td >
									<div class="form-inline">
										<input class="form-control wt150" placeholder="" type="text"  maxlength="4" id="picCodeNew">
										<img  src="" height="30" width="100" id="imgcaptchaNew" onclick="checkImgChngNew();">
									</div>
								</td>
								<td  ></td>
							</tr>
							<tr>
								<td class="Hint">
									短信验证码:
								</td>
								<td >
									<div class="form-inline">
										<input class="form-control wt150" placeholder="" type="text"  maxlength="6" id="smsCodeNew">
										<button class="btn btn-default btn-sm " onclick="sendSmsCodeNew();" id="getcodebtnNew">获取短信验证码</button>
									</div>

								</td>

							</tr>

						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="updatePhone();">保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="m_nav" th:remove="all">
	<nav class="nav">
		<ul>
			<li class="navTit">
				<i class="glyphicon glyphicon-compressed"></i>
				个人中心
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
				</a>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					用户中心
					<span class="caret"></span>
				</a>
				<ol class="infoItem">
					<li >
						<a th:href="@{/password/modify}">密码修改</a>
					</li>
					<li >
						<a th:href="@{/infomanager/pageInit}">资料修改</a>
					</li>
				</ol>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					企业认证
					<span class="caret"></span>
				</a>
				<ol class="infoItem">
					<li >
						<a th:href="@{/authencheck/pageInit}">认证审核</a>
					</li>
					<li >
						<a th:href="@{/authenapply/userinfo}">认证申请</a>
					</li>
				</ol>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					商品管理
					<span class="caret"></span>
				</a>
				<ol class="infoItem">
					<li class="active">
						<a th:href="@{/gdsEdit/pageInit}"></i>商品录入</a>
					</li>
					<li >
						<a th:href="@{/gdsManage/index}"></i>商品管理</a>
					</li>
				</ol>
			</li>
			<li>
				<a href="">
					<i ></i>
					首页管理
					<span class="caret"></span>
				</a>
				<ul class="infoItem">
					<li >
						<a th:href="@{/pageManage/moduleManage}">楼层管理</a>
					</li>
					<li >
						<a th:href="@{/pageManage/newsInfo}">新闻管理</a>
					</li>
				</ul>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li th:remove="all">
				<a href="">
					<i class=""></i>
					一级目录
					<span class="caret"></span>
				</a>
				<ul class="infoItem">
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
				</ul>
			</li>
			<li th:remove="all">
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
				<ul class="infoItem">
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
</body>
</html>