<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!-- 定义report-web模块使用的公共资源 -->
<head th:fragment="syshead">
    <meta charset="UTF-8" th:remove="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all">
    <link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.css" th:href="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.css}"/>
    <script th:inline="javascript">
        var WEB_ROOT = [[${#httpServletRequest.contextPath}]];
    </script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.js" th:src="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.js}"></script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/locale/bootstrap-table-zh-CN.js"  th:src="@{/webjars/bootstrap-table/1.11.1/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/extensions/export/bootstrap-table-export.js"  th:src="@{/webjars/bootstrap-table/1.11.1/dist/extensions/export/bootstrap-table-export.min.js}"></script>
    <script src="../../META-INF/resources/webjars/tableExport.jquery.plugin/1.9.0/tableExport.min.js"  th:src="@{/webjars/tableExport.jquery.plugin/1.9.0/tableExport.min.js}"></script>

</head>
<body class="bgf1" th:remove="all">
</body>
</html>