body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:570px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:986px;
  height:570px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:33px;
  width:305px;
  height:88px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:439px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:131px;
  width:488px;
  height:439px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:72px;
  width:180px;
  height:38px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:510px;
  width:146px;
  height:33px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
