body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:20px;
  width:986px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:33px;
  width:305px;
  height:88px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:273px;
  top:131px;
  width:488px;
  height:439px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:439px;
}
#u5 {
  position:absolute;
  left:2px;
  top:212px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:790px;
  top:72px;
  width:180px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:444px;
  top:510px;
  width:146px;
  height:33px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
