<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-商品管理-波哥-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-商品管理-波哥-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-商品管理-波哥-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u4019" class="ax_default _形状">
        <div id="u4019_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4020" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4021" class="ax_default _形状">
        <div id="u4021_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4022" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4023" class="ax_default _文本">
        <div id="u4023_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4024" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4025" class="ax_default _文本">
        <div id="u4025_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4026" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4027" class="ax_default _文本">
        <div id="u4027_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4028" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4029" class="ax_default _文本">
        <div id="u4029_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4030" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4031" class="ax_default _图像">
        <img id="u4031_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u4032" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4033" class="ax_default _图像">
        <img id="u4033_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u4034" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4035" class="ax_default _形状">
        <div id="u4035_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4036" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4037" class="ax_default _文本">
        <div id="u4037_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4038" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4039" class="ax_default _文本">
        <div id="u4039_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4040" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4041" class="ax_default _横线">
        <img id="u4041_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u4042" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4043" class="ax_default _文本">
        <div id="u4043_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4044" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4045" class="ax_default _文本">
        <div id="u4045_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4046" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4047" class="ax_default _文本">
        <div id="u4047_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4048" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4049" class="ax_default _文本">
        <div id="u4049_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4050" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4051" class="ax_default _文本">
        <div id="u4051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4052" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4053" class="ax_default _文本">
        <div id="u4053_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4054" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4055" class="ax_default _文本">
        <div id="u4055_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4056" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4057" class="ax_default _文本">
        <div id="u4057_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4058" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4059" class="ax_default _文本">
        <div id="u4059_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4060" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4061" class="ax_default _文本">
        <div id="u4061_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4062" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4063" class="ax_default _图像">
        <img id="u4063_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u4064" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4065" class="ax_default _文本">
        <div id="u4065_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4066" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4067" class="ax_default _形状">
        <div id="u4067_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4068" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4069" class="ax_default _文本">
        <div id="u4069_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4070" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4071" class="ax_default _文本">
        <div id="u4071_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4072" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u4073" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u4074" class="ax_default _表格单元">
          <img id="u4074_img" class="img " src="images/个人中心-我的订单/u593.png"/>
          <!-- Unnamed () -->
          <div id="u4075" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4076" class="ax_default _表格单元">
          <img id="u4076_img" class="img " src="images/个人中心-我的订单/u595.png"/>
          <!-- Unnamed () -->
          <div id="u4077" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4078" class="ax_default _表格单元">
          <img id="u4078_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4079" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4080" class="ax_default _表格单元">
          <img id="u4080_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4081" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4082" class="ax_default _表格单元">
          <img id="u4082_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4083" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4084" class="ax_default _表格单元">
          <img id="u4084_img" class="img " src="images/个人中心-发票管理/u1189.png"/>
          <!-- Unnamed () -->
          <div id="u4085" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4086" class="ax_default _表格单元">
          <img id="u4086_img" class="img " src="images/个人中心-我的订单/u605.png"/>
          <!-- Unnamed () -->
          <div id="u4087" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4088" class="ax_default _表格单元">
          <img id="u4088_img" class="img " src="images/个人中心-发票管理/u1193.png"/>
          <!-- Unnamed () -->
          <div id="u4089" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4090" class="ax_default _表格单元">
          <img id="u4090_img" class="img " src="images/个人中心-我的订单/u613.png"/>
          <!-- Unnamed () -->
          <div id="u4091" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4092" class="ax_default _表格单元">
          <img id="u4092_img" class="img " src="images/个人中心-我的订单/u615.png"/>
          <!-- Unnamed () -->
          <div id="u4093" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4094" class="ax_default _表格单元">
          <img id="u4094_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4095" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4096" class="ax_default _表格单元">
          <img id="u4096_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4097" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4098" class="ax_default _表格单元">
          <img id="u4098_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4099" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4100" class="ax_default _表格单元">
          <img id="u4100_img" class="img " src="images/个人中心-发票管理/u1205.png"/>
          <!-- Unnamed () -->
          <div id="u4101" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4102" class="ax_default _表格单元">
          <img id="u4102_img" class="img " src="images/个人中心-我的订单/u625.png"/>
          <!-- Unnamed () -->
          <div id="u4103" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4104" class="ax_default _表格单元">
          <img id="u4104_img" class="img " src="images/个人中心-发票管理/u1209.png"/>
          <!-- Unnamed () -->
          <div id="u4105" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4106" class="ax_default _表格单元">
          <img id="u4106_img" class="img " src="images/个人中心-发票管理/u1211.png"/>
          <!-- Unnamed () -->
          <div id="u4107" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4108" class="ax_default _表格单元">
          <img id="u4108_img" class="img " src="images/个人中心-发票管理/u1213.png"/>
          <!-- Unnamed () -->
          <div id="u4109" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4110" class="ax_default _表格单元">
          <img id="u4110_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4111" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4112" class="ax_default _表格单元">
          <img id="u4112_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4113" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4114" class="ax_default _表格单元">
          <img id="u4114_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4115" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4116" class="ax_default _表格单元">
          <img id="u4116_img" class="img " src="images/个人中心-发票管理/u1221.png"/>
          <!-- Unnamed () -->
          <div id="u4117" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4118" class="ax_default _表格单元">
          <img id="u4118_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u4119" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4120" class="ax_default _表格单元">
          <img id="u4120_img" class="img " src="images/个人中心-发票管理/u1225.png"/>
          <!-- Unnamed () -->
          <div id="u4121" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4122" class="ax_default _图像">
        <img id="u4122_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u4123" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4124" class="ax_default _横线">
        <img id="u4124_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u4125" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4126" class="ax_default _文本">
        <div id="u4126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4127" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4128" class="ax_default _文本">
        <div id="u4128_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4129" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4130" class="ax_default _文本">
        <div id="u4130_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4131" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4132" class="ax_default _文本">
        <div id="u4132_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4133" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4134" class="ax_default _文本">
        <div id="u4134_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4135" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4136" class="ax_default _文本">
        <div id="u4136_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4137" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4138" class="ax_default _文本">
        <div id="u4138_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4139" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4140" class="ax_default _文本">
        <div id="u4140_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4141" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4142" class="ax_default _文本">
        <div id="u4142_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4143" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4144" class="ax_default _文本">
        <div id="u4144_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4145" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4146" class="ax_default _图像">
        <img id="u4146_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u4147" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4148" class="ax_default _形状">
        <div id="u4148_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4149" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4150" class="ax_default _文本">
        <div id="u4150_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4151" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4152" class="ax_default _文本">
        <div id="u4152_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4153" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4154" class="ax_default _文本">
        <div id="u4154_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4155" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4156" class="ax_default _文本">
        <div id="u4156_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4157" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4158" class="ax_default _文本">
        <div id="u4158_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4159" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4160" class="ax_default _文本">
        <div id="u4160_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4161" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4162" class="ax_default _文本">
        <div id="u4162_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4163" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4164" class="ax_default _文本">
        <div id="u4164_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4165" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4166" class="ax_default _文本">
        <div id="u4166_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4167" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4168" class="ax_default _文本">
        <div id="u4168_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4169" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4170" class="ax_default _文本">
        <div id="u4170_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4171" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4172" class="ax_default _文本">
        <div id="u4172_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4173" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4174" class="ax_default _文本">
        <div id="u4174_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4175" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4176" class="ax_default _文本">
        <div id="u4176_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4177" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
