<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-商品投诉</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-商品投诉/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-商品投诉/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1437" class="ax_default box_1">
        <div id="u1437_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1438" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1439" class="ax_default _横线">
        <img id="u1439_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u1440" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1441" class="ax_default _文本">
        <div id="u1441_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1442" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1443" class="ax_default _文本">
        <div id="u1443_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1444" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1445" class="ax_default _文本">
        <div id="u1445_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1446" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1447" class="ax_default _文本">
        <div id="u1447_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1448" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1449" class="ax_default _文本">
        <div id="u1449_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1450" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1451" class="ax_default _文本">
        <div id="u1451_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1452" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1453" class="ax_default _文本">
        <div id="u1453_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1454" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1455" class="ax_default _文本">
        <div id="u1455_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1456" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1457" class="ax_default _文本">
        <div id="u1457_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1458" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1459" class="ax_default _文本">
        <div id="u1459_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1460" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1461" class="ax_default _图像">
        <img id="u1461_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u1462" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1463" class="ax_default _形状">
        <div id="u1463_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1464" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1465" class="ax_default _文本">
        <div id="u1465_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1466" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1467" class="ax_default _文本">
        <div id="u1467_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1468" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的订单</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1469" class="ax_default _文本">
        <div id="u1469_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1470" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">密码修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1471" class="ax_default _文本">
        <div id="u1471_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1472" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1473" class="ax_default _文本">
        <div id="u1473_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1474" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1475" class="ax_default _文本">
        <div id="u1475_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1476" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的收藏</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1477" class="ax_default _文本">
        <div id="u1477_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1478" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 商品投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1479" class="ax_default _横线">
        <img id="u1479_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u1480" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1481" class="ax_default _文本">
        <div id="u1481_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1482" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1483" class="ax_default _文本">
        <div id="u1483_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1484" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1485" class="ax_default _文本">
        <div id="u1485_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1486" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1487" class="ax_default _文本">
        <div id="u1487_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1488" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1489" class="ax_default _文本">
        <div id="u1489_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1490" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1491" class="ax_default _文本">
        <div id="u1491_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1492" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1493" class="ax_default _文本">
        <div id="u1493_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1494" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1495" class="ax_default _文本">
        <div id="u1495_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1496" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1497" class="ax_default _文本">
        <div id="u1497_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1498" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1499" class="ax_default _文本">
        <div id="u1499_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1500" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1501" class="ax_default _图像">
        <img id="u1501_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u1502" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1503" class="ax_default _形状">
        <div id="u1503_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1504" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1505" class="ax_default _文本">
        <div id="u1505_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1506" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">如果您对我们的商品或者服务有不满之处，请在此提交投诉，我们会尽快给予答复或处理！谢谢！</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1507" class="ax_default _形状">
        <div id="u1507_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1508" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1509" class="ax_default _文本">
        <div id="u1509_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1510" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1511" class="ax_default _文本">
        <div id="u1511_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1512" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1513" class="ax_default _文本">
        <div id="u1513_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1514" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1515" class="ax_default _文本">
        <div id="u1515_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1516" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1517" class="ax_default _图像">
        <img id="u1517_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u1518" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1519" class="ax_default _图像">
        <img id="u1519_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u1520" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1521" class="ax_default _形状">
        <div id="u1521_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1522" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1523" class="ax_default _文本">
        <div id="u1523_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1524" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1525" class="ax_default _文本">
        <div id="u1525_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1526" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1527" class="ax_default _文本">
        <div id="u1527_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1528" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1529" class="ax_default label">
        <div id="u1529_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1530" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1531" class="ax_default label">
        <div id="u1531_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1532" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">定制数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1533" class="ax_default label">
        <div id="u1533_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1534" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">解决方案</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1535" class="ax_default label">
        <div id="u1535_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1536" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1537" class="ax_default label">
        <div id="u1537_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1538" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">星期一&nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1539" class="ax_default">

        <!-- Unnamed (表格单元) -->
        <div id="u1540" class="ax_default _表格单元">
          <img id="u1540_img" class="img " src="images/个人中心-商品投诉/u1540.png"/>
          <!-- Unnamed () -->
          <div id="u1541" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1542" class="ax_default _表格单元">
          <img id="u1542_img" class="img " src="images/个人中心-商品投诉/u1540.png"/>
          <!-- Unnamed () -->
          <div id="u1543" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">下单时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1544" class="ax_default _表格单元">
          <img id="u1544_img" class="img " src="images/个人中心-商品投诉/u1540.png"/>
          <!-- Unnamed () -->
          <div id="u1545" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1546" class="ax_default _表格单元">
          <img id="u1546_img" class="img " src="images/个人中心-商品投诉/u1540.png"/>
          <!-- Unnamed () -->
          <div id="u1547" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">接口名称</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1548" class="ax_default _表格单元">
          <img id="u1548_img" class="img " src="images/个人中心-商品投诉/u1548.png"/>
          <!-- Unnamed () -->
          <div id="u1549" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1550" class="ax_default _表格单元">
          <img id="u1550_img" class="img " src="images/个人中心-商品投诉/u1550.png"/>
          <!-- Unnamed () -->
          <div id="u1551" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017090192019</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1552" class="ax_default _表格单元">
          <img id="u1552_img" class="img " src="images/个人中心-商品投诉/u1550.png"/>
          <!-- Unnamed () -->
          <div id="u1553" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017 04-12 14：22</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1554" class="ax_default _表格单元">
          <img id="u1554_img" class="img " src="images/个人中心-商品投诉/u1550.png"/>
          <!-- Unnamed () -->
          <div id="u1555" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已支付</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1556" class="ax_default _表格单元">
          <img id="u1556_img" class="img " src="images/个人中心-商品投诉/u1550.png"/>
          <!-- Unnamed () -->
          <div id="u1557" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">查询身份证真伪</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1558" class="ax_default _表格单元">
          <img id="u1558_img" class="img " src="images/个人中心-商品投诉/u1558.png"/>
          <!-- Unnamed () -->
          <div id="u1559" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1560" class="ax_default _表格单元">
          <img id="u1560_img" class="img " src="images/个人中心-商品投诉/u1560.png"/>
          <!-- Unnamed () -->
          <div id="u1561" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017090192032</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1562" class="ax_default _表格单元">
          <img id="u1562_img" class="img " src="images/个人中心-商品投诉/u1560.png"/>
          <!-- Unnamed () -->
          <div id="u1563" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017 04-10 12：00</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1564" class="ax_default _表格单元">
          <img id="u1564_img" class="img " src="images/个人中心-商品投诉/u1560.png"/>
          <!-- Unnamed () -->
          <div id="u1565" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已支付</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1566" class="ax_default _表格单元">
          <img id="u1566_img" class="img " src="images/个人中心-商品投诉/u1560.png"/>
          <!-- Unnamed () -->
          <div id="u1567" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">查询手机号码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1568" class="ax_default _表格单元">
          <img id="u1568_img" class="img " src="images/个人中心-商品投诉/u1568.png"/>
          <!-- Unnamed () -->
          <div id="u1569" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1570" class="ax_default box_1">
        <div id="u1570_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1571" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1572" class="ax_default button">
        <div id="u1572_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1573" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我要投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1574" class="ax_default button">
        <div id="u1574_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1575" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1576" class="ax_default label">
        <div id="u1576_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1577" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">开始时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1578" class="ax_default label">
        <div id="u1578_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1579" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">截止时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1580" class="ax_default label">
        <div id="u1580_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1581" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关键字：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1582" class="ax_default _文本框_单行_">
        <input id="u1582_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1583" class="ax_default _文本框_单行_">
        <input id="u1583_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1584" class="ax_default _文本框_单行_">
        <input id="u1584_input" type="text" value="订单编码，接口名称" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u1585" class="ax_default html__">
        <input id="u1585_input" type="submit" value="查询" class="text_sketch"/>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1586" class="ax_default _图像">
        <img id="u1586_img" class="img " src="images/个人中心-商品投诉/u1586.png"/>
        <!-- Unnamed () -->
        <div id="u1587" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1588" class="ax_default link_button">
        <div id="u1588_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1589" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我要投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1590" class="ax_default link_button">
        <div id="u1590_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1591" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我要投诉</span></p>
        </div>
      </div>

      <!-- 我要投诉 (动态面板) -->
      <div id="u1592" class="ax_default ax_default_hidden" data-label="我要投诉" style="display:none; visibility: hidden">
        <div id="u1592_state0" class="panel_state" data-label="状态1" style="">
          <div id="u1592_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u1593" class="ax_default box_1">
              <div id="u1593_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1594" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1595" class="ax_default box_1">
              <div id="u1595_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1596" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1597" class="ax_default label">
              <div id="u1597_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1598" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">我要投诉</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1599" class="ax_default label">
              <div id="u1599_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1600" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">用户名称</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1601" class="ax_default label">
              <div id="u1601_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1602" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">供货商名称</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1603" class="ax_default label">
              <div id="u1603_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1604" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">投诉事项</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1605" class="ax_default label">
              <div id="u1605_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1606" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">涉及订单</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1607" class="ax_default label">
              <div id="u1607_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1608" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">联系电话</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框(单行)) -->
            <div id="u1609" class="ax_default _文本框_单行_">
              <input id="u1609_input" type="text" value="" class="text_sketch"/>
            </div>

            <!-- Unnamed (文本框(单行)) -->
            <div id="u1610" class="ax_default _文本框_单行_">
              <input id="u1610_input" type="text" value="" class="text_sketch"/>
            </div>

            <!-- Unnamed (文本框(单行)) -->
            <div id="u1611" class="ax_default _文本框_单行_">
              <input id="u1611_input" type="text" value="" class="text_sketch"/>
            </div>

            <!-- Unnamed (文本框(单行)) -->
            <div id="u1612" class="ax_default _文本框_单行_">
              <input id="u1612_input" type="text" value="" class="text_sketch"/>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1613" class="ax_default label">
              <div id="u1613_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1614" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';">投诉内容</span></p>
              </div>
            </div>

            <!-- Unnamed (文本框(多行)) -->
            <div id="u1615" class="ax_default _文本框_多行_">
              <textarea id="u1615_input" class="text_sketch"></textarea>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1616" class="ax_default label">
              <div id="u1616_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1617" class="text">
                <p><span style="font-family:'应用字体 Regular', '应用字体';color:#FF0000;">*</span><span style="font-family:'应用字体 Regular', '应用字体';"> 上传凭证</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u1618" class="ax_default placeholder">
              <img id="u1618_img" class="img " src="images/个人中心-商品投诉/u1618.png"/>
              <!-- Unnamed () -->
              <div id="u1619" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u1620" class="ax_default placeholder">
              <img id="u1620_img" class="img " src="images/个人中心-商品投诉/u1618.png"/>
              <!-- Unnamed () -->
              <div id="u1621" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u1622" class="ax_default placeholder">
              <img id="u1622_img" class="img " src="images/个人中心-商品投诉/u1618.png"/>
              <!-- Unnamed () -->
              <div id="u1623" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u1624" class="ax_default placeholder">
              <img id="u1624_img" class="img " src="images/个人中心-商品投诉/u1618.png"/>
              <!-- Unnamed () -->
              <div id="u1625" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u1626" class="ax_default placeholder">
              <img id="u1626_img" class="img " src="images/个人中心-商品投诉/u1618.png"/>
              <!-- Unnamed () -->
              <div id="u1627" class="text" style="display:none; visibility: hidden">
                <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
              </div>
            </div>

            <!-- Unnamed (HTML按钮) -->
            <div id="u1628" class="ax_default html__">
              <input id="u1628_input" type="submit" value="提交投诉" class="text_sketch"/>
            </div>

            <!-- Unnamed (HTML按钮) -->
            <div id="u1629" class="ax_default html__">
              <input id="u1629_input" type="submit" value="取消" class="text_sketch"/>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u1630" class="ax_default _下拉列表框">
              <select id="u1630_input" class="text_sketch">
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1631" class="ax_default box_1">
        <div id="u1631_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1632" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1633" class="ax_default button">
        <div id="u1633_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1634" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我要投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1635" class="ax_default button">
        <div id="u1635_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1636" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的投诉</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1637" class="ax_default _图像">
        <img id="u1637_img" class="img " src="images/个人中心-商品投诉/u1637.png"/>
        <!-- Unnamed () -->
        <div id="u1638" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
