<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-用户管理-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-用户管理-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-用户管理-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u3744" class="ax_default _形状">
        <div id="u3744_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3745" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3746" class="ax_default _形状">
        <div id="u3746_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3747" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3748" class="ax_default _文本">
        <div id="u3748_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3749" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3750" class="ax_default _文本">
        <div id="u3750_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3751" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3752" class="ax_default _文本">
        <div id="u3752_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3753" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3754" class="ax_default _文本">
        <div id="u3754_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3755" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3756" class="ax_default _图像">
        <img id="u3756_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u3757" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3758" class="ax_default _图像">
        <img id="u3758_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u3759" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3760" class="ax_default _形状">
        <div id="u3760_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3761" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3762" class="ax_default _文本">
        <div id="u3762_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3763" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3764" class="ax_default _文本">
        <div id="u3764_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3765" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3766" class="ax_default _横线">
        <img id="u3766_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3767" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3768" class="ax_default _文本">
        <div id="u3768_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3769" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3770" class="ax_default _文本">
        <div id="u3770_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3771" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3772" class="ax_default _文本">
        <div id="u3772_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3773" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3774" class="ax_default _文本">
        <div id="u3774_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3775" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3776" class="ax_default _文本">
        <div id="u3776_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3777" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3778" class="ax_default _文本">
        <div id="u3778_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3779" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3780" class="ax_default _文本">
        <div id="u3780_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3781" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3782" class="ax_default _文本">
        <div id="u3782_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3783" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3784" class="ax_default _文本">
        <div id="u3784_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3785" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3786" class="ax_default _文本">
        <div id="u3786_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3787" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3788" class="ax_default _图像">
        <img id="u3788_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u3789" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3790" class="ax_default _文本">
        <div id="u3790_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3791" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3792" class="ax_default _形状">
        <div id="u3792_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3793" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3794" class="ax_default _文本">
        <div id="u3794_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3795" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3796" class="ax_default _文本">
        <div id="u3796_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3797" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3798" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u3799" class="ax_default _表格单元">
          <img id="u3799_img" class="img " src="images/个人中心-我的订单/u593.png"/>
          <!-- Unnamed () -->
          <div id="u3800" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3801" class="ax_default _表格单元">
          <img id="u3801_img" class="img " src="images/个人中心-我的订单/u595.png"/>
          <!-- Unnamed () -->
          <div id="u3802" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3803" class="ax_default _表格单元">
          <img id="u3803_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u3804" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3805" class="ax_default _表格单元">
          <img id="u3805_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u3806" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3807" class="ax_default _表格单元">
          <img id="u3807_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u3808" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3809" class="ax_default _表格单元">
          <img id="u3809_img" class="img " src="images/个人中心-发票管理/u1189.png"/>
          <!-- Unnamed () -->
          <div id="u3810" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3811" class="ax_default _表格单元">
          <img id="u3811_img" class="img " src="images/个人中心-我的订单/u605.png"/>
          <!-- Unnamed () -->
          <div id="u3812" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3813" class="ax_default _表格单元">
          <img id="u3813_img" class="img " src="images/个人中心-发票管理/u1193.png"/>
          <!-- Unnamed () -->
          <div id="u3814" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3815" class="ax_default _表格单元">
          <img id="u3815_img" class="img " src="images/个人中心-我的订单/u613.png"/>
          <!-- Unnamed () -->
          <div id="u3816" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3817" class="ax_default _表格单元">
          <img id="u3817_img" class="img " src="images/个人中心-我的订单/u615.png"/>
          <!-- Unnamed () -->
          <div id="u3818" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3819" class="ax_default _表格单元">
          <img id="u3819_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u3820" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3821" class="ax_default _表格单元">
          <img id="u3821_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u3822" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3823" class="ax_default _表格单元">
          <img id="u3823_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u3824" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3825" class="ax_default _表格单元">
          <img id="u3825_img" class="img " src="images/个人中心-发票管理/u1205.png"/>
          <!-- Unnamed () -->
          <div id="u3826" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3827" class="ax_default _表格单元">
          <img id="u3827_img" class="img " src="images/个人中心-我的订单/u625.png"/>
          <!-- Unnamed () -->
          <div id="u3828" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3829" class="ax_default _表格单元">
          <img id="u3829_img" class="img " src="images/个人中心-发票管理/u1209.png"/>
          <!-- Unnamed () -->
          <div id="u3830" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3831" class="ax_default _表格单元">
          <img id="u3831_img" class="img " src="images/个人中心-发票管理/u1211.png"/>
          <!-- Unnamed () -->
          <div id="u3832" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3833" class="ax_default _表格单元">
          <img id="u3833_img" class="img " src="images/个人中心-发票管理/u1213.png"/>
          <!-- Unnamed () -->
          <div id="u3834" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3835" class="ax_default _表格单元">
          <img id="u3835_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u3836" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3837" class="ax_default _表格单元">
          <img id="u3837_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u3838" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3839" class="ax_default _表格单元">
          <img id="u3839_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u3840" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3841" class="ax_default _表格单元">
          <img id="u3841_img" class="img " src="images/个人中心-发票管理/u1221.png"/>
          <!-- Unnamed () -->
          <div id="u3842" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3843" class="ax_default _表格单元">
          <img id="u3843_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u3844" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3845" class="ax_default _表格单元">
          <img id="u3845_img" class="img " src="images/个人中心-发票管理/u1225.png"/>
          <!-- Unnamed () -->
          <div id="u3846" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3847" class="ax_default _图像">
        <img id="u3847_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u3848" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3849" class="ax_default _横线">
        <img id="u3849_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3850" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3851" class="ax_default _文本">
        <div id="u3851_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3852" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3853" class="ax_default _文本">
        <div id="u3853_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3854" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3855" class="ax_default _文本">
        <div id="u3855_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3856" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3857" class="ax_default _文本">
        <div id="u3857_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3858" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3859" class="ax_default _文本">
        <div id="u3859_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3860" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3861" class="ax_default _文本">
        <div id="u3861_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3862" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3863" class="ax_default _文本">
        <div id="u3863_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3864" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3865" class="ax_default _文本">
        <div id="u3865_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3866" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3867" class="ax_default _文本">
        <div id="u3867_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3868" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3869" class="ax_default _文本">
        <div id="u3869_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3870" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3871" class="ax_default _图像">
        <img id="u3871_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u3872" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3873" class="ax_default _形状">
        <div id="u3873_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3874" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3875" class="ax_default _文本">
        <div id="u3875_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3876" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3877" class="ax_default _文本">
        <div id="u3877_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3878" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3879" class="ax_default _文本">
        <div id="u3879_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3880" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3881" class="ax_default _文本">
        <div id="u3881_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3882" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3883" class="ax_default _文本">
        <div id="u3883_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3884" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3885" class="ax_default _文本">
        <div id="u3885_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3886" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3887" class="ax_default _文本">
        <div id="u3887_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3888" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3889" class="ax_default _文本">
        <div id="u3889_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3890" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3891" class="ax_default _文本">
        <div id="u3891_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3892" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3893" class="ax_default _文本">
        <div id="u3893_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3894" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3895" class="ax_default _文本">
        <div id="u3895_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3896" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3897" class="ax_default _文本">
        <div id="u3897_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3898" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3899" class="ax_default _文本">
        <div id="u3899_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3900" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3901" class="ax_default _文本">
        <div id="u3901_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3902" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
