<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-短信通道-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-短信通道-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-短信通道-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u2458" class="ax_default _形状">
        <div id="u2458_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2459" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2460" class="ax_default _形状">
        <div id="u2460_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2461" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2462" class="ax_default _文本">
        <div id="u2462_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2463" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2464" class="ax_default _文本">
        <div id="u2464_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2465" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2466" class="ax_default _文本">
        <div id="u2466_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2467" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2468" class="ax_default _文本">
        <div id="u2468_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2469" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2470" class="ax_default _图像">
        <img id="u2470_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u2471" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2472" class="ax_default _图像">
        <img id="u2472_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u2473" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2474" class="ax_default _形状">
        <div id="u2474_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2475" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2476" class="ax_default _文本">
        <div id="u2476_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2477" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2478" class="ax_default _文本">
        <div id="u2478_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2479" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2480" class="ax_default _横线">
        <img id="u2480_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u2481" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2482" class="ax_default _文本">
        <div id="u2482_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2483" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2484" class="ax_default _文本">
        <div id="u2484_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2485" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2486" class="ax_default _文本">
        <div id="u2486_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2487" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2488" class="ax_default _文本">
        <div id="u2488_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2489" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2490" class="ax_default _文本">
        <div id="u2490_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2491" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2492" class="ax_default _文本">
        <div id="u2492_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2493" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2494" class="ax_default _文本">
        <div id="u2494_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2495" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2496" class="ax_default _文本">
        <div id="u2496_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2497" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2498" class="ax_default _文本">
        <div id="u2498_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2499" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2500" class="ax_default _文本">
        <div id="u2500_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2501" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2502" class="ax_default _图像">
        <img id="u2502_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u2503" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2504" class="ax_default _文本">
        <div id="u2504_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2505" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2506" class="ax_default _形状">
        <div id="u2506_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2507" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2508" class="ax_default _文本">
        <div id="u2508_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2509" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2510" class="ax_default _文本">
        <div id="u2510_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2511" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u2512" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u2513" class="ax_default _表格单元">
          <img id="u2513_img" class="img " src="images/个人中心-我的订单/u593.png"/>
          <!-- Unnamed () -->
          <div id="u2514" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2515" class="ax_default _表格单元">
          <img id="u2515_img" class="img " src="images/个人中心-我的订单/u595.png"/>
          <!-- Unnamed () -->
          <div id="u2516" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2517" class="ax_default _表格单元">
          <img id="u2517_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u2518" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2519" class="ax_default _表格单元">
          <img id="u2519_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u2520" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2521" class="ax_default _表格单元">
          <img id="u2521_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u2522" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2523" class="ax_default _表格单元">
          <img id="u2523_img" class="img " src="images/个人中心-发票管理/u1189.png"/>
          <!-- Unnamed () -->
          <div id="u2524" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2525" class="ax_default _表格单元">
          <img id="u2525_img" class="img " src="images/个人中心-我的订单/u605.png"/>
          <!-- Unnamed () -->
          <div id="u2526" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2527" class="ax_default _表格单元">
          <img id="u2527_img" class="img " src="images/个人中心-发票管理/u1193.png"/>
          <!-- Unnamed () -->
          <div id="u2528" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2529" class="ax_default _表格单元">
          <img id="u2529_img" class="img " src="images/个人中心-我的订单/u613.png"/>
          <!-- Unnamed () -->
          <div id="u2530" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2531" class="ax_default _表格单元">
          <img id="u2531_img" class="img " src="images/个人中心-我的订单/u615.png"/>
          <!-- Unnamed () -->
          <div id="u2532" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2533" class="ax_default _表格单元">
          <img id="u2533_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u2534" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2535" class="ax_default _表格单元">
          <img id="u2535_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u2536" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2537" class="ax_default _表格单元">
          <img id="u2537_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u2538" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2539" class="ax_default _表格单元">
          <img id="u2539_img" class="img " src="images/个人中心-发票管理/u1205.png"/>
          <!-- Unnamed () -->
          <div id="u2540" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2541" class="ax_default _表格单元">
          <img id="u2541_img" class="img " src="images/个人中心-我的订单/u625.png"/>
          <!-- Unnamed () -->
          <div id="u2542" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2543" class="ax_default _表格单元">
          <img id="u2543_img" class="img " src="images/个人中心-发票管理/u1209.png"/>
          <!-- Unnamed () -->
          <div id="u2544" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2545" class="ax_default _表格单元">
          <img id="u2545_img" class="img " src="images/个人中心-发票管理/u1211.png"/>
          <!-- Unnamed () -->
          <div id="u2546" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2547" class="ax_default _表格单元">
          <img id="u2547_img" class="img " src="images/个人中心-发票管理/u1213.png"/>
          <!-- Unnamed () -->
          <div id="u2548" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2549" class="ax_default _表格单元">
          <img id="u2549_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u2550" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2551" class="ax_default _表格单元">
          <img id="u2551_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u2552" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2553" class="ax_default _表格单元">
          <img id="u2553_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u2554" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2555" class="ax_default _表格单元">
          <img id="u2555_img" class="img " src="images/个人中心-发票管理/u1221.png"/>
          <!-- Unnamed () -->
          <div id="u2556" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2557" class="ax_default _表格单元">
          <img id="u2557_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u2558" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2559" class="ax_default _表格单元">
          <img id="u2559_img" class="img " src="images/个人中心-发票管理/u1225.png"/>
          <!-- Unnamed () -->
          <div id="u2560" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2561" class="ax_default _图像">
        <img id="u2561_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u2562" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2563" class="ax_default _横线">
        <img id="u2563_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u2564" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2565" class="ax_default _文本">
        <div id="u2565_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2566" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2567" class="ax_default _文本">
        <div id="u2567_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2568" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2569" class="ax_default _文本">
        <div id="u2569_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2570" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2571" class="ax_default _文本">
        <div id="u2571_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2572" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2573" class="ax_default _文本">
        <div id="u2573_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2574" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2575" class="ax_default _文本">
        <div id="u2575_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2576" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2577" class="ax_default _文本">
        <div id="u2577_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2578" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2579" class="ax_default _文本">
        <div id="u2579_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2580" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2581" class="ax_default _文本">
        <div id="u2581_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2582" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2583" class="ax_default _文本">
        <div id="u2583_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2584" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2585" class="ax_default _图像">
        <img id="u2585_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u2586" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2587" class="ax_default _形状">
        <div id="u2587_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2588" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2589" class="ax_default _文本">
        <div id="u2589_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2590" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2591" class="ax_default _文本">
        <div id="u2591_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2592" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2593" class="ax_default _文本">
        <div id="u2593_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2594" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2595" class="ax_default _文本">
        <div id="u2595_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2596" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2597" class="ax_default _文本">
        <div id="u2597_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2598" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2599" class="ax_default _文本">
        <div id="u2599_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2600" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2601" class="ax_default _文本">
        <div id="u2601_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2602" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2603" class="ax_default _文本">
        <div id="u2603_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2604" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2605" class="ax_default _文本">
        <div id="u2605_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2606" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2607" class="ax_default _文本">
        <div id="u2607_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2608" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2609" class="ax_default _文本">
        <div id="u2609_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2610" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2611" class="ax_default _文本">
        <div id="u2611_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2612" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2613" class="ax_default _文本">
        <div id="u2613_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2614" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2615" class="ax_default _文本">
        <div id="u2615_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2616" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
