<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-发票管理--发票开具</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-发票管理--发票开具/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-发票管理--发票开具/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1959" class="ax_default _形状">
        <div id="u1959_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1960" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1961" class="ax_default _横线">
        <img id="u1961_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u1962" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1963" class="ax_default _文本">
        <div id="u1963_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1964" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1965" class="ax_default _文本">
        <div id="u1965_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1966" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1967" class="ax_default _文本">
        <div id="u1967_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1968" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1969" class="ax_default _文本">
        <div id="u1969_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1970" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1971" class="ax_default _文本">
        <div id="u1971_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1972" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1973" class="ax_default _文本">
        <div id="u1973_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1974" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1975" class="ax_default _文本">
        <div id="u1975_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1976" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1977" class="ax_default _文本">
        <div id="u1977_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1978" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1979" class="ax_default _文本">
        <div id="u1979_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1980" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1981" class="ax_default _文本">
        <div id="u1981_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1982" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1983" class="ax_default _图像">
        <img id="u1983_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u1984" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1985" class="ax_default _形状">
        <div id="u1985_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1986" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1987" class="ax_default _文本">
        <div id="u1987_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1988" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1989" class="ax_default _文本">
        <div id="u1989_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1990" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1991" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u1992" class="ax_default _表格单元">
          <img id="u1992_img" class="img " src="images/个人中心-发票管理--发票开具/u1992.png"/>
          <!-- Unnamed () -->
          <div id="u1993" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1994" class="ax_default _表格单元">
          <img id="u1994_img" class="img " src="images/个人中心-发票管理--发票开具/u1994.png"/>
          <!-- Unnamed () -->
          <div id="u1995" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1996" class="ax_default _表格单元">
          <img id="u1996_img" class="img " src="images/个人中心-发票管理--发票开具/u1996.png"/>
          <!-- Unnamed () -->
          <div id="u1997" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1998" class="ax_default _表格单元">
          <img id="u1998_img" class="img " src="images/个人中心-发票管理--发票开具/u1998.png"/>
          <!-- Unnamed () -->
          <div id="u1999" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2000" class="ax_default _表格单元">
          <img id="u2000_img" class="img " src="images/个人中心-发票管理--发票开具/u1998.png"/>
          <!-- Unnamed () -->
          <div id="u2001" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2002" class="ax_default _表格单元">
          <img id="u2002_img" class="img " src="images/个人中心-发票管理--发票开具/u2002.png"/>
          <!-- Unnamed () -->
          <div id="u2003" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2004" class="ax_default _表格单元">
          <img id="u2004_img" class="img " src="images/个人中心-发票管理--发票开具/u2004.png"/>
          <!-- Unnamed () -->
          <div id="u2005" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2006" class="ax_default _表格单元">
          <img id="u2006_img" class="img " src="images/个人中心-发票管理--发票开具/u2006.png"/>
          <!-- Unnamed () -->
          <div id="u2007" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2008" class="ax_default _表格单元">
          <img id="u2008_img" class="img " src="images/个人中心-发票管理--发票开具/u2008.png"/>
          <!-- Unnamed () -->
          <div id="u2009" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2010" class="ax_default _表格单元">
          <img id="u2010_img" class="img " src="images/个人中心-发票管理--发票开具/u2010.png"/>
          <!-- Unnamed () -->
          <div id="u2011" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2012" class="ax_default _表格单元">
          <img id="u2012_img" class="img " src="images/个人中心-发票管理--发票开具/u2012.png"/>
          <!-- Unnamed () -->
          <div id="u2013" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2014" class="ax_default _表格单元">
          <img id="u2014_img" class="img " src="images/个人中心-发票管理--发票开具/u2014.png"/>
          <!-- Unnamed () -->
          <div id="u2015" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2016" class="ax_default _表格单元">
          <img id="u2016_img" class="img " src="images/个人中心-发票管理--发票开具/u2014.png"/>
          <!-- Unnamed () -->
          <div id="u2017" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2018" class="ax_default _表格单元">
          <img id="u2018_img" class="img " src="images/个人中心-发票管理--发票开具/u2018.png"/>
          <!-- Unnamed () -->
          <div id="u2019" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2020" class="ax_default _表格单元">
          <img id="u2020_img" class="img " src="images/个人中心-发票管理--发票开具/u2020.png"/>
          <!-- Unnamed () -->
          <div id="u2021" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2022" class="ax_default _表格单元">
          <img id="u2022_img" class="img " src="images/个人中心-发票管理--发票开具/u2022.png"/>
          <!-- Unnamed () -->
          <div id="u2023" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2024" class="ax_default _表格单元">
          <img id="u2024_img" class="img " src="images/个人中心-发票管理--发票开具/u2024.png"/>
          <!-- Unnamed () -->
          <div id="u2025" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2026" class="ax_default _表格单元">
          <img id="u2026_img" class="img " src="images/个人中心-发票管理--发票开具/u2026.png"/>
          <!-- Unnamed () -->
          <div id="u2027" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2028" class="ax_default _表格单元">
          <img id="u2028_img" class="img " src="images/个人中心-发票管理--发票开具/u2028.png"/>
          <!-- Unnamed () -->
          <div id="u2029" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">322</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2030" class="ax_default _表格单元">
          <img id="u2030_img" class="img " src="images/个人中心-发票管理--发票开具/u2030.png"/>
          <!-- Unnamed () -->
          <div id="u2031" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2032" class="ax_default _表格单元">
          <img id="u2032_img" class="img " src="images/个人中心-发票管理--发票开具/u2030.png"/>
          <!-- Unnamed () -->
          <div id="u2033" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2034" class="ax_default _表格单元">
          <img id="u2034_img" class="img " src="images/个人中心-发票管理--发票开具/u2034.png"/>
          <!-- Unnamed () -->
          <div id="u2035" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2036" class="ax_default _表格单元">
          <img id="u2036_img" class="img " src="images/个人中心-发票管理--发票开具/u2036.png"/>
          <!-- Unnamed () -->
          <div id="u2037" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2038" class="ax_default _表格单元">
          <img id="u2038_img" class="img " src="images/个人中心-发票管理--发票开具/u2038.png"/>
          <!-- Unnamed () -->
          <div id="u2039" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2040" class="ax_default _图像">
        <img id="u2040_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u2041" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2042" class="ax_default _横线">
        <img id="u2042_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u2043" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2044" class="ax_default _文本">
        <div id="u2044_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2045" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2046" class="ax_default _文本">
        <div id="u2046_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2047" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2048" class="ax_default _文本">
        <div id="u2048_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2049" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2050" class="ax_default _文本">
        <div id="u2050_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2051" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2052" class="ax_default _文本">
        <div id="u2052_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2053" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2054" class="ax_default _文本">
        <div id="u2054_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2055" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2056" class="ax_default _文本">
        <div id="u2056_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2057" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2058" class="ax_default _文本">
        <div id="u2058_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2059" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2060" class="ax_default _文本">
        <div id="u2060_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2061" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2062" class="ax_default _文本">
        <div id="u2062_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2063" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2064" class="ax_default _图像">
        <img id="u2064_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u2065" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2066" class="ax_default _形状">
        <div id="u2066_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2067" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2068" class="ax_default _文本">
        <div id="u2068_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2069" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2070" class="ax_default _文本">
        <div id="u2070_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2071" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2072" class="ax_default _文本">
        <div id="u2072_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2073" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2074" class="ax_default _文本">
        <div id="u2074_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2075" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2076" class="ax_default _文本">
        <div id="u2076_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2077" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2078" class="ax_default _文本">
        <div id="u2078_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2079" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2080" class="ax_default _文本">
        <div id="u2080_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2081" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2082" class="ax_default _文本">
        <div id="u2082_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2083" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2084" class="ax_default _文本">
        <div id="u2084_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2085" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2086" class="ax_default _文本">
        <div id="u2086_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2087" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2088" class="ax_default _文本">
        <div id="u2088_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2089" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2090" class="ax_default _文本">
        <div id="u2090_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2091" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2092" class="ax_default _文本">
        <div id="u2092_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2093" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2094" class="ax_default _文本">
        <div id="u2094_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2095" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2096" class="ax_default _形状">
        <div id="u2096_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2097" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2098" class="ax_default _文本">
        <div id="u2098_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2099" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2100" class="ax_default _文本">
        <div id="u2100_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2101" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2102" class="ax_default _文本">
        <div id="u2102_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2103" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2104" class="ax_default _文本">
        <div id="u2104_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2105" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2106" class="ax_default _图像">
        <img id="u2106_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u2107" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2108" class="ax_default _图像">
        <img id="u2108_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u2109" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2110" class="ax_default _形状">
        <div id="u2110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2111" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2112" class="ax_default _文本">
        <div id="u2112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2113" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2114" class="ax_default _文本">
        <div id="u2114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2115" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2116" class="ax_default _文本">
        <div id="u2116_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2117" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2118" class="ax_default label">
        <div id="u2118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2119" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2120" class="ax_default label">
        <div id="u2120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2121" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">定制数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2122" class="ax_default label">
        <div id="u2122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2123" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">解决方案</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2124" class="ax_default label">
        <div id="u2124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2125" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">&nbsp;新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2126" class="ax_default label">
        <div id="u2126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2127" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">星期一&nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
