<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-商品管理-波哥-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-商品管理-波哥-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-商品管理-波哥-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u4062" class="ax_default _形状">
        <div id="u4062_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4063" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4064" class="ax_default _形状">
        <div id="u4064_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4065" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4066" class="ax_default _文本">
        <div id="u4066_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4067" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4068" class="ax_default _文本">
        <div id="u4068_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4069" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4070" class="ax_default _文本">
        <div id="u4070_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4071" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4072" class="ax_default _文本">
        <div id="u4072_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4073" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4074" class="ax_default _图像">
        <img id="u4074_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u4075" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4076" class="ax_default _图像">
        <img id="u4076_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u4077" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4078" class="ax_default _形状">
        <div id="u4078_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4079" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4080" class="ax_default _文本">
        <div id="u4080_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4081" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4082" class="ax_default _文本">
        <div id="u4082_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4083" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4084" class="ax_default _横线">
        <img id="u4084_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u4085" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4086" class="ax_default _文本">
        <div id="u4086_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4087" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4088" class="ax_default _文本">
        <div id="u4088_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4089" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4090" class="ax_default _文本">
        <div id="u4090_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4091" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4092" class="ax_default _文本">
        <div id="u4092_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4093" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4094" class="ax_default _文本">
        <div id="u4094_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4095" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4096" class="ax_default _文本">
        <div id="u4096_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4097" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4098" class="ax_default _文本">
        <div id="u4098_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4099" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4100" class="ax_default _文本">
        <div id="u4100_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4101" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4102" class="ax_default _文本">
        <div id="u4102_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4103" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4104" class="ax_default _文本">
        <div id="u4104_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4105" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4106" class="ax_default _图像">
        <img id="u4106_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u4107" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4108" class="ax_default _文本">
        <div id="u4108_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4109" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4110" class="ax_default _形状">
        <div id="u4110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4111" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4112" class="ax_default _文本">
        <div id="u4112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4113" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4114" class="ax_default _文本">
        <div id="u4114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4115" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u4116" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u4117" class="ax_default _表格单元">
          <img id="u4117_img" class="img " src="images/个人中心-我的订单/u593.png"/>
          <!-- Unnamed () -->
          <div id="u4118" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4119" class="ax_default _表格单元">
          <img id="u4119_img" class="img " src="images/个人中心-我的订单/u595.png"/>
          <!-- Unnamed () -->
          <div id="u4120" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4121" class="ax_default _表格单元">
          <img id="u4121_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4122" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4123" class="ax_default _表格单元">
          <img id="u4123_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4124" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4125" class="ax_default _表格单元">
          <img id="u4125_img" class="img " src="images/个人中心-我的订单/u597.png"/>
          <!-- Unnamed () -->
          <div id="u4126" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4127" class="ax_default _表格单元">
          <img id="u4127_img" class="img " src="images/个人中心-发票管理/u1189.png"/>
          <!-- Unnamed () -->
          <div id="u4128" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4129" class="ax_default _表格单元">
          <img id="u4129_img" class="img " src="images/个人中心-我的订单/u605.png"/>
          <!-- Unnamed () -->
          <div id="u4130" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4131" class="ax_default _表格单元">
          <img id="u4131_img" class="img " src="images/个人中心-发票管理/u1193.png"/>
          <!-- Unnamed () -->
          <div id="u4132" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4133" class="ax_default _表格单元">
          <img id="u4133_img" class="img " src="images/个人中心-我的订单/u613.png"/>
          <!-- Unnamed () -->
          <div id="u4134" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4135" class="ax_default _表格单元">
          <img id="u4135_img" class="img " src="images/个人中心-我的订单/u615.png"/>
          <!-- Unnamed () -->
          <div id="u4136" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4137" class="ax_default _表格单元">
          <img id="u4137_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4138" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4139" class="ax_default _表格单元">
          <img id="u4139_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4140" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4141" class="ax_default _表格单元">
          <img id="u4141_img" class="img " src="images/个人中心-我的订单/u617.png"/>
          <!-- Unnamed () -->
          <div id="u4142" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4143" class="ax_default _表格单元">
          <img id="u4143_img" class="img " src="images/个人中心-发票管理/u1205.png"/>
          <!-- Unnamed () -->
          <div id="u4144" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4145" class="ax_default _表格单元">
          <img id="u4145_img" class="img " src="images/个人中心-我的订单/u625.png"/>
          <!-- Unnamed () -->
          <div id="u4146" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4147" class="ax_default _表格单元">
          <img id="u4147_img" class="img " src="images/个人中心-发票管理/u1209.png"/>
          <!-- Unnamed () -->
          <div id="u4148" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4149" class="ax_default _表格单元">
          <img id="u4149_img" class="img " src="images/个人中心-发票管理/u1211.png"/>
          <!-- Unnamed () -->
          <div id="u4150" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4151" class="ax_default _表格单元">
          <img id="u4151_img" class="img " src="images/个人中心-发票管理/u1213.png"/>
          <!-- Unnamed () -->
          <div id="u4152" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4153" class="ax_default _表格单元">
          <img id="u4153_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4154" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4155" class="ax_default _表格单元">
          <img id="u4155_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4156" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4157" class="ax_default _表格单元">
          <img id="u4157_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u4158" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4159" class="ax_default _表格单元">
          <img id="u4159_img" class="img " src="images/个人中心-发票管理/u1221.png"/>
          <!-- Unnamed () -->
          <div id="u4160" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4161" class="ax_default _表格单元">
          <img id="u4161_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u4162" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u4163" class="ax_default _表格单元">
          <img id="u4163_img" class="img " src="images/个人中心-发票管理/u1225.png"/>
          <!-- Unnamed () -->
          <div id="u4164" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4165" class="ax_default _图像">
        <img id="u4165_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u4166" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4167" class="ax_default _横线">
        <img id="u4167_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u4168" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4169" class="ax_default _文本">
        <div id="u4169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4170" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4171" class="ax_default _文本">
        <div id="u4171_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4172" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4173" class="ax_default _文本">
        <div id="u4173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4174" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4175" class="ax_default _文本">
        <div id="u4175_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4176" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4177" class="ax_default _文本">
        <div id="u4177_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4178" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4179" class="ax_default _文本">
        <div id="u4179_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4180" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4181" class="ax_default _文本">
        <div id="u4181_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4182" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4183" class="ax_default _文本">
        <div id="u4183_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4184" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4185" class="ax_default _文本">
        <div id="u4185_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4186" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4187" class="ax_default _文本">
        <div id="u4187_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4188" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4189" class="ax_default _图像">
        <img id="u4189_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u4190" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4191" class="ax_default _形状">
        <div id="u4191_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4192" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4193" class="ax_default _文本">
        <div id="u4193_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4194" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4195" class="ax_default _文本">
        <div id="u4195_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4196" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4197" class="ax_default _文本">
        <div id="u4197_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4198" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4199" class="ax_default _文本">
        <div id="u4199_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4200" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4201" class="ax_default _文本">
        <div id="u4201_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4202" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4203" class="ax_default _文本">
        <div id="u4203_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4204" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4205" class="ax_default _文本">
        <div id="u4205_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4206" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4207" class="ax_default _文本">
        <div id="u4207_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4208" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4209" class="ax_default _文本">
        <div id="u4209_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4210" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4211" class="ax_default _文本">
        <div id="u4211_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4212" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4213" class="ax_default _文本">
        <div id="u4213_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4214" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4215" class="ax_default _文本">
        <div id="u4215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4216" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4217" class="ax_default _文本">
        <div id="u4217_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4218" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4219" class="ax_default _文本">
        <div id="u4219_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4220" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
