<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-角色管理-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-角色管理-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-角色管理-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u2281" class="ax_default _形状">
        <div id="u2281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2282" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2283" class="ax_default _形状">
        <div id="u2283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2284" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2285" class="ax_default _文本">
        <div id="u2285_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2286" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2287" class="ax_default _文本">
        <div id="u2287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2288" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2289" class="ax_default _文本">
        <div id="u2289_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2290" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2291" class="ax_default _文本">
        <div id="u2291_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2292" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2293" class="ax_default _图像">
        <img id="u2293_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u2294" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2295" class="ax_default _图像">
        <img id="u2295_img" class="img " src="images/广交所首页的即时通讯/u154.png"/>
        <!-- Unnamed () -->
        <div id="u2296" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2297" class="ax_default _形状">
        <div id="u2297_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2298" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2299" class="ax_default _文本">
        <div id="u2299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2300" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2301" class="ax_default _文本">
        <div id="u2301_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2302" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2303" class="ax_default _横线">
        <img id="u2303_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u2304" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2305" class="ax_default _文本">
        <div id="u2305_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2306" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2307" class="ax_default _文本">
        <div id="u2307_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2308" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2309" class="ax_default _文本">
        <div id="u2309_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2310" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2311" class="ax_default _文本">
        <div id="u2311_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2312" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2313" class="ax_default _文本">
        <div id="u2313_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2314" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2315" class="ax_default _文本">
        <div id="u2315_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2316" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2317" class="ax_default _文本">
        <div id="u2317_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2318" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2319" class="ax_default _文本">
        <div id="u2319_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2320" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2321" class="ax_default _文本">
        <div id="u2321_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2322" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2323" class="ax_default _文本">
        <div id="u2323_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2324" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2325" class="ax_default _图像">
        <img id="u2325_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u2326" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2327" class="ax_default _文本">
        <div id="u2327_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2328" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2329" class="ax_default _形状">
        <div id="u2329_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2330" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2331" class="ax_default _文本">
        <div id="u2331_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2332" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2333" class="ax_default _文本">
        <div id="u2333_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2334" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2335" class="ax_default _图像">
        <img id="u2335_img" class="img " src="images/个人中心-全部数据/u343.png"/>
        <!-- Unnamed () -->
        <div id="u2336" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2337" class="ax_default _横线">
        <img id="u2337_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u2338" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2339" class="ax_default _文本">
        <div id="u2339_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2340" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2341" class="ax_default _文本">
        <div id="u2341_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2342" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2343" class="ax_default _文本">
        <div id="u2343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2344" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2345" class="ax_default _文本">
        <div id="u2345_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2346" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2347" class="ax_default _文本">
        <div id="u2347_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2348" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2349" class="ax_default _文本">
        <div id="u2349_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2350" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2351" class="ax_default _文本">
        <div id="u2351_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2352" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2353" class="ax_default _文本">
        <div id="u2353_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2354" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2355" class="ax_default _文本">
        <div id="u2355_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2356" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2357" class="ax_default _文本">
        <div id="u2357_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2358" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2359" class="ax_default _图像">
        <img id="u2359_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u2360" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2361" class="ax_default _形状">
        <div id="u2361_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2362" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2363" class="ax_default _文本">
        <div id="u2363_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2364" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2365" class="ax_default _文本">
        <div id="u2365_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2366" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2367" class="ax_default _文本">
        <div id="u2367_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2368" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2369" class="ax_default _文本">
        <div id="u2369_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2370" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2371" class="ax_default _文本">
        <div id="u2371_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2372" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2373" class="ax_default _文本">
        <div id="u2373_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2374" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2375" class="ax_default _文本">
        <div id="u2375_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2376" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2377" class="ax_default _文本">
        <div id="u2377_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2378" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2379" class="ax_default _文本">
        <div id="u2379_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2380" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2381" class="ax_default _文本">
        <div id="u2381_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2382" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2383" class="ax_default _文本">
        <div id="u2383_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2384" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2385" class="ax_default _文本">
        <div id="u2385_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2386" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2387" class="ax_default _文本">
        <div id="u2387_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2388" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2389" class="ax_default _文本">
        <div id="u2389_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2390" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
