<!DOCTYPE html>
<html>
  <head>
    <title>广交所首页的登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广交所首页的登录/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/广交所首页的登录/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (横线) -->
      <div id="u2" class="ax_default _横线">
        <img id="u2_img" class="img " src="images/广交所首页的登录/u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4" class="ax_default _文本">
        <div id="u4_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u5" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u6" class="ax_default _文本">
        <div id="u6_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u7" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8" class="ax_default _文本">
        <div id="u8_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10" class="ax_default _文本">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12" class="ax_default _文本">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14" class="ax_default _文本">
        <div id="u14_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16" class="ax_default _文本">
        <div id="u16_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u18" class="ax_default _文本">
        <div id="u18_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u20" class="ax_default _文本">
        <div id="u20_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u22" class="ax_default _文本">
        <div id="u22_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u24" class="ax_default _图像">
        <img id="u24_img" class="img " src="images/广交所首页的登录/u24.png"/>
        <!-- Unnamed () -->
        <div id="u25" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u26" class="ax_default _图像">
        <img id="u26_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u27" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u28" class="ax_default placeholder">
        <img id="u28_img" class="img " src="images/广交所首页的登录/u28.png"/>
        <!-- Unnamed () -->
        <div id="u29" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u30" class="ax_default box_1">
        <div id="u30_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u31" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u32" class="ax_default _标题1">
        <div id="u32_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">用户登录：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u34" class="ax_default label">
        <div id="u34_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户名：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u36" class="ax_default label">
        <div id="u36_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u37" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">密&nbsp;&nbsp; 码：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u38" class="ax_default label">
        <div id="u38_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">验证码：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u40" class="ax_default _文本框_单行_">
        <input id="u40_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u41" class="ax_default _文本框_单行_">
        <input id="u41_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u42" class="ax_default _文本框_单行_">
        <input id="u42_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u43" class="ax_default html__">
        <input id="u43_input" type="submit" value="登录" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u44" class="ax_default label">
        <div id="u44_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u45" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">还没有广数账号，</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u46" class="ax_default label">
        <div id="u46_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u47" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">技术及平台支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u48" class="ax_default label">
        <div id="u48_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">020-38617619</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u50" class="ax_default placeholder">
        <img id="u50_img" class="img " src="images/广交所首页的登录/u50.png"/>
        <!-- Unnamed () -->
        <div id="u51" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u52" class="ax_default link_button">
        <div id="u52_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u53" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">立即注册</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u54" class="ax_default placeholder">
        <img id="u54_img" class="img " src="images/广交所首页的登录/u54.png"/>
        <!-- Unnamed () -->
        <div id="u55" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u56" class="ax_default link_button">
        <div id="u56_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">换一张</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
