<!DOCTYPE html>
<html>
  <head>
    <title>系统用户注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/系统用户注册/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/系统用户注册/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (图像) -->
      <div id="u1988" class="ax_default _图像">
        <img id="u1988_img" class="img " src="images/系统用户注册/u1988.png"/>
        <!-- Unnamed () -->
        <div id="u1989" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1990" class="ax_default _图像">
        <img id="u1990_img" class="img " src="images/广交所首页的登录/u26.png"/>
        <!-- Unnamed () -->
        <div id="u1991" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1992" class="ax_default _图像">
        <img id="u1992_img" class="img " src="images/系统用户注册/u1992.png"/>
        <!-- Unnamed () -->
        <div id="u1993" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1994" class="ax_default _图像">
        <img id="u1994_img" class="img " src="images/系统用户注册/u1994.png"/>
        <!-- Unnamed () -->
        <div id="u1995" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1996" class="ax_default _图像">
        <img id="u1996_img" class="img " src="images/系统用户注册/u1996.png"/>
        <!-- Unnamed () -->
        <div id="u1997" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1998" class="ax_default box_1">
        <div id="u1998_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1999" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2000" class="ax_default label">
        <div id="u2000_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2001" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户ID</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
