<table class="table table-bordered table-striped table-hover text-center table_th_center">
    <thead>
        <tr >
            <th>分类编码</th>
            <th>分类名称</th>
            <th>展示顺序</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${pageInfo} and ${pageInfo.result} and ${#lists.size(pageInfo.result) gt 0}" th:each="gdsCat,gdsCatStat : ${pageInfo.result}">
            <td th:text="${gdsCat.catId}">11</td>
            <td th:text="${gdsCat.catName}">标题标题标题标题标题标题1</td>
            <td th:text="${gdsCat.showOrder}">1</td>
            <td>
            	<p class="pop-link">
                    <a href="javascript:void(0)" class="editThisCat" th:attr="catId=${gdsCat.catId}">编辑</a>
                    <a href="javascript:void(0)" th:onclick="'javascript:GdsCat.deleteGdsCat(\''+${gdsCat.catId}+'\')'">删除</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>


<div class="overflow-hidden clearfix">
    <div class="pull-left mt20">
          <button class="btn btn-primary btn-small addChildCat" data-target="#add_article" data-toggle="modal2"><i class="glyphicon glyphicon-plus"></i>新增下级</button>
    </div>
      <!-- pagerBar -->
	<div class="pagelist pull-right" th:remove="all" th:replace="fragments/pager :: pager">
	</div>
	 <!-- pagerBar end-->
</div>