<table class="editTable" width="100%">
<input type="hidden" th:attr="value=${catInfo.catId}" id="catId"/>
<input type="hidden" th:attr="value=${catInfo.catPid}" id="catPid"/>
    <tbody>
        <tr>
         <td class="Hint" width="15%">分类编码：</td>	                            
         <td width="15%" th:text="${catInfo.catId}">121232</td>
         <td class="Hint" width="15%">分类名称：</td>
         <td th:text="${catInfo.catName}">测试标题测试标题测试标题</td>
     </tr>
        <tr>
         <td class="Hint">展示顺序：</td>	                            
         <td th:text="${catInfo.showOrder}">2</td>
     </tr>
         
    </tbody>
</table>
<div class="text-right">
    <button class="btn btn-default btn-mini ml20 addNewSomeLevel" id="addNewSomeLevel"><i class="glyphicon glyphicon-plus"></i>新增同级分类</button>
    <button class="btn btn-default btn-mini editThisCat" id="editThisCat" th:attr="catId=${catInfo.catId}"><i class="glyphicon glyphicon-pencil"></i>编辑</button>
    <button class="btn btn-default btn-mini" id="deleteThisCat" th:onclick="'javascript:GdsCat.deleteGdsCat(\''+${catInfo.catId}+'\')'"><i class="glyphicon glyphicon-minus"></i>删除</button>
</div>