body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1314_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:505px;
  height:5px;
}
#u1314 {
  position:absolute;
  left:352px;
  top:68px;
  width:502px;
  height:2px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:-7px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00FFFF;
}
#u1316 {
  position:absolute;
  left:279px;
  top:46px;
  width:49px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00FFFF;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1318_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:5px;
}
#u1318 {
  position:absolute;
  left:246px;
  top:34px;
  width:107px;
  height:2px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:-7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:36px;
}
#u1320 {
  position:absolute;
  left:352px;
  top:36px;
  width:2px;
  height:33px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u1322 {
  position:absolute;
  left:246px;
  top:34px;
  width:2px;
  height:35px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1324 {
  position:absolute;
  left:48px;
  top:45px;
  width:49px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
}
#u1326 {
  position:absolute;
  left:135px;
  top:45px;
  width:85px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:46px;
  top:88px;
  width:260px;
  height:18px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u1330_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:211px;
  height:5px;
}
#u1330 {
  position:absolute;
  left:38px;
  top:69px;
  width:208px;
  height:2px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:-7px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
