<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-订单管理-创建订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-订单管理-创建订单/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-订单管理-创建订单/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u4167" class="ax_default _形状">
        <div id="u4167_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4168" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4169" class="ax_default _形状">
        <div id="u4169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4170" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4171" class="ax_default _文本">
        <div id="u4171_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4172" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4173" class="ax_default _文本">
        <div id="u4173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4174" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4175" class="ax_default _文本">
        <div id="u4175_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4176" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4177" class="ax_default _文本">
        <div id="u4177_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4178" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4179" class="ax_default _图像">
        <img id="u4179_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u4180" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4181" class="ax_default _图像">
        <img id="u4181_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u4182" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4183" class="ax_default _形状">
        <div id="u4183_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4184" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4185" class="ax_default _文本">
        <div id="u4185_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4186" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4187" class="ax_default _文本">
        <div id="u4187_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4188" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4189" class="ax_default _横线">
        <img id="u4189_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u4190" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4191" class="ax_default _文本">
        <div id="u4191_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4192" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4193" class="ax_default _文本">
        <div id="u4193_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4194" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4195" class="ax_default _文本">
        <div id="u4195_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4196" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4197" class="ax_default _文本">
        <div id="u4197_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4198" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4199" class="ax_default _文本">
        <div id="u4199_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4200" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4201" class="ax_default _文本">
        <div id="u4201_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4202" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4203" class="ax_default _文本">
        <div id="u4203_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4204" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4205" class="ax_default _文本">
        <div id="u4205_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4206" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4207" class="ax_default _文本">
        <div id="u4207_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4208" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4209" class="ax_default _文本">
        <div id="u4209_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4210" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4211" class="ax_default _图像">
        <img id="u4211_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u4212" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4213" class="ax_default _文本">
        <div id="u4213_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4214" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4215" class="ax_default _形状">
        <div id="u4215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4216" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4217" class="ax_default _文本">
        <div id="u4217_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4218" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4219" class="ax_default _文本">
        <div id="u4219_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4220" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u4221" class="ax_default _横线">
        <img id="u4221_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u4222" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4223" class="ax_default _文本">
        <div id="u4223_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4224" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4225" class="ax_default _文本">
        <div id="u4225_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4226" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4227" class="ax_default _文本">
        <div id="u4227_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4228" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4229" class="ax_default _文本">
        <div id="u4229_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4230" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4231" class="ax_default _文本">
        <div id="u4231_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4232" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4233" class="ax_default _文本">
        <div id="u4233_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4234" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4235" class="ax_default _文本">
        <div id="u4235_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4236" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4237" class="ax_default _文本">
        <div id="u4237_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4238" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4239" class="ax_default _文本">
        <div id="u4239_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4240" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4241" class="ax_default _文本">
        <div id="u4241_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4242" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u4243" class="ax_default _图像">
        <img id="u4243_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u4244" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4245" class="ax_default _形状">
        <div id="u4245_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4246" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4247" class="ax_default _文本">
        <div id="u4247_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4248" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单创建</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4249" class="ax_default _文本">
        <div id="u4249_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4250" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4251" class="ax_default _文本">
        <div id="u4251_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4252" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4253" class="ax_default _文本">
        <div id="u4253_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4254" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4255" class="ax_default _文本">
        <div id="u4255_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4256" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4257" class="ax_default _文本">
        <div id="u4257_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4258" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4259" class="ax_default _文本">
        <div id="u4259_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4260" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4261" class="ax_default _文本">
        <div id="u4261_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4262" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4263" class="ax_default _文本">
        <div id="u4263_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4264" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4265" class="ax_default _文本">
        <div id="u4265_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4266" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4267" class="ax_default _文本">
        <div id="u4267_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4268" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4269" class="ax_default _文本">
        <div id="u4269_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4270" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4271" class="ax_default _文本">
        <div id="u4271_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4272" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4273" class="ax_default _文本">
        <div id="u4273_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4274" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4275" class="ax_default _文本">
        <div id="u4275_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4276" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户账户</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4277" class="ax_default _文本">
        <div id="u4277_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4278" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4279" class="ax_default _文本">
        <div id="u4279_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4280" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">套餐</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4281" class="ax_default _文本">
        <div id="u4281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4282" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数量</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4283" class="ax_default _形状">
        <div id="u4283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4284" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4285" class="ax_default _形状">
        <div id="u4285_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4286" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4287" class="ax_default _形状">
        <div id="u4287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4288" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4289" class="ax_default _形状">
        <div id="u4289_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4290" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u4291" class="ax_default html__">
        <input id="u4291_input" type="submit" value="提交" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4292" class="ax_default _文本">
        <div id="u4292_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4293" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">套</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u4294" class="ax_default html__">
        <input id="u4294_input" type="submit" value="查找" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u4295" class="ax_default html__">
        <input id="u4295_input" type="submit" value="查找" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u4296" class="ax_default html__">
        <input id="u4296_input" type="submit" value="查找" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4297" class="ax_default _文本">
        <div id="u4297_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4298" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">有效期</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4299" class="ax_default _形状">
        <div id="u4299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u4300" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2018-03-21</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
