<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-角色管理-赋权</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-角色管理-赋权/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-角色管理-赋权/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u2421" class="ax_default _形状">
        <div id="u2421_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2422" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2423" class="ax_default _形状">
        <div id="u2423_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2424" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2425" class="ax_default _文本">
        <div id="u2425_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2426" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2427" class="ax_default _文本">
        <div id="u2427_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2428" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2429" class="ax_default _文本">
        <div id="u2429_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2430" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2431" class="ax_default _文本">
        <div id="u2431_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2432" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2433" class="ax_default _图像">
        <img id="u2433_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u2434" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2435" class="ax_default _图像">
        <img id="u2435_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u2436" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2437" class="ax_default _形状">
        <div id="u2437_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2438" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2439" class="ax_default _文本">
        <div id="u2439_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2440" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2441" class="ax_default _文本">
        <div id="u2441_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2442" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2443" class="ax_default _横线">
        <img id="u2443_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u2444" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2445" class="ax_default _文本">
        <div id="u2445_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2446" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2447" class="ax_default _文本">
        <div id="u2447_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2448" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2449" class="ax_default _文本">
        <div id="u2449_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2450" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2451" class="ax_default _文本">
        <div id="u2451_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2452" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2453" class="ax_default _文本">
        <div id="u2453_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2454" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2455" class="ax_default _文本">
        <div id="u2455_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2456" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2457" class="ax_default _文本">
        <div id="u2457_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2458" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2459" class="ax_default _文本">
        <div id="u2459_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2460" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2461" class="ax_default _文本">
        <div id="u2461_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2462" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2463" class="ax_default _文本">
        <div id="u2463_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2464" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2465" class="ax_default _图像">
        <img id="u2465_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u2466" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2467" class="ax_default _文本">
        <div id="u2467_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2468" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2469" class="ax_default _形状">
        <div id="u2469_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2470" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2471" class="ax_default _文本">
        <div id="u2471_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2472" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2473" class="ax_default _文本">
        <div id="u2473_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2474" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 角色赋权管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2475" class="ax_default _图像">
        <img id="u2475_img" class="img " src="images/个人中心-全部数据/u560.png"/>
        <!-- Unnamed () -->
        <div id="u2476" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2477" class="ax_default _横线">
        <img id="u2477_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u2478" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2479" class="ax_default _文本">
        <div id="u2479_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2480" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2481" class="ax_default _文本">
        <div id="u2481_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2482" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2483" class="ax_default _文本">
        <div id="u2483_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2484" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2485" class="ax_default _文本">
        <div id="u2485_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2486" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2487" class="ax_default _文本">
        <div id="u2487_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2488" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2489" class="ax_default _文本">
        <div id="u2489_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2490" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2491" class="ax_default _文本">
        <div id="u2491_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2492" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2493" class="ax_default _文本">
        <div id="u2493_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2494" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2495" class="ax_default _文本">
        <div id="u2495_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2496" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2497" class="ax_default _文本">
        <div id="u2497_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2498" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2499" class="ax_default _图像">
        <img id="u2499_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u2500" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2501" class="ax_default _形状">
        <div id="u2501_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2502" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2503" class="ax_default _文本">
        <div id="u2503_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2504" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色赋权管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2505" class="ax_default _文本">
        <div id="u2505_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2506" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2507" class="ax_default _文本">
        <div id="u2507_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2508" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2509" class="ax_default _文本">
        <div id="u2509_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2510" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2511" class="ax_default _文本">
        <div id="u2511_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2512" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2513" class="ax_default _文本">
        <div id="u2513_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2514" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2515" class="ax_default _文本">
        <div id="u2515_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2516" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2517" class="ax_default _文本">
        <div id="u2517_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2518" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2519" class="ax_default _文本">
        <div id="u2519_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2520" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2521" class="ax_default _文本">
        <div id="u2521_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2522" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2523" class="ax_default _文本">
        <div id="u2523_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2524" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2525" class="ax_default _文本">
        <div id="u2525_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2526" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2527" class="ax_default _文本">
        <div id="u2527_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2528" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2529" class="ax_default _文本">
        <div id="u2529_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2530" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2531" class="ax_default _形状">
        <div id="u2531_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2532" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2533" class="ax_default _文本">
        <div id="u2533_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2534" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u2535" class="ax_default _文本框_单行_">
        <input id="u2535_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2536" class="ax_default _文本">
        <div id="u2536_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2537" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">状态：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u2538" class="ax_default _下拉列表框">
        <select id="u2538_input" class="text_sketch">
          <option selected value="生效">生效</option>
          <option value="失效">失效</option>
        </select>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2539" class="ax_default html__">
        <input id="u2539_input" type="submit" value="查询" class="text_sketch"/>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u2540" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u2541" class="ax_default _表格单元">
          <img id="u2541_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2542" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2543" class="ax_default _表格单元">
          <img id="u2543_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2544" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 2</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2545" class="ax_default _表格单元">
          <img id="u2545_img" class="img " src="images/个人中心-角色管理/u2352.png"/>
          <!-- Unnamed () -->
          <div id="u2546" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 3</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2547" class="ax_default _表格单元">
          <img id="u2547_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2548" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2549" class="ax_default _表格单元">
          <img id="u2549_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2550" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2551" class="ax_default _表格单元">
          <img id="u2551_img" class="img " src="images/个人中心-角色管理/u2352.png"/>
          <!-- Unnamed () -->
          <div id="u2552" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2553" class="ax_default _表格单元">
          <img id="u2553_img" class="img " src="images/广交所/u66.png"/>
          <!-- Unnamed () -->
          <div id="u2554" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2555" class="ax_default _表格单元">
          <img id="u2555_img" class="img " src="images/广交所/u66.png"/>
          <!-- Unnamed () -->
          <div id="u2556" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2557" class="ax_default _表格单元">
          <img id="u2557_img" class="img " src="images/个人中心-角色管理/u2364.png"/>
          <!-- Unnamed () -->
          <div id="u2558" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u2559" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u2560" class="ax_default _表格单元">
          <img id="u2560_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2561" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2562" class="ax_default _表格单元">
          <img id="u2562_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2563" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2564" class="ax_default _表格单元">
          <img id="u2564_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2565" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单名称</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2566" class="ax_default _表格单元">
          <img id="u2566_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2567" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2568" class="ax_default _表格单元">
          <img id="u2568_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2569" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2570" class="ax_default _表格单元">
          <img id="u2570_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2571" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2572" class="ax_default _表格单元">
          <img id="u2572_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2573" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">11</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2574" class="ax_default _表格单元">
          <img id="u2574_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2575" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">超级管理员</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2576" class="ax_default _表格单元">
          <img id="u2576_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2577" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">有效</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2578" class="ax_default _表格单元">
          <img id="u2578_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2579" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">失效</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2580" class="ax_default _表格单元">
          <img id="u2580_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2581" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2582" class="ax_default _表格单元">
          <img id="u2582_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2583" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2584" class="ax_default _表格单元">
          <img id="u2584_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2585" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2586" class="ax_default _表格单元">
          <img id="u2586_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2587" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2588" class="ax_default _表格单元">
          <img id="u2588_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2589" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">赋权</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2590" class="ax_default _表格单元">
          <img id="u2590_img" class="img " src="images/个人中心-角色管理/u2403.png"/>
          <!-- Unnamed () -->
          <div id="u2591" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2592" class="ax_default _表格单元">
          <img id="u2592_img" class="img " src="images/个人中心-角色管理/u2405.png"/>
          <!-- Unnamed () -->
          <div id="u2593" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2594" class="ax_default _表格单元">
          <img id="u2594_img" class="img " src="images/个人中心-角色管理/u2407.png"/>
          <!-- Unnamed () -->
          <div id="u2595" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2596" class="ax_default _表格单元">
          <img id="u2596_img" class="img " src="images/个人中心-角色管理/u2411.png"/>
          <!-- Unnamed () -->
          <div id="u2597" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2598" class="ax_default _表格单元">
          <img id="u2598_img" class="img " src="images/个人中心-角色管理/u2413.png"/>
          <!-- Unnamed () -->
          <div id="u2599" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">赋权</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u2600" class="ax_default _复选框">
        <label for="u2600_input">
          <!-- Unnamed () -->
          <div id="u2601" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u2600_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u2602" class="ax_default _复选框">
        <label for="u2602_input">
          <!-- Unnamed () -->
          <div id="u2603" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u2602_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2604" class="ax_default _文本">
        <div id="u2604_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2605" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前编辑角色：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2606" class="ax_default _文本">
        <div id="u2606_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2607" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">超级管理员</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2608" class="ax_default html__">
        <input id="u2608_input" type="submit" value="赋权" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2609" class="ax_default html__">
        <input id="u2609_input" type="submit" value="失效" class="text_sketch"/>
      </div>
    </div>
  </body>
</html>
