<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-商品管理-波哥-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-商品管理-波哥-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-商品管理-波哥-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u3785" class="ax_default _形状">
        <div id="u3785_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3786" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3787" class="ax_default _形状">
        <div id="u3787_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3788" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3789" class="ax_default _文本">
        <div id="u3789_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3790" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3791" class="ax_default _文本">
        <div id="u3791_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3792" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3793" class="ax_default _文本">
        <div id="u3793_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3794" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3795" class="ax_default _文本">
        <div id="u3795_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3796" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3797" class="ax_default _图像">
        <img id="u3797_img" class="img " src="images/广交所首页/u169.png"/>
        <!-- Unnamed () -->
        <div id="u3798" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3799" class="ax_default _图像">
        <img id="u3799_img" class="img " src="images/广交所首页/u171.png"/>
        <!-- Unnamed () -->
        <div id="u3800" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3801" class="ax_default _形状">
        <div id="u3801_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3802" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3803" class="ax_default _文本">
        <div id="u3803_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3804" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3805" class="ax_default _文本">
        <div id="u3805_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3806" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3807" class="ax_default _横线">
        <img id="u3807_img" class="img " src="images/个人中心-商家主页/u93.png"/>
        <!-- Unnamed () -->
        <div id="u3808" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3809" class="ax_default _文本">
        <div id="u3809_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3810" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3811" class="ax_default _文本">
        <div id="u3811_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3812" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3813" class="ax_default _文本">
        <div id="u3813_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3814" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3815" class="ax_default _文本">
        <div id="u3815_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3816" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3817" class="ax_default _文本">
        <div id="u3817_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3818" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3819" class="ax_default _文本">
        <div id="u3819_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3820" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3821" class="ax_default _文本">
        <div id="u3821_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3822" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3823" class="ax_default _文本">
        <div id="u3823_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3824" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3825" class="ax_default _文本">
        <div id="u3825_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3826" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3827" class="ax_default _文本">
        <div id="u3827_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3828" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3829" class="ax_default _图像">
        <img id="u3829_img" class="img " src="images/个人中心-商家主页/u115.png"/>
        <!-- Unnamed () -->
        <div id="u3830" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3831" class="ax_default _文本">
        <div id="u3831_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3832" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3833" class="ax_default _形状">
        <div id="u3833_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3834" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3835" class="ax_default _文本">
        <div id="u3835_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3836" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3837" class="ax_default _文本">
        <div id="u3837_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3838" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3839" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u3840" class="ax_default _表格单元">
          <img id="u3840_img" class="img " src="images/个人中心-我的订单/u814.png"/>
          <!-- Unnamed () -->
          <div id="u3841" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3842" class="ax_default _表格单元">
          <img id="u3842_img" class="img " src="images/个人中心-我的订单/u816.png"/>
          <!-- Unnamed () -->
          <div id="u3843" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3844" class="ax_default _表格单元">
          <img id="u3844_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3845" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3846" class="ax_default _表格单元">
          <img id="u3846_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3847" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3848" class="ax_default _表格单元">
          <img id="u3848_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3849" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3850" class="ax_default _表格单元">
          <img id="u3850_img" class="img " src="images/个人中心-我的订单/u824.png"/>
          <!-- Unnamed () -->
          <div id="u3851" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3852" class="ax_default _表格单元">
          <img id="u3852_img" class="img " src="images/个人中心-我的订单/u826.png"/>
          <!-- Unnamed () -->
          <div id="u3853" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3854" class="ax_default _表格单元">
          <img id="u3854_img" class="img " src="images/个人中心-发票管理/u1207.png"/>
          <!-- Unnamed () -->
          <div id="u3855" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3856" class="ax_default _表格单元">
          <img id="u3856_img" class="img " src="images/个人中心-我的订单/u834.png"/>
          <!-- Unnamed () -->
          <div id="u3857" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3858" class="ax_default _表格单元">
          <img id="u3858_img" class="img " src="images/个人中心-我的订单/u836.png"/>
          <!-- Unnamed () -->
          <div id="u3859" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3860" class="ax_default _表格单元">
          <img id="u3860_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3861" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3862" class="ax_default _表格单元">
          <img id="u3862_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3863" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3864" class="ax_default _表格单元">
          <img id="u3864_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3865" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3866" class="ax_default _表格单元">
          <img id="u3866_img" class="img " src="images/个人中心-我的订单/u844.png"/>
          <!-- Unnamed () -->
          <div id="u3867" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3868" class="ax_default _表格单元">
          <img id="u3868_img" class="img " src="images/个人中心-我的订单/u846.png"/>
          <!-- Unnamed () -->
          <div id="u3869" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3870" class="ax_default _表格单元">
          <img id="u3870_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u3871" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3872" class="ax_default _表格单元">
          <img id="u3872_img" class="img " src="images/个人中心-我的订单/u854.png"/>
          <!-- Unnamed () -->
          <div id="u3873" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3874" class="ax_default _表格单元">
          <img id="u3874_img" class="img " src="images/个人中心-我的订单/u856.png"/>
          <!-- Unnamed () -->
          <div id="u3875" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3876" class="ax_default _表格单元">
          <img id="u3876_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3877" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3878" class="ax_default _表格单元">
          <img id="u3878_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3879" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3880" class="ax_default _表格单元">
          <img id="u3880_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3881" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3882" class="ax_default _表格单元">
          <img id="u3882_img" class="img " src="images/个人中心-我的订单/u864.png"/>
          <!-- Unnamed () -->
          <div id="u3883" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3884" class="ax_default _表格单元">
          <img id="u3884_img" class="img " src="images/个人中心-我的订单/u866.png"/>
          <!-- Unnamed () -->
          <div id="u3885" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3886" class="ax_default _表格单元">
          <img id="u3886_img" class="img " src="images/个人中心-发票管理/u1239.png"/>
          <!-- Unnamed () -->
          <div id="u3887" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3888" class="ax_default _图像">
        <img id="u3888_img" class="img " src="images/个人中心-全部数据/u584.png"/>
        <!-- Unnamed () -->
        <div id="u3889" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3890" class="ax_default _横线">
        <img id="u3890_img" class="img " src="images/个人中心-商家主页/u93.png"/>
        <!-- Unnamed () -->
        <div id="u3891" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3892" class="ax_default _文本">
        <div id="u3892_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3893" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3894" class="ax_default _文本">
        <div id="u3894_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3895" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3896" class="ax_default _文本">
        <div id="u3896_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3897" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3898" class="ax_default _文本">
        <div id="u3898_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3899" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3900" class="ax_default _文本">
        <div id="u3900_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3901" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3902" class="ax_default _文本">
        <div id="u3902_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3903" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3904" class="ax_default _文本">
        <div id="u3904_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3905" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3906" class="ax_default _文本">
        <div id="u3906_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3907" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3908" class="ax_default _文本">
        <div id="u3908_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3909" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3910" class="ax_default _文本">
        <div id="u3910_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3911" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3912" class="ax_default _图像">
        <img id="u3912_img" class="img " src="images/个人中心-商家主页/u115.png"/>
        <!-- Unnamed () -->
        <div id="u3913" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3914" class="ax_default _形状">
        <div id="u3914_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3915" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3916" class="ax_default _文本">
        <div id="u3916_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3917" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3918" class="ax_default _文本">
        <div id="u3918_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3919" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3920" class="ax_default _文本">
        <div id="u3920_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3921" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3922" class="ax_default _文本">
        <div id="u3922_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3923" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3924" class="ax_default _文本">
        <div id="u3924_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3925" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3926" class="ax_default _文本">
        <div id="u3926_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3927" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3928" class="ax_default _文本">
        <div id="u3928_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3929" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3930" class="ax_default _文本">
        <div id="u3930_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3931" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3932" class="ax_default _文本">
        <div id="u3932_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3933" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3934" class="ax_default _文本">
        <div id="u3934_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3935" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3936" class="ax_default _文本">
        <div id="u3936_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3937" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3938" class="ax_default _文本">
        <div id="u3938_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3939" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3940" class="ax_default _文本">
        <div id="u3940_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3941" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3942" class="ax_default _文本">
        <div id="u3942_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3943" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
