<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-发票开具</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-发票开具/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-发票开具/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1247" class="ax_default _形状">
        <div id="u1247_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1248" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1249" class="ax_default _形状">
        <div id="u1249_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1250" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1251" class="ax_default _文本">
        <div id="u1251_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1252" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1253" class="ax_default _文本">
        <div id="u1253_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1254" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1255" class="ax_default _文本">
        <div id="u1255_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1256" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1257" class="ax_default _文本">
        <div id="u1257_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1258" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1259" class="ax_default _图像">
        <img id="u1259_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u1260" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1261" class="ax_default _图像">
        <img id="u1261_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u1262" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1263" class="ax_default _形状">
        <div id="u1263_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1264" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1265" class="ax_default _文本">
        <div id="u1265_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1266" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1267" class="ax_default _文本">
        <div id="u1267_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1268" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1269" class="ax_default _横线">
        <img id="u1269_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u1270" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1271" class="ax_default _文本">
        <div id="u1271_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1272" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1273" class="ax_default _文本">
        <div id="u1273_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1274" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1275" class="ax_default _文本">
        <div id="u1275_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1276" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1277" class="ax_default _文本">
        <div id="u1277_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1278" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1279" class="ax_default _文本">
        <div id="u1279_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1280" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1281" class="ax_default _文本">
        <div id="u1281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1282" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1283" class="ax_default _文本">
        <div id="u1283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1284" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1285" class="ax_default _文本">
        <div id="u1285_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1286" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1287" class="ax_default _文本">
        <div id="u1287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1288" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1289" class="ax_default _文本">
        <div id="u1289_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1290" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1291" class="ax_default _图像">
        <img id="u1291_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u1292" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1293" class="ax_default _文本">
        <div id="u1293_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1294" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1295" class="ax_default _形状">
        <div id="u1295_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1296" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1297" class="ax_default _文本">
        <div id="u1297_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1298" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1299" class="ax_default _文本">
        <div id="u1299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1300" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的订单</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1301" class="ax_default _文本">
        <div id="u1301_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1302" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">密码修改</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1303" class="ax_default _文本">
        <div id="u1303_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1304" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1305" class="ax_default _文本">
        <div id="u1305_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1306" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1307" class="ax_default _文本">
        <div id="u1307_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1308" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">我的收藏</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1309" class="ax_default _文本">
        <div id="u1309_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1310" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1311" class="ax_default _横线">
        <img id="u1311_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u1312" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1313" class="ax_default _文本">
        <div id="u1313_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1314" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1315" class="ax_default _文本">
        <div id="u1315_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1316" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1317" class="ax_default _文本">
        <div id="u1317_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1318" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1319" class="ax_default _文本">
        <div id="u1319_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1320" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1321" class="ax_default _文本">
        <div id="u1321_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1322" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1323" class="ax_default _文本">
        <div id="u1323_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1324" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1325" class="ax_default _文本">
        <div id="u1325_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1326" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1327" class="ax_default _文本">
        <div id="u1327_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1328" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1329" class="ax_default _文本">
        <div id="u1329_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1330" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1331" class="ax_default _文本">
        <div id="u1331_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1332" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1333" class="ax_default _图像">
        <img id="u1333_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u1334" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1335" class="ax_default _形状">
        <div id="u1335_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1336" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1337" class="ax_default _文本">
        <div id="u1337_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1338" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票开具申请：</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u1339" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u1340" class="ax_default _表格单元">
          <img id="u1340_img" class="img " src="images/个人中心-发票开具/u1340.png"/>
          <!-- Unnamed () -->
          <div id="u1341" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">邮寄地址：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1342" class="ax_default _表格单元">
          <img id="u1342_img" class="img " src="images/个人中心-发票开具/u1342.png"/>
          <!-- Unnamed () -->
          <div id="u1343" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1344" class="ax_default _表格单元">
          <img id="u1344_img" class="img " src="images/个人中心-发票开具/u1340.png"/>
          <!-- Unnamed () -->
          <div id="u1345" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">电话：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1346" class="ax_default _表格单元">
          <img id="u1346_img" class="img " src="images/个人中心-发票开具/u1342.png"/>
          <!-- Unnamed () -->
          <div id="u1347" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1348" class="ax_default _表格单元">
          <img id="u1348_img" class="img " src="images/个人中心-发票开具/u1340.png"/>
          <!-- Unnamed () -->
          <div id="u1349" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1350" class="ax_default _表格单元">
          <img id="u1350_img" class="img " src="images/个人中心-发票开具/u1342.png"/>
          <!-- Unnamed () -->
          <div id="u1351" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1352" class="ax_default _表格单元">
          <img id="u1352_img" class="img " src="images/个人中心-发票开具/u1352.png"/>
          <!-- Unnamed () -->
          <div id="u1353" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">社会统一信用代码：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1354" class="ax_default _表格单元">
          <img id="u1354_img" class="img " src="images/个人中心-发票开具/u1354.png"/>
          <!-- Unnamed () -->
          <div id="u1355" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1356" class="ax_default _表格单元">
          <img id="u1356_img" class="img " src="images/个人中心-发票开具/u1352.png"/>
          <!-- Unnamed () -->
          <div id="u1357" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">地址：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1358" class="ax_default _表格单元">
          <img id="u1358_img" class="img " src="images/个人中心-发票开具/u1354.png"/>
          <!-- Unnamed () -->
          <div id="u1359" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1360" class="ax_default _表格单元">
          <img id="u1360_img" class="img " src="images/个人中心-发票开具/u1352.png"/>
          <!-- Unnamed () -->
          <div id="u1361" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开户行：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1362" class="ax_default _表格单元">
          <img id="u1362_img" class="img " src="images/个人中心-发票开具/u1354.png"/>
          <!-- Unnamed () -->
          <div id="u1363" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1364" class="ax_default _表格单元">
          <img id="u1364_img" class="img " src="images/个人中心-发票开具/u1352.png"/>
          <!-- Unnamed () -->
          <div id="u1365" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">账户：</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1366" class="ax_default _表格单元">
          <img id="u1366_img" class="img " src="images/个人中心-发票开具/u1354.png"/>
          <!-- Unnamed () -->
          <div id="u1367" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1368" class="ax_default _表格单元">
          <img id="u1368_img" class="img " src="images/个人中心-发票开具/u1368.png"/>
          <!-- Unnamed () -->
          <div id="u1369" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">是否与其他发票申请合并开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u1370" class="ax_default _表格单元">
          <img id="u1370_img" class="img " src="images/个人中心-发票开具/u1370.png"/>
          <!-- Unnamed () -->
          <div id="u1371" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u1372" class="ax_default _单选按钮">
        <label for="u1372_input">
          <!-- Unnamed () -->
          <div id="u1373" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">否</span></p>
          </div>
        </label>
        <input id="u1372_input" type="radio" value="radio" name="u1372"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u1374" class="ax_default _单选按钮">
        <label for="u1374_input">
          <!-- Unnamed () -->
          <div id="u1375" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">是</span></p>
          </div>
        </label>
        <input id="u1374_input" type="radio" value="radio" name="u1374"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u1376" class="ax_default html__">
        <input id="u1376_input" type="submit" value="提交" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u1377" class="ax_default html__">
        <input id="u1377_input" type="submit" value="取消" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1378" class="ax_default _文本框_单行_">
        <input id="u1378_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1379" class="ax_default _文本框_单行_">
        <input id="u1379_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1380" class="ax_default _文本框_单行_">
        <input id="u1380_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1381" class="ax_default _文本框_单行_">
        <input id="u1381_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1382" class="ax_default _文本框_单行_">
        <input id="u1382_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1383" class="ax_default _文本框_单行_">
        <input id="u1383_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u1384" class="ax_default _文本框_单行_">
        <input id="u1384_input" type="text" value="" class="text_sketch"/>
      </div>
    </div>
  </body>
</html>
