<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-角色管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-角色管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-角色管理/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u2228" class="ax_default _形状">
        <div id="u2228_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2229" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2230" class="ax_default _形状">
        <div id="u2230_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2231" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2232" class="ax_default _文本">
        <div id="u2232_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2233" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2234" class="ax_default _文本">
        <div id="u2234_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2235" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2236" class="ax_default _文本">
        <div id="u2236_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2237" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2238" class="ax_default _文本">
        <div id="u2238_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2239" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2240" class="ax_default _图像">
        <img id="u2240_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u2241" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2242" class="ax_default _图像">
        <img id="u2242_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u2243" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2244" class="ax_default _形状">
        <div id="u2244_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2245" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2246" class="ax_default _文本">
        <div id="u2246_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2247" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2248" class="ax_default _文本">
        <div id="u2248_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2249" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2250" class="ax_default _横线">
        <img id="u2250_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u2251" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2252" class="ax_default _文本">
        <div id="u2252_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2253" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2254" class="ax_default _文本">
        <div id="u2254_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2255" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2256" class="ax_default _文本">
        <div id="u2256_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2257" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2258" class="ax_default _文本">
        <div id="u2258_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2259" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2260" class="ax_default _文本">
        <div id="u2260_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2261" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2262" class="ax_default _文本">
        <div id="u2262_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2263" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2264" class="ax_default _文本">
        <div id="u2264_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2265" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2266" class="ax_default _文本">
        <div id="u2266_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2267" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2268" class="ax_default _文本">
        <div id="u2268_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2269" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2270" class="ax_default _文本">
        <div id="u2270_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2271" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2272" class="ax_default _图像">
        <img id="u2272_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u2273" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2274" class="ax_default _文本">
        <div id="u2274_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2275" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2276" class="ax_default _形状">
        <div id="u2276_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2277" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2278" class="ax_default _文本">
        <div id="u2278_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2279" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2280" class="ax_default _文本">
        <div id="u2280_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2281" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2282" class="ax_default _图像">
        <img id="u2282_img" class="img " src="images/个人中心-全部数据/u560.png"/>
        <!-- Unnamed () -->
        <div id="u2283" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2284" class="ax_default _横线">
        <img id="u2284_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u2285" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2286" class="ax_default _文本">
        <div id="u2286_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2287" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2288" class="ax_default _文本">
        <div id="u2288_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2289" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2290" class="ax_default _文本">
        <div id="u2290_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2291" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2292" class="ax_default _文本">
        <div id="u2292_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2293" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2294" class="ax_default _文本">
        <div id="u2294_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2295" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2296" class="ax_default _文本">
        <div id="u2296_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2297" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2298" class="ax_default _文本">
        <div id="u2298_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2299" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2300" class="ax_default _文本">
        <div id="u2300_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2301" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2302" class="ax_default _文本">
        <div id="u2302_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2303" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2304" class="ax_default _文本">
        <div id="u2304_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2305" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u2306" class="ax_default _图像">
        <img id="u2306_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u2307" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2308" class="ax_default _形状">
        <div id="u2308_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2309" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2310" class="ax_default _文本">
        <div id="u2310_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2311" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2312" class="ax_default _文本">
        <div id="u2312_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2313" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2314" class="ax_default _文本">
        <div id="u2314_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2315" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2316" class="ax_default _文本">
        <div id="u2316_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2317" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2318" class="ax_default _文本">
        <div id="u2318_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2319" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2320" class="ax_default _文本">
        <div id="u2320_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2321" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2322" class="ax_default _文本">
        <div id="u2322_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2323" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2324" class="ax_default _文本">
        <div id="u2324_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2325" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2326" class="ax_default _文本">
        <div id="u2326_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2327" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2328" class="ax_default _文本">
        <div id="u2328_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2329" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2330" class="ax_default _文本">
        <div id="u2330_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2331" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2332" class="ax_default _文本">
        <div id="u2332_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2333" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2334" class="ax_default _文本">
        <div id="u2334_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2335" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2336" class="ax_default _文本">
        <div id="u2336_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2337" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2338" class="ax_default _形状">
        <div id="u2338_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2339" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2340" class="ax_default _文本">
        <div id="u2340_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2341" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色名称：</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框(单行)) -->
      <div id="u2342" class="ax_default _文本框_单行_">
        <input id="u2342_input" type="text" value="" class="text_sketch"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2343" class="ax_default _文本">
        <div id="u2343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2344" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">状态：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u2345" class="ax_default _下拉列表框">
        <select id="u2345_input" class="text_sketch">
          <option selected value="生效">生效</option>
          <option value="失效">失效</option>
        </select>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2346" class="ax_default html__">
        <input id="u2346_input" type="submit" value="查询" class="text_sketch"/>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u2347" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u2348" class="ax_default _表格单元">
          <img id="u2348_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2349" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2350" class="ax_default _表格单元">
          <img id="u2350_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2351" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 2</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2352" class="ax_default _表格单元">
          <img id="u2352_img" class="img " src="images/个人中心-角色管理/u2352.png"/>
          <!-- Unnamed () -->
          <div id="u2353" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">Column 3</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2354" class="ax_default _表格单元">
          <img id="u2354_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2355" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2356" class="ax_default _表格单元">
          <img id="u2356_img" class="img " src="images/广交所/u22.png"/>
          <!-- Unnamed () -->
          <div id="u2357" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2358" class="ax_default _表格单元">
          <img id="u2358_img" class="img " src="images/个人中心-角色管理/u2352.png"/>
          <!-- Unnamed () -->
          <div id="u2359" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2360" class="ax_default _表格单元">
          <img id="u2360_img" class="img " src="images/广交所/u66.png"/>
          <!-- Unnamed () -->
          <div id="u2361" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2362" class="ax_default _表格单元">
          <img id="u2362_img" class="img " src="images/广交所/u66.png"/>
          <!-- Unnamed () -->
          <div id="u2363" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2364" class="ax_default _表格单元">
          <img id="u2364_img" class="img " src="images/个人中心-角色管理/u2364.png"/>
          <!-- Unnamed () -->
          <div id="u2365" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u2366" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u2367" class="ax_default _表格单元">
          <img id="u2367_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2368" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2369" class="ax_default _表格单元">
          <img id="u2369_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2370" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2371" class="ax_default _表格单元">
          <img id="u2371_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2372" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">角色名称</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2373" class="ax_default _表格单元">
          <img id="u2373_img" class="img " src="images/个人中心-角色管理/u2373.png"/>
          <!-- Unnamed () -->
          <div id="u2374" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">角色描述</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2375" class="ax_default _表格单元">
          <img id="u2375_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2376" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2377" class="ax_default _表格单元">
          <img id="u2377_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2378" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2379" class="ax_default _表格单元">
          <img id="u2379_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2380" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2381" class="ax_default _表格单元">
          <img id="u2381_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2382" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">11</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2383" class="ax_default _表格单元">
          <img id="u2383_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2384" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">超级管理员</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2385" class="ax_default _表格单元">
          <img id="u2385_img" class="img " src="images/个人中心-角色管理/u2373.png"/>
          <!-- Unnamed () -->
          <div id="u2386" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">掌控全平台</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2387" class="ax_default _表格单元">
          <img id="u2387_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2388" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">有效</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2389" class="ax_default _表格单元">
          <img id="u2389_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2390" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">删除/编辑/赋权</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2391" class="ax_default _表格单元">
          <img id="u2391_img" class="img " src="images/个人中心-角色管理/u2367.png"/>
          <!-- Unnamed () -->
          <div id="u2392" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2393" class="ax_default _表格单元">
          <img id="u2393_img" class="img " src="images/个人中心-角色管理/u2369.png"/>
          <!-- Unnamed () -->
          <div id="u2394" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2395" class="ax_default _表格单元">
          <img id="u2395_img" class="img " src="images/个人中心-角色管理/u2371.png"/>
          <!-- Unnamed () -->
          <div id="u2396" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2397" class="ax_default _表格单元">
          <img id="u2397_img" class="img " src="images/个人中心-角色管理/u2373.png"/>
          <!-- Unnamed () -->
          <div id="u2398" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2399" class="ax_default _表格单元">
          <img id="u2399_img" class="img " src="images/个人中心-角色管理/u2375.png"/>
          <!-- Unnamed () -->
          <div id="u2400" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2401" class="ax_default _表格单元">
          <img id="u2401_img" class="img " src="images/个人中心-角色管理/u2377.png"/>
          <!-- Unnamed () -->
          <div id="u2402" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">编辑</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2403" class="ax_default _表格单元">
          <img id="u2403_img" class="img " src="images/个人中心-角色管理/u2403.png"/>
          <!-- Unnamed () -->
          <div id="u2404" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2405" class="ax_default _表格单元">
          <img id="u2405_img" class="img " src="images/个人中心-角色管理/u2405.png"/>
          <!-- Unnamed () -->
          <div id="u2406" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2407" class="ax_default _表格单元">
          <img id="u2407_img" class="img " src="images/个人中心-角色管理/u2407.png"/>
          <!-- Unnamed () -->
          <div id="u2408" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2409" class="ax_default _表格单元">
          <img id="u2409_img" class="img " src="images/个人中心-角色管理/u2409.png"/>
          <!-- Unnamed () -->
          <div id="u2410" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2411" class="ax_default _表格单元">
          <img id="u2411_img" class="img " src="images/个人中心-角色管理/u2411.png"/>
          <!-- Unnamed () -->
          <div id="u2412" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u2413" class="ax_default _表格单元">
          <img id="u2413_img" class="img " src="images/个人中心-角色管理/u2413.png"/>
          <!-- Unnamed () -->
          <div id="u2414" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">赋权</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u2415" class="ax_default _复选框">
        <label for="u2415_input">
          <!-- Unnamed () -->
          <div id="u2416" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u2415_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u2417" class="ax_default _复选框">
        <label for="u2417_input">
          <!-- Unnamed () -->
          <div id="u2418" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u2417_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2419" class="ax_default html__">
        <input id="u2419_input" type="submit" value="新增" class="text_sketch"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u2420" class="ax_default html__">
        <input id="u2420_input" type="submit" value="删除" class="text_sketch"/>
      </div>
    </div>
  </body>
</html>
