<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-搜索分类-波哥-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-搜索分类-波哥-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-搜索分类-波哥-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u3003" class="ax_default _形状">
        <div id="u3003_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3004" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3005" class="ax_default _形状">
        <div id="u3005_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3006" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3007" class="ax_default _文本">
        <div id="u3007_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3008" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3009" class="ax_default _文本">
        <div id="u3009_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3010" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3011" class="ax_default _文本">
        <div id="u3011_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3012" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3013" class="ax_default _文本">
        <div id="u3013_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3014" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3015" class="ax_default _图像">
        <img id="u3015_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u3016" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3017" class="ax_default _图像">
        <img id="u3017_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u3018" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3019" class="ax_default _形状">
        <div id="u3019_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3020" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3021" class="ax_default _文本">
        <div id="u3021_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3022" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3023" class="ax_default _文本">
        <div id="u3023_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3024" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3025" class="ax_default _横线">
        <img id="u3025_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u3026" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3027" class="ax_default _文本">
        <div id="u3027_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3028" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3029" class="ax_default _文本">
        <div id="u3029_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3030" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3031" class="ax_default _文本">
        <div id="u3031_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3032" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3033" class="ax_default _文本">
        <div id="u3033_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3034" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3035" class="ax_default _文本">
        <div id="u3035_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3036" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3037" class="ax_default _文本">
        <div id="u3037_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3038" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3039" class="ax_default _文本">
        <div id="u3039_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3040" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3041" class="ax_default _文本">
        <div id="u3041_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3042" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3043" class="ax_default _文本">
        <div id="u3043_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3044" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3045" class="ax_default _文本">
        <div id="u3045_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3046" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3047" class="ax_default _图像">
        <img id="u3047_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u3048" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3049" class="ax_default _文本">
        <div id="u3049_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3050" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3051" class="ax_default _形状">
        <div id="u3051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3052" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3053" class="ax_default _文本">
        <div id="u3053_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3054" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3055" class="ax_default _文本">
        <div id="u3055_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3056" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3057" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u3058" class="ax_default _表格单元">
          <img id="u3058_img" class="img " src="images/个人中心-我的订单/u790.png"/>
          <!-- Unnamed () -->
          <div id="u3059" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3060" class="ax_default _表格单元">
          <img id="u3060_img" class="img " src="images/个人中心-我的订单/u792.png"/>
          <!-- Unnamed () -->
          <div id="u3061" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3062" class="ax_default _表格单元">
          <img id="u3062_img" class="img " src="images/个人中心-我的订单/u794.png"/>
          <!-- Unnamed () -->
          <div id="u3063" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3064" class="ax_default _表格单元">
          <img id="u3064_img" class="img " src="images/个人中心-我的订单/u794.png"/>
          <!-- Unnamed () -->
          <div id="u3065" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3066" class="ax_default _表格单元">
          <img id="u3066_img" class="img " src="images/个人中心-我的订单/u794.png"/>
          <!-- Unnamed () -->
          <div id="u3067" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3068" class="ax_default _表格单元">
          <img id="u3068_img" class="img " src="images/个人中心-我的订单/u800.png"/>
          <!-- Unnamed () -->
          <div id="u3069" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3070" class="ax_default _表格单元">
          <img id="u3070_img" class="img " src="images/个人中心-我的订单/u802.png"/>
          <!-- Unnamed () -->
          <div id="u3071" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3072" class="ax_default _表格单元">
          <img id="u3072_img" class="img " src="images/个人中心-发票管理/u1183.png"/>
          <!-- Unnamed () -->
          <div id="u3073" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3074" class="ax_default _表格单元">
          <img id="u3074_img" class="img " src="images/个人中心-我的订单/u810.png"/>
          <!-- Unnamed () -->
          <div id="u3075" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3076" class="ax_default _表格单元">
          <img id="u3076_img" class="img " src="images/个人中心-我的订单/u812.png"/>
          <!-- Unnamed () -->
          <div id="u3077" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3078" class="ax_default _表格单元">
          <img id="u3078_img" class="img " src="images/个人中心-我的订单/u814.png"/>
          <!-- Unnamed () -->
          <div id="u3079" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3080" class="ax_default _表格单元">
          <img id="u3080_img" class="img " src="images/个人中心-我的订单/u814.png"/>
          <!-- Unnamed () -->
          <div id="u3081" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3082" class="ax_default _表格单元">
          <img id="u3082_img" class="img " src="images/个人中心-我的订单/u814.png"/>
          <!-- Unnamed () -->
          <div id="u3083" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3084" class="ax_default _表格单元">
          <img id="u3084_img" class="img " src="images/个人中心-我的订单/u820.png"/>
          <!-- Unnamed () -->
          <div id="u3085" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3086" class="ax_default _表格单元">
          <img id="u3086_img" class="img " src="images/个人中心-我的订单/u822.png"/>
          <!-- Unnamed () -->
          <div id="u3087" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3088" class="ax_default _表格单元">
          <img id="u3088_img" class="img " src="images/个人中心-发票管理/u1199.png"/>
          <!-- Unnamed () -->
          <div id="u3089" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3090" class="ax_default _表格单元">
          <img id="u3090_img" class="img " src="images/个人中心-我的订单/u830.png"/>
          <!-- Unnamed () -->
          <div id="u3091" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3092" class="ax_default _表格单元">
          <img id="u3092_img" class="img " src="images/个人中心-我的订单/u832.png"/>
          <!-- Unnamed () -->
          <div id="u3093" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3094" class="ax_default _表格单元">
          <img id="u3094_img" class="img " src="images/个人中心-我的订单/u834.png"/>
          <!-- Unnamed () -->
          <div id="u3095" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3096" class="ax_default _表格单元">
          <img id="u3096_img" class="img " src="images/个人中心-我的订单/u834.png"/>
          <!-- Unnamed () -->
          <div id="u3097" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3098" class="ax_default _表格单元">
          <img id="u3098_img" class="img " src="images/个人中心-我的订单/u834.png"/>
          <!-- Unnamed () -->
          <div id="u3099" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3100" class="ax_default _表格单元">
          <img id="u3100_img" class="img " src="images/个人中心-我的订单/u840.png"/>
          <!-- Unnamed () -->
          <div id="u3101" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3102" class="ax_default _表格单元">
          <img id="u3102_img" class="img " src="images/个人中心-我的订单/u842.png"/>
          <!-- Unnamed () -->
          <div id="u3103" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3104" class="ax_default _表格单元">
          <img id="u3104_img" class="img " src="images/个人中心-发票管理/u1215.png"/>
          <!-- Unnamed () -->
          <div id="u3105" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3106" class="ax_default _图像">
        <img id="u3106_img" class="img " src="images/个人中心-全部数据/u560.png"/>
        <!-- Unnamed () -->
        <div id="u3107" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3108" class="ax_default _横线">
        <img id="u3108_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u3109" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3110" class="ax_default _文本">
        <div id="u3110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3111" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3112" class="ax_default _文本">
        <div id="u3112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3113" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3114" class="ax_default _文本">
        <div id="u3114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3115" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3116" class="ax_default _文本">
        <div id="u3116_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3117" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3118" class="ax_default _文本">
        <div id="u3118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3119" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3120" class="ax_default _文本">
        <div id="u3120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3121" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3122" class="ax_default _文本">
        <div id="u3122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3123" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3124" class="ax_default _文本">
        <div id="u3124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3125" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3126" class="ax_default _文本">
        <div id="u3126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3127" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3128" class="ax_default _文本">
        <div id="u3128_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3129" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3130" class="ax_default _图像">
        <img id="u3130_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u3131" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3132" class="ax_default _形状">
        <div id="u3132_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3133" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3134" class="ax_default _文本">
        <div id="u3134_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3135" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3136" class="ax_default _文本">
        <div id="u3136_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3137" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3138" class="ax_default _文本">
        <div id="u3138_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3139" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3140" class="ax_default _文本">
        <div id="u3140_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3141" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3142" class="ax_default _文本">
        <div id="u3142_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3143" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3144" class="ax_default _文本">
        <div id="u3144_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3145" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3146" class="ax_default _文本">
        <div id="u3146_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3147" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3148" class="ax_default _文本">
        <div id="u3148_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3149" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3150" class="ax_default _文本">
        <div id="u3150_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3151" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3152" class="ax_default _文本">
        <div id="u3152_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3153" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3154" class="ax_default _文本">
        <div id="u3154_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3155" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3156" class="ax_default _文本">
        <div id="u3156_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3157" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3158" class="ax_default _文本">
        <div id="u3158_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3159" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3160" class="ax_default _文本">
        <div id="u3160_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3161" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
