<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-数据购买</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-数据购买/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-数据购买/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1523" class="ax_default _形状">
        <div id="u1523_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1524" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1525" class="ax_default _文本">
        <div id="u1525_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1526" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1527" class="ax_default _文本">
        <div id="u1527_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1528" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1529" class="ax_default _文本">
        <div id="u1529_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1530" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1531" class="ax_default _文本">
        <div id="u1531_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1532" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1533" class="ax_default _图像">
        <img id="u1533_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u1534" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1535" class="ax_default _图像">
        <img id="u1535_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u1536" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1537" class="ax_default _形状">
        <div id="u1537_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1538" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1539" class="ax_default _文本">
        <div id="u1539_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1540" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1541" class="ax_default _文本">
        <div id="u1541_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1542" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1543" class="ax_default _横线">
        <img id="u1543_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u1544" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1545" class="ax_default _文本">
        <div id="u1545_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1546" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1547" class="ax_default _文本">
        <div id="u1547_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1548" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1549" class="ax_default _文本">
        <div id="u1549_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1550" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1551" class="ax_default _文本">
        <div id="u1551_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1552" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1553" class="ax_default _文本">
        <div id="u1553_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1554" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1555" class="ax_default _文本">
        <div id="u1555_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1556" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1557" class="ax_default _文本">
        <div id="u1557_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1558" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1559" class="ax_default _文本">
        <div id="u1559_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1560" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1561" class="ax_default _文本">
        <div id="u1561_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1562" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1563" class="ax_default _文本">
        <div id="u1563_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1564" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1565" class="ax_default _图像">
        <img id="u1565_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u1566" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1567" class="ax_default _文本">
        <div id="u1567_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1568" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u1569" class="ax_default _横线">
        <img id="u1569_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u1570" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1571" class="ax_default _文本">
        <div id="u1571_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1572" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1573" class="ax_default _文本">
        <div id="u1573_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1574" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1575" class="ax_default _文本">
        <div id="u1575_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1576" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1577" class="ax_default _文本">
        <div id="u1577_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1578" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1579" class="ax_default _文本">
        <div id="u1579_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1580" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1581" class="ax_default _文本">
        <div id="u1581_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1582" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1583" class="ax_default _文本">
        <div id="u1583_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1584" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1585" class="ax_default _文本">
        <div id="u1585_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1586" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1587" class="ax_default _文本">
        <div id="u1587_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1588" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1589" class="ax_default _文本">
        <div id="u1589_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1590" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1591" class="ax_default _图像">
        <img id="u1591_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u1592" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u1593" class="ax_default _图像">
        <img id="u1593_img" class="img " src="images/个人中心-数据购买/u1593.png"/>
        <!-- Unnamed () -->
        <div id="u1594" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
