<!DOCTYPE html>
<html>
  <head>
    <title>个人中心-商家管理-待</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/个人中心-商家管理-待/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/个人中心-商家管理-待/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u3626" class="ax_default _形状">
        <div id="u3626_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3627" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3628" class="ax_default _形状">
        <div id="u3628_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3629" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3630" class="ax_default _文本">
        <div id="u3630_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3631" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3632" class="ax_default _文本">
        <div id="u3632_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3633" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3634" class="ax_default _文本">
        <div id="u3634_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3635" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3636" class="ax_default _文本">
        <div id="u3636_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3637" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3638" class="ax_default _图像">
        <img id="u3638_img" class="img " src="images/广交所首页/u169.png"/>
        <!-- Unnamed () -->
        <div id="u3639" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3640" class="ax_default _图像">
        <img id="u3640_img" class="img " src="images/广交所首页/u171.png"/>
        <!-- Unnamed () -->
        <div id="u3641" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3642" class="ax_default _形状">
        <div id="u3642_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3643" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3644" class="ax_default _文本">
        <div id="u3644_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3645" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3646" class="ax_default _文本">
        <div id="u3646_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3647" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3648" class="ax_default _横线">
        <img id="u3648_img" class="img " src="images/个人中心-商家主页/u93.png"/>
        <!-- Unnamed () -->
        <div id="u3649" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3650" class="ax_default _文本">
        <div id="u3650_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3651" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3652" class="ax_default _文本">
        <div id="u3652_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3653" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3654" class="ax_default _文本">
        <div id="u3654_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3655" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3656" class="ax_default _文本">
        <div id="u3656_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3657" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3658" class="ax_default _文本">
        <div id="u3658_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3659" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3660" class="ax_default _文本">
        <div id="u3660_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3661" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3662" class="ax_default _文本">
        <div id="u3662_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3663" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3664" class="ax_default _文本">
        <div id="u3664_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3665" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3666" class="ax_default _文本">
        <div id="u3666_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3667" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3668" class="ax_default _文本">
        <div id="u3668_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3669" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3670" class="ax_default _图像">
        <img id="u3670_img" class="img " src="images/个人中心-商家主页/u115.png"/>
        <!-- Unnamed () -->
        <div id="u3671" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3672" class="ax_default _文本">
        <div id="u3672_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3673" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3674" class="ax_default _形状">
        <div id="u3674_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3675" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3676" class="ax_default _文本">
        <div id="u3676_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3677" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">菜单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3678" class="ax_default _文本">
        <div id="u3678_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3679" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">当前位置：广州数据交易中心&gt; 个人中心 &gt; 发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u3680" class="ax_default _表格">

        <!-- Unnamed (表格单元) -->
        <div id="u3681" class="ax_default _表格单元">
          <img id="u3681_img" class="img " src="images/个人中心-我的订单/u814.png"/>
          <!-- Unnamed () -->
          <div id="u3682" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3683" class="ax_default _表格单元">
          <img id="u3683_img" class="img " src="images/个人中心-我的订单/u816.png"/>
          <!-- Unnamed () -->
          <div id="u3684" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">订单编码</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3685" class="ax_default _表格单元">
          <img id="u3685_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3686" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票金额</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3687" class="ax_default _表格单元">
          <img id="u3687_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3688" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3689" class="ax_default _表格单元">
          <img id="u3689_img" class="img " src="images/个人中心-我的订单/u818.png"/>
          <!-- Unnamed () -->
          <div id="u3690" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3691" class="ax_default _表格单元">
          <img id="u3691_img" class="img " src="images/个人中心-我的订单/u824.png"/>
          <!-- Unnamed () -->
          <div id="u3692" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">收取方式</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3693" class="ax_default _表格单元">
          <img id="u3693_img" class="img " src="images/个人中心-我的订单/u826.png"/>
          <!-- Unnamed () -->
          <div id="u3694" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">发票状态</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3695" class="ax_default _表格单元">
          <img id="u3695_img" class="img " src="images/个人中心-发票管理/u1207.png"/>
          <!-- Unnamed () -->
          <div id="u3696" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3697" class="ax_default _表格单元">
          <img id="u3697_img" class="img " src="images/个人中心-我的订单/u834.png"/>
          <!-- Unnamed () -->
          <div id="u3698" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3699" class="ax_default _表格单元">
          <img id="u3699_img" class="img " src="images/个人中心-我的订单/u836.png"/>
          <!-- Unnamed () -->
          <div id="u3700" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3701" class="ax_default _表格单元">
          <img id="u3701_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3702" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">599</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3703" class="ax_default _表格单元">
          <img id="u3703_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3704" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">2017-03-23</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3705" class="ax_default _表格单元">
          <img id="u3705_img" class="img " src="images/个人中心-我的订单/u838.png"/>
          <!-- Unnamed () -->
          <div id="u3706" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">北京亚信</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3707" class="ax_default _表格单元">
          <img id="u3707_img" class="img " src="images/个人中心-我的订单/u844.png"/>
          <!-- Unnamed () -->
          <div id="u3708" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递-地址</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3709" class="ax_default _表格单元">
          <img id="u3709_img" class="img " src="images/个人中心-我的订单/u846.png"/>
          <!-- Unnamed () -->
          <div id="u3710" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">未开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3711" class="ax_default _表格单元">
          <img id="u3711_img" class="img " src="images/个人中心-发票管理/u1223.png"/>
          <!-- Unnamed () -->
          <div id="u3712" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3713" class="ax_default _表格单元">
          <img id="u3713_img" class="img " src="images/个人中心-我的订单/u854.png"/>
          <!-- Unnamed () -->
          <div id="u3714" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3715" class="ax_default _表格单元">
          <img id="u3715_img" class="img " src="images/个人中心-我的订单/u856.png"/>
          <!-- Unnamed () -->
          <div id="u3716" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">201703270001</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3717" class="ax_default _表格单元">
          <img id="u3717_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3718" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">0</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3719" class="ax_default _表格单元">
          <img id="u3719_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3720" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请开票时间</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3721" class="ax_default _表格单元">
          <img id="u3721_img" class="img " src="images/个人中心-我的订单/u858.png"/>
          <!-- Unnamed () -->
          <div id="u3722" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">申请抬头</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3723" class="ax_default _表格单元">
          <img id="u3723_img" class="img " src="images/个人中心-我的订单/u864.png"/>
          <!-- Unnamed () -->
          <div id="u3724" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">快递</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3725" class="ax_default _表格单元">
          <img id="u3725_img" class="img " src="images/个人中心-我的订单/u866.png"/>
          <!-- Unnamed () -->
          <div id="u3726" class="text">
            <p><span style="font-family:'应用字体 Regular', '应用字体';">已开具</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u3727" class="ax_default _表格单元">
          <img id="u3727_img" class="img " src="images/个人中心-发票管理/u1239.png"/>
          <!-- Unnamed () -->
          <div id="u3728" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3729" class="ax_default _图像">
        <img id="u3729_img" class="img " src="images/个人中心-全部数据/u584.png"/>
        <!-- Unnamed () -->
        <div id="u3730" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u3731" class="ax_default _横线">
        <img id="u3731_img" class="img " src="images/个人中心-商家主页/u93.png"/>
        <!-- Unnamed () -->
        <div id="u3732" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3733" class="ax_default _文本">
        <div id="u3733_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3734" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3735" class="ax_default _文本">
        <div id="u3735_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3736" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3737" class="ax_default _文本">
        <div id="u3737_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3738" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3739" class="ax_default _文本">
        <div id="u3739_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3740" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3741" class="ax_default _文本">
        <div id="u3741_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3742" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3743" class="ax_default _文本">
        <div id="u3743_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3744" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3745" class="ax_default _文本">
        <div id="u3745_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3746" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3747" class="ax_default _文本">
        <div id="u3747_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3748" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3749" class="ax_default _文本">
        <div id="u3749_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3750" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3751" class="ax_default _文本">
        <div id="u3751_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3752" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u3753" class="ax_default _图像">
        <img id="u3753_img" class="img " src="images/个人中心-商家主页/u115.png"/>
        <!-- Unnamed () -->
        <div id="u3754" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3755" class="ax_default _形状">
        <div id="u3755_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3756" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3757" class="ax_default _文本">
        <div id="u3757_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3758" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3759" class="ax_default _文本">
        <div id="u3759_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3760" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">企业认证审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3761" class="ax_default _文本">
        <div id="u3761_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3762" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">用户管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3763" class="ax_default _文本">
        <div id="u3763_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3764" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商家管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3765" class="ax_default _文本">
        <div id="u3765_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3766" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3767" class="ax_default _文本">
        <div id="u3767_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3768" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">订单管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3769" class="ax_default _文本">
        <div id="u3769_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3770" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">计费管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3771" class="ax_default _文本">
        <div id="u3771_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3772" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">索分类配置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3773" class="ax_default _文本">
        <div id="u3773_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3774" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3775" class="ax_default _文本">
        <div id="u3775_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3776" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">平台报表</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3777" class="ax_default _文本">
        <div id="u3777_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3778" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">短信通道</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3779" class="ax_default _文本">
        <div id="u3779_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3780" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3781" class="ax_default _文本">
        <div id="u3781_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3782" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u3783" class="ax_default _文本">
        <div id="u3783_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u3784" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">发票管理</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
