<!DOCTYPE html>
<html>
  <head>
    <title>广交所首页的登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广交所首页的登录/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/广交所首页的登录/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u261" class="ax_default _形状">
        <div id="u261_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u262" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u263" class="ax_default _文本">
        <div id="u263_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u264" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u265" class="ax_default _文本">
        <div id="u265_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u266" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u267" class="ax_default _文本">
        <div id="u267_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u268" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u269" class="ax_default _文本">
        <div id="u269_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u270" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u271" class="ax_default _图像">
        <img id="u271_img" class="img " src="images/广交所首页/u169.png"/>
        <!-- Unnamed () -->
        <div id="u272" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u273" class="ax_default _图像">
        <img id="u273_img" class="img " src="images/广交所首页/u171.png"/>
        <!-- Unnamed () -->
        <div id="u274" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u275" class="ax_default _形状">
        <div id="u275_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u276" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u277" class="ax_default _文本">
        <div id="u277_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u278" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u279" class="ax_default _形状">
        <div id="u279_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u280" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u281" class="ax_default _文本">
        <div id="u281_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u282" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u283" class="ax_default _文本">
        <div id="u283_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u284" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">金融理财&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u285" class="ax_default _文本">
        <div id="u285_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u286" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">交通运输&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u287" class="ax_default _文本">
        <div id="u287_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u288" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">气象环保&nbsp; &nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u289" class="ax_default _文本">
        <div id="u289_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u290" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">生活服务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u291" class="ax_default _文本">
        <div id="u291_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u292" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">时空数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u293" class="ax_default _文本">
        <div id="u293_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u294" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">健康医疗</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u295" class="ax_default _文本">
        <div id="u295_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u296" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">更多服务</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u297" class="ax_default _图像">
        <img id="u297_img" class="img " src="images/广交所首页/u195.jpg"/>
        <!-- Unnamed () -->
        <div id="u298" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u299" class="ax_default _文本">
        <div id="u299_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u300" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">8个轮播广告</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u301" class="ax_default _单选按钮">
        <label for="u301_input">
          <!-- Unnamed () -->
          <div id="u302" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u301_input" type="radio" value="radio" name="u301"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u303" class="ax_default _单选按钮">
        <label for="u303_input">
          <!-- Unnamed () -->
          <div id="u304" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u303_input" type="radio" value="radio" name="u303"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u305" class="ax_default _单选按钮">
        <label for="u305_input">
          <!-- Unnamed () -->
          <div id="u306" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u305_input" type="radio" value="radio" name="u305"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u307" class="ax_default _单选按钮">
        <label for="u307_input">
          <!-- Unnamed () -->
          <div id="u308" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u307_input" type="radio" value="radio" name="u307"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u309" class="ax_default _单选按钮">
        <label for="u309_input">
          <!-- Unnamed () -->
          <div id="u310" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u309_input" type="radio" value="radio" name="u309"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u311" class="ax_default _单选按钮">
        <label for="u311_input">
          <!-- Unnamed () -->
          <div id="u312" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u311_input" type="radio" value="radio" name="u311"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u313" class="ax_default _形状">
        <div id="u313_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u314" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u315" class="ax_default _文本">
        <div id="u315_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u316" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据推荐</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u317" class="ax_default _图像">
        <img id="u317_img" class="img " src="images/广交所首页/u215.png"/>
        <!-- Unnamed () -->
        <div id="u318" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u319" class="ax_default _图像">
        <img id="u319_img" class="img " src="images/广交所首页/u217.png"/>
        <!-- Unnamed () -->
        <div id="u320" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u321" class="ax_default _文本">
        <div id="u321_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u322" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u323" class="ax_default _图像">
        <img id="u323_img" class="img " src="images/广交所首页/u221.png"/>
        <!-- Unnamed () -->
        <div id="u324" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u325" class="ax_default _图像">
        <img id="u325_img" class="img " src="images/广交所首页/u223.png"/>
        <!-- Unnamed () -->
        <div id="u326" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u327" class="ax_default _形状">
        <div id="u327_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u328" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u329" class="ax_default _文本">
        <div id="u329_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u330" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u331" class="ax_default _形状">
        <div id="u331_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u332" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u333" class="ax_default _文本">
        <div id="u333_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u334" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">合作伙伴</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u335" class="ax_default _图像">
        <img id="u335_img" class="img " src="images/广交所首页/u233.png"/>
        <!-- Unnamed () -->
        <div id="u336" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u337" class="ax_default _横线">
        <img id="u337_img" class="img " src="images/个人中心-商家主页/u93.png"/>
        <!-- Unnamed () -->
        <div id="u338" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u339" class="ax_default _文本">
        <div id="u339_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u340" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u341" class="ax_default _文本">
        <div id="u341_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u342" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u343" class="ax_default _文本">
        <div id="u343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u344" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u345" class="ax_default _文本">
        <div id="u345_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u346" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u347" class="ax_default _文本">
        <div id="u347_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u348" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u349" class="ax_default _文本">
        <div id="u349_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u350" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u351" class="ax_default _文本">
        <div id="u351_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u352" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u353" class="ax_default _文本">
        <div id="u353_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u354" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u355" class="ax_default _文本">
        <div id="u355_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u356" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u357" class="ax_default _文本">
        <div id="u357_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u358" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u359" class="ax_default _图像">
        <img id="u359_img" class="img " src="images/个人中心-商家主页/u115.png"/>
        <!-- Unnamed () -->
        <div id="u360" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u361" class="ax_default _文本">
        <div id="u361_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u362" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u363" class="ax_default _图像">
        <img id="u363_img" class="img " src="images/广交所首页的登录/u363.png"/>
        <!-- Unnamed () -->
        <div id="u364" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
