<!DOCTYPE html>
<html>
  <head>
    <title>广交所首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广交所首页/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/广交所首页/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u135" class="ax_default _形状">
        <div id="u135_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u136" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u137" class="ax_default _文本">
        <div id="u137_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u138" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u139" class="ax_default _文本">
        <div id="u139_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u140" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u141" class="ax_default _文本">
        <div id="u141_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u142" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u143" class="ax_default _文本">
        <div id="u143_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u144" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u145" class="ax_default _图像">
        <img id="u145_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u146" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u147" class="ax_default _图像">
        <img id="u147_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u148" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u149" class="ax_default _形状">
        <div id="u149_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u150" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u151" class="ax_default _文本">
        <div id="u151_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u152" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u153" class="ax_default _形状">
        <div id="u153_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u154" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u155" class="ax_default _文本">
        <div id="u155_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u156" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u157" class="ax_default _文本">
        <div id="u157_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u158" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">金融理财&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u159" class="ax_default _文本">
        <div id="u159_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u160" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">交通运输&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u161" class="ax_default _文本">
        <div id="u161_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u162" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">气象环保&nbsp; &nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u163" class="ax_default _文本">
        <div id="u163_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u164" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">生活服务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u165" class="ax_default _文本">
        <div id="u165_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u166" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">时空数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u167" class="ax_default _文本">
        <div id="u167_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u168" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">健康医疗</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u169" class="ax_default _文本">
        <div id="u169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u170" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">更多服务</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u171" class="ax_default _图像">
        <img id="u171_img" class="img " src="images/广交所首页/u171.jpg"/>
        <!-- Unnamed () -->
        <div id="u172" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u173" class="ax_default _文本">
        <div id="u173_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u174" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">8个轮播广告</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u175" class="ax_default _单选按钮">
        <label for="u175_input">
          <!-- Unnamed () -->
          <div id="u176" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u175_input" type="radio" value="radio" name="u175"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u177" class="ax_default _单选按钮">
        <label for="u177_input">
          <!-- Unnamed () -->
          <div id="u178" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u177_input" type="radio" value="radio" name="u177"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u179" class="ax_default _单选按钮">
        <label for="u179_input">
          <!-- Unnamed () -->
          <div id="u180" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u179_input" type="radio" value="radio" name="u179"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u181" class="ax_default _单选按钮">
        <label for="u181_input">
          <!-- Unnamed () -->
          <div id="u182" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u181_input" type="radio" value="radio" name="u181"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u183" class="ax_default _单选按钮">
        <label for="u183_input">
          <!-- Unnamed () -->
          <div id="u184" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u183_input" type="radio" value="radio" name="u183"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u185" class="ax_default _单选按钮">
        <label for="u185_input">
          <!-- Unnamed () -->
          <div id="u186" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u185_input" type="radio" value="radio" name="u185"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u187" class="ax_default _形状">
        <div id="u187_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u188" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u189" class="ax_default _文本">
        <div id="u189_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u190" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据推荐</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u191" class="ax_default _图像">
        <img id="u191_img" class="img " src="images/广交所首页/u191.png"/>
        <!-- Unnamed () -->
        <div id="u192" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u193" class="ax_default _图像">
        <img id="u193_img" class="img " src="images/广交所首页/u193.png"/>
        <!-- Unnamed () -->
        <div id="u194" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u195" class="ax_default _文本">
        <div id="u195_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u196" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u197" class="ax_default _图像">
        <img id="u197_img" class="img " src="images/广交所首页/u197.png"/>
        <!-- Unnamed () -->
        <div id="u198" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u199" class="ax_default _图像">
        <img id="u199_img" class="img " src="images/广交所首页/u199.png"/>
        <!-- Unnamed () -->
        <div id="u200" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u201" class="ax_default _形状">
        <div id="u201_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u202" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u203" class="ax_default _文本">
        <div id="u203_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u204" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u205" class="ax_default _形状">
        <div id="u205_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u206" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u207" class="ax_default _文本">
        <div id="u207_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u208" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">合作伙伴</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u209" class="ax_default _图像">
        <img id="u209_img" class="img " src="images/广交所首页/u209.png"/>
        <!-- Unnamed () -->
        <div id="u210" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u211" class="ax_default _横线">
        <img id="u211_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u212" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u213" class="ax_default _文本">
        <div id="u213_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u214" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u215" class="ax_default _文本">
        <div id="u215_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u216" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u217" class="ax_default _文本">
        <div id="u217_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u218" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u219" class="ax_default _文本">
        <div id="u219_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u220" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u221" class="ax_default _文本">
        <div id="u221_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u222" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u223" class="ax_default _文本">
        <div id="u223_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u224" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u225" class="ax_default _文本">
        <div id="u225_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u226" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u227" class="ax_default _文本">
        <div id="u227_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u228" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u229" class="ax_default _文本">
        <div id="u229_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u230" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u231" class="ax_default _文本">
        <div id="u231_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u232" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u233" class="ax_default _图像">
        <img id="u233_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u234" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u235" class="ax_default _文本">
        <div id="u235_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u236" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
