<!DOCTYPE html>
<html>
  <head>
    <title>广交所首页的即时通讯</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广交所首页的即时通讯/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/广交所首页的即时通讯/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u341" class="ax_default _形状">
        <div id="u341_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u342" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u343" class="ax_default _文本">
        <div id="u343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u344" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">欢迎来到广州数据交易中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u345" class="ax_default _文本">
        <div id="u345_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u346" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">请登录/免费注册</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u347" class="ax_default _文本">
        <div id="u347_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u348" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">关注广数</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u349" class="ax_default _文本">
        <div id="u349_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u350" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题&nbsp; &nbsp; 联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u351" class="ax_default _图像">
        <img id="u351_img" class="img " src="images/广交所首页/u145.png"/>
        <!-- Unnamed () -->
        <div id="u352" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u353" class="ax_default _图像">
        <img id="u353_img" class="img " src="images/广交所首页/u147.png"/>
        <!-- Unnamed () -->
        <div id="u354" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u355" class="ax_default _形状">
        <div id="u355_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u356" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u357" class="ax_default _文本">
        <div id="u357_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u358" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">首页&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; API&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 定制数据&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 解决方案&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u359" class="ax_default _形状">
        <div id="u359_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u360" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u361" class="ax_default _文本">
        <div id="u361_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u362" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">全数据分类</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u363" class="ax_default _文本">
        <div id="u363_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u364" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">金融理财&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u365" class="ax_default _文本">
        <div id="u365_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u366" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">交通运输&nbsp; &nbsp;&nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u367" class="ax_default _文本">
        <div id="u367_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u368" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">气象环保&nbsp; &nbsp; &gt;</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u369" class="ax_default _文本">
        <div id="u369_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u370" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">生活服务</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u371" class="ax_default _文本">
        <div id="u371_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u372" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">时空数据</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u373" class="ax_default _文本">
        <div id="u373_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u374" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">健康医疗</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u375" class="ax_default _文本">
        <div id="u375_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u376" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">更多服务</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u377" class="ax_default _图像">
        <img id="u377_img" class="img " src="images/广交所首页/u171.jpg"/>
        <!-- Unnamed () -->
        <div id="u378" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u379" class="ax_default _文本">
        <div id="u379_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u380" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">8个轮播广告</span></p>
        </div>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u381" class="ax_default _单选按钮">
        <label for="u381_input">
          <!-- Unnamed () -->
          <div id="u382" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u381_input" type="radio" value="radio" name="u381"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u383" class="ax_default _单选按钮">
        <label for="u383_input">
          <!-- Unnamed () -->
          <div id="u384" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u383_input" type="radio" value="radio" name="u383"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u385" class="ax_default _单选按钮">
        <label for="u385_input">
          <!-- Unnamed () -->
          <div id="u386" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u385_input" type="radio" value="radio" name="u385"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u387" class="ax_default _单选按钮">
        <label for="u387_input">
          <!-- Unnamed () -->
          <div id="u388" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u387_input" type="radio" value="radio" name="u387"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u389" class="ax_default _单选按钮">
        <label for="u389_input">
          <!-- Unnamed () -->
          <div id="u390" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u389_input" type="radio" value="radio" name="u389"/>
      </div>

      <!-- Unnamed (单选按钮) -->
      <div id="u391" class="ax_default _单选按钮">
        <label for="u391_input">
          <!-- Unnamed () -->
          <div id="u392" class="text" style="display:none; visibility: hidden">
            <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
          </div>
        </label>
        <input id="u391_input" type="radio" value="radio" name="u391"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u393" class="ax_default _形状">
        <div id="u393_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u394" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u395" class="ax_default _文本">
        <div id="u395_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u396" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据推荐</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u397" class="ax_default _图像">
        <img id="u397_img" class="img " src="images/广交所首页/u191.png"/>
        <!-- Unnamed () -->
        <div id="u398" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u399" class="ax_default _图像">
        <img id="u399_img" class="img " src="images/广交所首页/u193.png"/>
        <!-- Unnamed () -->
        <div id="u400" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u401" class="ax_default _文本">
        <div id="u401_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u402" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u403" class="ax_default _图像">
        <img id="u403_img" class="img " src="images/广交所首页/u197.png"/>
        <!-- Unnamed () -->
        <div id="u404" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u405" class="ax_default _图像">
        <img id="u405_img" class="img " src="images/广交所首页/u199.png"/>
        <!-- Unnamed () -->
        <div id="u406" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u407" class="ax_default _形状">
        <div id="u407_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u408" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u409" class="ax_default _文本">
        <div id="u409_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u410" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">数据定制</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u411" class="ax_default _形状">
        <div id="u411_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u412" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u413" class="ax_default _文本">
        <div id="u413_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u414" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">合作伙伴</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u415" class="ax_default _图像">
        <img id="u415_img" class="img " src="images/广交所首页/u209.png"/>
        <!-- Unnamed () -->
        <div id="u416" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u417" class="ax_default _横线">
        <img id="u417_img" class="img " src="images/个人中心-商家主页/u95.png"/>
        <!-- Unnamed () -->
        <div id="u418" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u419" class="ax_default _文本">
        <div id="u419_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u420" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关于我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u421" class="ax_default _文本">
        <div id="u421_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u422" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">服务与支持</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u423" class="ax_default _文本">
        <div id="u423_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u424" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">联系我们</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u425" class="ax_default _文本">
        <div id="u425_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u426" class="text">
          <p><span style="font-family:'应用字体 Bold', '应用字体';">关注官方微信</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u427" class="ax_default _文本">
        <div id="u427_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u428" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">公司简介</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u429" class="ax_default _文本">
        <div id="u429_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u430" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">新闻动态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u431" class="ax_default _文本">
        <div id="u431_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u432" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">服务条款</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u433" class="ax_default _文本">
        <div id="u433_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u434" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">常见问题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u435" class="ax_default _文本">
        <div id="u435_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u436" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">商务合作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u437" class="ax_default _文本">
        <div id="u437_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u438" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">在线咨询</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u439" class="ax_default _图像">
        <img id="u439_img" class="img " src="images/个人中心-商家主页/u117.png"/>
        <!-- Unnamed () -->
        <div id="u440" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u441" class="ax_default _文本">
        <div id="u441_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u442" class="text">
          <p><span style="font-family:'应用字体 Regular', '应用字体';">2017年3月27号&nbsp; 星期一&nbsp; &nbsp;&nbsp; 11：25</span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u443" class="ax_default _图像">
        <img id="u443_img" class="img " src="images/广交所首页的即时通讯/u443.png"/>
        <!-- Unnamed () -->
        <div id="u444" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>

      <!-- Unnamed (图像) -->
      <div id="u445" class="ax_default _图像">
        <img id="u445_img" class="img " src="images/广交所首页的即时通讯/u445.png"/>
        <!-- Unnamed () -->
        <div id="u446" class="text" style="display:none; visibility: hidden">
          <p><span style="font-family:'应用字体 Regular', '应用字体';"></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
