body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u990_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:5px;
}
#u990 {
  position:absolute;
  left:135px;
  top:64px;
  width:107px;
  height:2px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:34px;
}
#u992 {
  position:absolute;
  left:135px;
  top:33px;
  width:2px;
  height:31px;
}
#u993 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:626px;
  height:5px;
}
#u994 {
  position:absolute;
  left:241px;
  top:64px;
  width:623px;
  height:2px;
}
#u995 {
  position:absolute;
  left:2px;
  top:-7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CCFF;
}
#u996 {
  position:absolute;
  left:72px;
  top:44px;
  width:19px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CCFF;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:5px;
}
#u998 {
  position:absolute;
  left:29px;
  top:33px;
  width:107px;
  height:2px;
}
#u999 {
  position:absolute;
  left:2px;
  top:-7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:36px;
}
#u1000 {
  position:absolute;
  left:29px;
  top:33px;
  width:2px;
  height:33px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1002 {
  position:absolute;
  left:151px;
  top:41px;
  width:73px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1004 {
  position:absolute;
  left:277px;
  top:40px;
  width:49px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1006 {
  position:absolute;
  left:364px;
  top:40px;
  width:49px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1008 {
  position:absolute;
  left:37px;
  top:81px;
  width:95px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:248px;
}
#u1010 {
  position:absolute;
  left:131px;
  top:76px;
  width:729px;
  height:248px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:116px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:188px;
}
#u1012 {
  position:absolute;
  left:147px;
  top:328px;
  width:704px;
  height:188px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:86px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:448px;
}
#u1014 {
  position:absolute;
  left:144px;
  top:508px;
  width:707px;
  height:448px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:216px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:435px;
}
#u1016 {
  position:absolute;
  left:150px;
  top:1015px;
  width:701px;
  height:435px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:210px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:71px;
}
#u1018 {
  position:absolute;
  left:150px;
  top:944px;
  width:703px;
  height:71px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:28px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:310px;
}
#u1020 {
  position:absolute;
  left:144px;
  top:1447px;
  width:718px;
  height:310px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:147px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
