<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="bgf1">
	<div class="m_nav" th:fragment="nav_left">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						企业认证
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li >
							<a th:href="@{/authencheck/pageInit}"></i>认证审核</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						商品管理
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a th:href="@{/gdsEdit/pageInit}"></i>商品录入</a>
						</li>
						<li >
							<a th:href="@{/gdsManage/index}"></i>商品管理</a>
						</li> 
					</ol>
				</li>
				<li>
					<a href="">
						<i ></i>
						首页管理
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a th:href="@{/pageManage/moduleManage}">楼层管理</a>
						</li>
						<li >
							<a th:href="@{/pageManage/newsInfo}">新闻管理</a>
						</li>  
					</ul>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li th:remove="all">
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li th:remove="all">
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>