<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body class="bgf1">
	<div class="m_nav" th:fragment="nav_left">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="javascript:void(0)">
						<i class=""></i>
						用户中心
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li >
							<a th:href="@{/password/modify}">密码修改</a>
						</li>
						<li >
							<a th:href="@{/infomanager/pageInit}">资料修改</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="javascript:void(0)">
						<i class=""></i>
						企业认证
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li >
							<a th:href="@{/authencheck/pageInit}">认证审核</a>
						</li>
						<li >
							<a th:href="@{/authenapply/userinfo}">认证申请</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="javascript:void(0)">
						<i class=""></i>
						商品管理
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li>
							<a th:href="@{/gdsEdit/pageInit}"></i>商品录入</a>
						</li>
						<li >
							<a th:href="@{/gdsManage/index}"></i>商品管理</a>
						</li> 
					</ol>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i ></i>
						页面管理
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a th:href="@{/pageManage/moduleManage}">楼层维护</a>
						</li>
						<li >
							<a th:href="@{/pageManage/adManage}">广告维护</a>
						</li>  
						<li >
							<a th:href="@{/pageManage/newsInfo}">新闻维护</a>
						</li>  
					</ul>
				</li>
				
			</ul>
		</nav>
	</div>
</body>
</html>