<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head >
    <link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all">
    <link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css" th:remove="all">
    <link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:remove="all"/>
    <link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css" th:remove="all"/>
    <script src="../../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
</head>
<body>


<div th:fragment="pager" th:if="${pageInfo}" class="pagerBar pull-right" style="margin-top:0px;" >
    <script type="text/javascript" src="../../static/js-busi/common/pager.js" th:src="@{/js-busi/common/pager.js}"></script>
    <span data-toggle="pager" id="pagerId" th:data-count="${pageInfo.count}" th:data-size="${pageInfo.pageSize}" th:data-currentindex="${pageInfo.pageNo}" ></span>

	<script th:inline="javascript">
//        var total = '[[${pageInfo.count}]]';
//	    var pageNum = '[[${pageInfo.pageNo}]]';
//	    var pageSize = '[[${pageInfo.pageSize}]]';

	    if (typeof pagerClick === "undefined") {
	        pagerClick = function (index) {
	            alert(index);
	        }
	    }
	    $('#pagerId').pager({callback: pagerClick});
	</script>
</div>
</body>
</html>