<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="syshead">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="../../static/image/png" href="../../static/images/favicon.png" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" href="../../static/component/bootstrap/css/bootstrap.css" th:href="@{/component/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/js/frameajax/frameajax.css" th:href="@{/js/frameajax/frameajax.css}"/>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/css/manage.css" th:href="@{/css/manage.css}">
    <script th:inline="javascript">
        var WEB_ROOT = [[${#httpServletRequest.contextPath}]];
        var staffInfoDTO = [[${session.staffInfoDTO}]];
    </script>
    <!-- js -->
    <script src="../../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script src="../../static/component/bootstrap/js/bootstrap.min.js" th:src="@{/component/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.bootstrap.message.js" th:src="@{/js/jquery.bootstrap.message.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.blockUI.js" th:src="@{/js/jquery.blockUI.js}"></script>
	<script type="text/javascript" src="../static/js/jquery.metadata.js" th:src="@{/js/jquery.metadata.js}"></script>
	<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/frameajax/frameajax.js" th:src="@{/js/frameajax/frameajax.js}"></script>
    <script type="text/javascript" src="../js/jquery.validate.min.js"  th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" src="../../static/js/util.js" th:src="@{/js/util.js}"></script>

</head>
<body class="bgf1" th:remove="all">
</body>
</html>