<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!-- 定义manager-web模块使用的公共资源 -->
<head th:fragment="syshead">
	<meta charset="UTF-8" th:remove="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all">
    <link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.css" th:href="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" th:href="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css}"/>

    <link rel="stylesheet" href="../../static/css/manage.css" th:href="@{/css/manage.css}"/>
    <script th:inline="javascript">
        //manager工程的WEB_ROOT 是自己的路径
        var WEB_ROOT  = [[${#tools.managerDomain()}]];
    </script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.js" th:src="@{/webjars/bootstrap-table/1.11.1/dist/bootstrap-table.min.js}"></script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/locale/bootstrap-table-zh-CN.js"  th:src="@{/webjars/bootstrap-table/1.11.1/dist/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script src="../../META-INF/resources/webjars/bootstrap-table/1.11.1/dist/extensions/export/bootstrap-table-export.js"  th:src="@{/webjars/bootstrap-table/1.11.1/dist/extensions/export/bootstrap-table-export.min.js}"></script>
    <script src="../../META-INF/resources/webjars/tableExport.jquery.plugin/1.9.0/tableExport.min.js"  th:src="@{/webjars/tableExport.jquery.plugin/1.9.0/tableExport.min.js}"></script>

    <script type="text/javascript" src="../../META-INF/resources/webjars/jquery-validation/1.16.0/jquery.validate.js"  th:src="@{/webjars/jquery-validation/1.16.0/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js" th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
</head>
<body class="bgf1" th:remove="all">
</body>
</html>