<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
	<meta charset="UTF-8" th:remove="all">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all">
	<meta name="renderer" content="webkit" th:remove="all">
	<title th:remove="all">广州数据中心</title>
	<link rel="icon" type="../static/image/png" href="../../static/images/favicon.png" th:remove="all">
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/index.css" th:remove="all">
	
</head>
<body class="bgf1">
	<div class="clearfix m_header" th:fragment="top">
	<a href="" class="Logo" target="_blank" >
		<img width="160" src="../static/images/manage_logo.png"  th:src="@{/images/manage_logo.png}" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg" th:src="@{/images/wexin.jpg}" ></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
	</div>
</body>
</html>