<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
</head>
<body class="bgf1">
	<div class="filter clearfix" th:fragment="search-order-condition">
		<ul>
			<li th:if="${searchVO.catFirst == 1}" class="active sortCondition" sortField="hotDegree"><a href="javascript:void(0)" >综合<i class="glyphicon glyphicon-arrow-down"></i></a></li>
			<li th:if="${searchVO.catFirst == 2} or ${searchVO.catFirst == 3}" sortField="shelveTime" class="active sortCondition"><a href="javascript:void(0)">最新<i class="glyphicon glyphicon-arrow-down"></i></a></li>
			<li th:if="${searchVO.catFirst == 1}" sortField="shelveTime" class="sortCondition"><a href="javascript:void(0)">最新<i class="glyphicon"></i></a></li>
			<li th:if="${searchVO.catFirst == 1}" sortField="gdsSale" class="sortCondition"><a href="javascript:void(0)">最热<i class="glyphicon"></i></a></li>
		</ul>
		<p class="pull-right pr10">为您找到<b class="col_orange"><font id="numFound" th:text="${pageInfo.count}">0</font></b>个结果</p>
	</div>
</body>
</html>