<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/syshead :: syshead}"></div>
<head>
	<meta charset="UTF-8">
	<title>商品搜索</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
	<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
	<link rel="stylesheet" href="../static/css/goods_details.css" th:href="@{/css/goods_details.css}">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
</head>

<body>
	<div class="seconav">
		<div th:replace="~{fragments/top :: top}"></div>
		<div class="header">
		    <div class="wrap1200">
		        <div class="logo floatL"><img src="../static/images/logo.png" title="广州数据中心" th:src="@{/images/logo.png}"></div>
		        <div class="search floatR">
		            <div class="search-input">
		            	<div id="siteSearch"></div>
		            </div>
		            <div class="search-hot">
		                <a href="#" class="more floatR">更多&nbsp;&gt;</a>
		                <a href="#">手机号码归属地</a>
		                <a href="#">常用快递</a>
		                <a href="#">快递</a>
		                <a href="#">手机号码归属地</a>
		                <a href="#">全国车辆违章</a>
		                <a href="#">身份证实名认证</a>
		                <a href="#">短信API服务</a>
		                <a href="#">短信API服务</a>
		            </div>
		        </div>
		    </div>
		    <div class="menuBg">
		    	<div class="menu clearfix">
		        <!--左侧边栏开始-->
		        <div class="sidebar floatL">
		            <h3>全部商品<i class="glyphicon glyphicon-list"></i></h3>
		            <ul class="hidden">
		                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
		            </ul>

		            <!--二级导航开始-->
		            <div class="sidebar-hidden" style="display: none">
		                <h4>金融服务</h4>
		                <div class="sidebar-link">
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                </div>

		                <div class="ad-list clearfix">
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                </div>
		            </div>
		            <!--二级导航结束-->
		        </div>
		        <!--左侧边栏结束-->

		        <!--菜单栏开始-->
		        <div th:replace="~{fragments/navigation :: navigation}"></div>
		        <!--菜单栏结束-->
		    	</div>
		    </div>
		</div>
	</div>
	<!-- 搜索页内容 -->
	<div class="main">
		<input type="hidden" th:attr="value=${searchVO.keyWord}" id="keyWord"/>
		<input type="hidden" th:attr="value=${searchVO.catFirst}" id="catFirst"/>
		<!-- 不同一级分类页面展示的筛选条件不一样 -->
		<div th:if="${searchVO.catFirst == 1}"><div th:replace="~{search/search-api-condition :: search-api-condition}"></div></div>
		<div th:if="${searchVO.catFirst == 2}"><div th:replace="~{search/search-custom-condition :: search-custom-condition}"></div></div>
		<div th:if="${searchVO.catFirst == 3}"><div th:replace="~{search/search-api-condition :: search-api-condition}"></div></div>
		<div class="gl_list">
			<div class="filter clearfix">
				<ul>
					<li class="active sortCondition" sortField="hotDegree"><a href="javascript:void(0)" >综合<i class="glyphicon glyphicon-arrow-down"></i></a></li>
					<li sortField="shelveTime" class="sortCondition"><a href="javascript:void(0)">最新<i class="glyphicon"></i></a></li>
					<li sortField="gdsSale" class="sortCondition"><a href="javascript:void(0)">最热<i class="glyphicon"></i></a></li>
				</ul>
				<p class="pull-right pr10">为您找到<b class="col_orange"><font id="numFound">1234</font></b>个结果</p>
			</div>
			<div id="search_list">
			</div>
		</div>
	</div>
	<!-- footer -->
	<div th:replace="~{fragments/footer :: footer}"><!-- footer --></div>
	<link rel="stylesheet" href="../static/js/autocomplete/autocomplete.css" th:href="@{/js/autocomplete/autocomplete.css}">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/jquery.metadata.js" th:src="@{/js/jquery.metadata.js}"></script>
	<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/autocomplete/autocomplete.js" th:src="@{/js/autocomplete/autocomplete.js}"></script>
	<script type="text/javascript" src="../static/js-busi/search/searchUtil.js" th:src="@{/js-busi/search/searchUtil.js}"></script>
	<script type="text/javascript" th:src="@{/js-busi/search/search.js}"></script>
</body>
</html>