<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
</head>
<body>
	<div class="gl_group mt20" th:fragment="search-solution-condition">
		<div class="gl_items">
			<div class="hd">
				分类：
			</div>
			<div class="bd">
				<a class="active" href="" >全部</a>
				<a href="" >产品</a>
				<a href="" >解决方案</a>
			</div>
			<div class="fo"></div>
		</div>
	</div>
</body>
</html>