<table class="table table-bordered text-center">
	<thead>
		<tr class="active">
			<th>序号</th>
			<th>订单编码</th>
			<th>发票金额</th>
			<th>开票时间</th>
			<th>发票抬头</th>
			<th>收取方式</th>
			<th>发票状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="list,iterStat : ${pageInfo.result}" th:unless="${#lists.isEmpty(pageInfo.result)}">
			<td th:text="${pageInfo.pageNo -1}*${pageInfo.pageSize}+${iterStat.count}"></td>
			<td th:text="${list.orderId}"></td>
			<td th:text="${list.orderMoney/100}"></td>
			<td
				th:text="${#calendars.format(list.ordInvoiceTaxReqDTO.updateTime,'yyyy-MM-dd HH:mm:ss')}"></td>			<td>北京亚信</td>
			<td th:text="${list.ordInvoiceTaxReqDTO.invoiceTitle}"></td>
			<td th:text="${list.ordInvoiceTaxAddrRespDTO.contactInfo}"></td>
			<td th:text="${list.ordInvoiceTaxReqDTO.status}"></td>
			<td><a href="">申请开具</a></td>
		</tr>

	</tbody>
</table>

<!-- 分页-->
<div class="pagelist" th:remove="all">
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li><a href="#" aria-label="Previous"> <span
					aria-hidden="true">上一页</span>
			</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#" aria-label="Next"> <span aria-hidden="true">下一页</span>
			</a></li>
			<div class="pageskip">
				<span class="pr10">到第<input type="text" class="pageskip_box">页
				</span> <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
			</div>
		</ul>

	</nav>
</div>