<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>aip错误代码信息</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">

	<script src="../static/js-busi/aip/aipEntry-errorCode.js" th:src="@{/js-busi/aip/aipEntry-errorCode.js}"></script>
	
</head>
<body>
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div layout:fragment="screen_content">
	<input type="hidden" id="errorInfo_serviceId" th:value="${serviceId}">
	<input type="hidden" id="errorInfo_version" th:value="${version}">
	<div class="m_main">
		<div class="m_con">
			<div class="title">错误代码参照</div>
			<table class="editTable">
				
				<tr>
					<td class="Hint" width="150"><span class="col_red">*</span>服务级错误代码:</td>
					<td colspan="3">
						<table class="table table-bordered text-center mt20" >
							<thead>
							<tr class="active">
								<th>错误码</th>
								<th>说明</th>
							</tr>
							</thead>
							<tbody id="serviceErrorCodeTable">
							<tr id="serviceErrorCodeTr" style="display: none">
								<td><input type="text" class="form-control" name=""></td>
								<td>
									<div class="check-link">
										<input type="text" class="form-control" name="">
										<a href="javascript:void(0)" onclick="delRow(this)">删除</a>
									</div>
								</td>
							</tr>
							<tr class="serviceErrorCodeTr" th:each="errorCode,errorCodeStat:${serviceErrorList}">
								<td><input type="text" class="form-control" name="" th:value="${errorCode.errorCode}"></td>
								<td>
									<div class="check-link">
										<input type="text" class="form-control" name="" th:value="${errorCode.errorMsg}">
										<a href="javascript:void(0)" onclick="delRow(this)">删除</a>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
						<!-- 按钮 -->
						<div class="text-right ">
							<a href="javascript:void(0)" class="btn-default btn" onclick="serviceErrorCodeAddRow()">新增</a>
						</div>
					</td>
				</tr>

				<tr>
					<td class="Hint"><span class="col_red">*</span>系统级错误代码:</td>
					<td colspan="3">
						<table class="table table-bordered text-center mt20" >
							<thead>
							<tr class="active">
								<th>错误码</th>
								<th>说明</th>
							</tr>
							</thead>
							<tbody id="systemErrorCodeTable">
							<tr id="systemErrorCodeTr" style="display: none">
								<td><input type="text" class="form-control" name="" ></td>
								<td>
									<div class="check-link">
										<input type="text" class="form-control" name="" >
										<a href="javascript:void(0)" onclick="delRow(this)">删除</a>
									</div>
								</td>
							</tr>
							<tr class="systemErrorCodeTr"  th:each="errorCode,errorCodeStat:${systemErrorList}">
								<td><input type="text" class="form-control" name="" th:value="${errorCode.errorCode}"></td>
								<td>
									<div class="check-link">
										<input type="text" class="form-control" name="" th:value="${errorCode.errorMsg}">
										<a href="javascript:void(0)" onclick="delRow(this)">删除</a>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
						<!-- 按钮 -->
						<div class="text-right ">
							<a href="javascript:void(0)" class="btn-default btn" onclick="systemErrorCodeAddRow()">新增</a>
						</div>
					</td>
				</tr>

				<tr>
					<td class="Hint"><span class="col_red">*</span>错误代码格式说明:</td>
					<td colspan="3">
						<table class="table table-bordered text-center mt20" >
							<thead>
							<tr class="active">
								<th colspan="2">错误代码</th>
								<th colspan="2">接口类型</th>
								<th colspan="2">接口编码</th>
								<th colspan="2">具体错误代码</th>
							</tr>
							<tr class="active">
								<th width="80">代码</th>
								<th>说明</th>
								<th width="80">代码</th>
								<th>说明</th>
								<th width="80">代码</th>
								<th>说明</th>
								<th width="80">代码</th>
								<th>说明</th>
							</tr>
							</thead>
							<tbody>
							<tr >
								<td>20004005</td>
								<td><textarea class="form-control" rows="3">服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常</textarea></td>
								<td>20004005</td>
								<td><textarea class="form-control" rows="3">服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常</textarea></td>
								<td>20004005</td>
								<td><textarea class="form-control" rows="3">服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常</textarea></td>
								<td>20004005</td>
								<td><textarea class="form-control" rows="3">服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常服务接口00004接口参数XX为空的异常</textarea></td>

							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				
			</table>
	
			</div>

			<!-- 按钮 -->
			<div class="p20 text-center " style="margin-left: 220px;">
					 <a href="javascript:void(0)" class="btn-primary btn mr10" onclick="submitErrCodeInfo()">保存并下一步</a>
					<a href="javascript:void(0)" class="btn-default btn" >返回</a>
				</div>
		</div>
	</div>

	
	<div class="m_nav" th:remove="all">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
<!--</div>-->
</body>
</html>