<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>apikey管理</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<script type="text/javascript" src="../static/js-busi/aip/apikeyManage.js" th:src="@{/js-busi/aip/apikeyManage.js}"></script>
		
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>广州数据交易中心</span></a>
				<a href=""><span>XXX</span></a>
				<span class="col_999"> apikey管理</span>
			</div>
			<div class="top-table">
                <table class="editTable">
                    <tbody><tr>
                        <td class="Hint">
                          
                            用户名称：
                        </td>
                        <td>
                            <input class="form-control" placeholder="用户名称"  type="text" id="userName">
                        </td>
                        <td class="Hint">
                         
                            状态：
                        </td>
                        <td>
                            <input  value="" type="hidden">
                            <select class="form-control" id="statusSel">
                                <option value="">全部</option>
                                <option value="0">无效</option>
                                <option value="1">有效</option>
                                <option value="2">冻结</option>
                            </select>
                        </td>
                       
                        <td>
                            <button class="btn btn-primary" onclick="queryClient(1)">查询</button>
                        </td>
                    </tr>
                </tbody></table>
			</div>



            <div class="tab-slide pl20 pr20">

               
                <!-- Tab panes -->
                <div class="tab-content pt15">
                	
                    <div role="tabpanel" class="tab-pane active" id="tab01">
                        <table class="table table-bordered text-center" >
                            <thead>
                            <tr class="active">
                                <th><input type="checkbox" id="allBox" onclick="clickAllBox(this)"></th>
                                <th>客户端编码</th>
                                <th>客户端密钥</th>
                                <th>用户名</th>
                                <th>有效时间</th>
                                <th>密码</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${pageInfo} and ${#lists.size(pageInfo.result) gt 0}" th:each="vo,voStat:${pageInfo.result}">
                                <td><input type="checkbox" name="clientBox" th:value="${vo.clientId}" onclick="clickSingleBox(this)"></td>
                                <td th:text="${vo.clientId}">客户端编码</td>
                                <td th:text="${vo.clientSecret}">密钥</td>
                                <td th:text="${vo.username}">用户名</td>
                                <td th:text="${#dates.format(vo.effectiveTime,'yyyy-MM-dd HH:mm:ss')}">有效时间</td>
                                <td th:text="${vo.password}">密码</td>
                                <td th:switch="${vo.status}">
                                	<span th:case="'1'">有效</span>
                                	<span th:case="'0'">无效</span>
                                	<span th:case="'2'">冻结</span>
                                </td>
                                <td>
                                    <p class="pop-link">
                                        <a th:if="${vo.status}!='1'" href="javascript:void(0)" th:onclick="|changeStatus(${vo.clientId},'1')|">生效</a>
                                        <a th:if="${vo.status}!='0'" href="javascript:void(0)" th:onclick="|changeStatus(${vo.clientId},'0')|">失效</a>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal3" th:onclick="|edit(${vo})|">编辑</a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                      
                        <div class="text-right">
                        	 <button class="btn btn-default " data-toggle="modal" data-target="#myModal" onclick="createClient()">新增</button>
                        	 <button class="btn btn-default" onclick="delAllSel()">删除</button>
                        </div>
                     	<div class="pagelist" th:replace="fragments/pager :: pager">
						</div>
                       <div class="pagelist" th:remove="all">
							<nav aria-label="Page navigation">
							  <ul class="pagination">
							    <li >
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">上一页</span>
							      </a>
							    </li>
							    <li class="active"><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">下一页</span>
							      </a>
							    </li>
							    <div class="pageskip">
							  	<span class="pr10">到第<input type="text" class="pageskip_box">页</span>
							  	<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
							  </div>
							  </ul>
							  
							</nav>
						</div>
                    </div>
                </div>

            </div>
		</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<!-- 编辑 -->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">编辑</h4>
	      </div>
	      <div class="modal-body">
	        <table class="editTable">
				<tbody>
				
				<tr >
					<td class="Hint" width="120">客户端编码:</td>
					<td width="320">
						<div class="input-group " >
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>
				<tr >
					<td class="Hint" width="120">客户端密钥:</td>
					<td width="320">
						<div class="input-group " >
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>
				<tr >
					<td class="Hint" width="120">用户名:</td>
					<td width="320">
						<div class="input-group " >
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>
				<tr >
					<td class="Hint" width="120">有效时间:</td>
					<td width="320">
						<div class="input-group " >
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>

				<tr >
					<td class="Hint" >密码:</td>
					<td>
						<div class="input-group ">
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>
				<tr >
					<td class="Hint" width="120">状态:</td>
					<td width="320">
						<div class="input-group " >
							<input class="form-control" placeholder="" id="" >
						</div>
					</td>
				</tr>
				
				</tbody>
			</table>
			
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary"  th:onclick="'javascript:createOrderBymaneger();'" >确定</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        
	      </div>
	    </div>
	  </div>
	  
	</div>

	

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">新增</h4>
	      </div>
	      <div class="modal-body">
	        <table class="editTable">
				<tbody>
				<tr>
						<td class="Hint" width="120">用户名称:</td>
						<td  width="320">
							<div class="input-group ">
 								<input class="form-control" placeholder="" id="" type="text">
								<span class="input-group-btn">
					        		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal2">请选择</button>
					      		</span>
							</div>
						</td>
					</tr>
				<tr>
					<td class="Hint" width="120">有效期:</td>
					<td  width="320">
						<select  class="form-control"  id="">
							<option value="20">自定义套餐</option>
							<option value="10">固定套餐</option>
							<option value="30">跨类套餐</option>
						</select>
					</td>
				</tr>
					
				
				
				</tbody>
			</table>
			
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary"  th:onclick="'javascript:createOrderBymaneger();'" >确定</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 条件选择 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title" id="myModalLabel1">新增</h4>
			  </div>
			  <div class="modal-body">
				  <div class="top-table">
					  <table class="editTable">
						  <tbody>
						  <tr>
							  <td class="Hint" width="100">
								 用户编码：
							  </td>
							  <td>
								  <input class="form-control" placeholder="商品名称" type="text">
							  </td>
								<td class="Hint" width="100">
								 用户名称：
							  </td>
							  <td>
								  <input class="form-control" placeholder="商品名称" type="text">
							  </td>

							  <td>
								  <button class="btn btn-primary">查询</button>
							  </td>
						  </tr>
						  </tbody>
						</table>
				  </div>

				  <!-- Tab panes -->
	       			<div class="tab-content p10">
					    <div role="tabpanel" class="tab-pane active" id="tab01">
					        <table class="table table-bordered text-center">
					            <thead>
					            <tr class="active">
					                <th>用户编码</th>
					                <th>用户名称</th>
					                <th>选择</th>
					            </tr>
					            </thead>
					            <tbody>
					            <tr>
					                <td>……</td>
					                <td>……</td>
					                <td>
					                    <input type="radio">
					                </td>
					            </tr>
					            </tbody>
					        </table>



					       <div class="pagelist">
								<nav aria-label="Page navigation">
								  <ul class="pagination">
								    <li>
								      <a href="#" aria-label="Previous">
								        <span aria-hidden="true">上一页</span>
								      </a>
								    </li>
								    <li class="active"><a href="#">1</a></li>
								    <li><a href="#">2</a></li>
								    <li><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li>
								      <a href="#" aria-label="Next">
								        <span aria-hidden="true">下一页</span>
								      </a>
								    </li>
								    <div class="pageskip">
								  	<span class="pr10">到第<input class="pageskip_box" type="text">页</span>
								  	<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
								  </div>
								  </ul>
								  
								</nav>
							</div>
					    </div>
				    </div>
		    	</div>
	    	</div>
    	</div>
	</div>
    
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>

</body>
</html>