<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>编辑模块</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:remove="all">
	<link rel="stylesheet" href="../static/component/ztree/css/zTreeStyle/zTreeStyle.css" th:href="@{/component/ztree/css/zTreeStyle/zTreeStyle.css}">
   	<script src="../static/component/ztree/js/jquery.ztree.all.min.js" th:src="@{/component/ztree/js/jquery.ztree.all.min.js}"></script>
	<script th:remove="all">
        var zTreeObj;
        var zTreeObjUnsel;
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            }
        };
        var nodes = [
            { id:1, pId:0, name:"父节点1 - 展开", open:true},
            { id:11, pId:1, name:"父节点11 - 折叠"},
            { id:111, pId:11, name:"叶子节点111"},
            { id:112, pId:11, name:"叶子节点112"},
            { id:113, pId:11, name:"叶子节点113"},
            { id:114, pId:11, name:"叶子节点114"},
            { id:12, pId:1, name:"父节点12 - 折叠"},
            { id:121, pId:12, name:"叶子节点121"},
            { id:122, pId:12, name:"叶子节点122"},
            { id:123, pId:12, name:"叶子节点123"},
            { id:124, pId:12, name:"叶子节点124"},
            { id:13, pId:1, name:"父节点13 - 没有子节点", isParent:true},
            { id:2, pId:0, name:"父节点2 - 折叠"},
            { id:21, pId:2, name:"父节点21 - 展开", open:true},
            { id:211, pId:21, name:"叶子节点211"},
            { id:212, pId:21, name:"叶子节点212"},
            { id:213, pId:21, name:"叶子节点213"},
            { id:214, pId:21, name:"叶子节点214"},
            { id:22, pId:2, name:"父节点22 - 折叠"},
            { id:221, pId:22, name:"叶子节点221"},
            { id:222, pId:22, name:"叶子节点222"},
            { id:223, pId:22, name:"叶子节点223"},
            { id:224, pId:22, name:"叶子节点224"},
            { id:23, pId:2, name:"父节点23 - 折叠"},
            { id:231, pId:23, name:"叶子节点231"},
            { id:232, pId:23, name:"叶子节点232"},
            { id:233, pId:23, name:"叶子节点233"},
            { id:234, pId:23, name:"叶子节点234"},
            { id:3, pId:0, name:"父节点3 - 没有子节点", isParent:true}
        ];
        $(function(){
            zTreeObj = $.fn.zTree.init($("#catZTree"),setting,nodes);
            zTreeObjUnsel = $.fn.zTree.init($("#catZTreeUnSel"),setting,nodes);
        })

        function showCatSel(obj){

            $("#catZTree").parent().find(".ztree").show();
            $("body").bind("mousedown", onBodyDown);
        }
        function showCatUnSel(obj){

            $("#catZTreeUnSel").parent().find(".ztree").show();
            $("body").bind("mousedown", onBodyDownUnSel);
        }

        /**
         * 隐藏父类的节点属性结构菜单
         */
        var hideMenu = function () {
            $("#catZTree").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        };
        var hideMenuUnSel = function () {
            $("#catZTreeUnSel").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDownUnSel);
        };

        var onBodyDown = function () {
            if (!(event.target.id == "catIdSel" || $(event.target).parents("#catZTree").length>0)) {
                hideMenu();
            }
        };
        var onBodyDownUnSel = function () {
            if (!(event.target.id == "catIdUnSel" || $(event.target).parents("#catZTreeUnSel").length>0)) {
            	hideMenuUnSel();
            }
        };
    </script>
    <script type="text/javascript" src="../static/js-busi/page/goods_module.js" th:src="@{/js-busi/page/goods_module.js}"></script>
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
            <!--tab切换内容-->
            <div class="tab-slide pl20 pr20">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="tabList">
                    <li th:remove="all" class="active"><a href="#tab02" aria-controls="home" role="tab" data-toggle="tab" >商品模块</a></li>
                </ul>

                <!-- Tab panes -->
					<div class="tab-content pt15">
						<div role="tabpanel" class="tab-pane active" id="tab02">
							<div class="shop-list" >
								<div class="edit-title">已选择商品列表</div>
								<div class="top-table">
									<table class="editTable">
										<tr>
										<td class="Hint"><span class="col_red">*</span> 模块名称：</td>
											<td width="20%">
												<div class="input-group02">
													<select class="form-control" id="moduleId">
														<option th:each="moduleVO,iterStat : ${moduleList}" th:value="${moduleVO.moduleId}" th:text="${moduleVO.moduleName}"></option>
													</select>
												</div>
											</td>
											<td class="Hint"><span class="col_red">*</span> 商品名称：</td>
											<td width="20%">
												<div class="input-group02">
													<input type="text" class="form-control" placeholder="商品名称"
														id="gdsName">
												</div>
											</td>
											
											<td class="Hint"><span class="col_red">*</span> 商品类型：</td>
											<td width="20%">
												<div class="input-group02">
													<input id="catIdSel" catId="" onclick="showCatSel(this)" type="text" class="form-control" readonly="readonly" placeholder="商品类型" />
                                					<div style="width:15%;height:auto;position: absolute;display: none;background: #EEE;border: solid 1px;" id="catZTree" class="ztree"></div>
												</div>
											</td>
										</tr>
										<tr>
										<td class="Hint"><span class="col_red">*</span> 上架状态：</td>
											<td width="20%">
												<div class="input-group02">
												 <select class="form-control" id="gdsStatusSel">
														<option value="">全部</option>
														<option value="0">待上架</option>
														<option value="1">已上架</option>
														<option value="2">已下架</option>
														<option value="9">已删除</option>
													</select>
												</div>
											</td>
											<td class="Hint"></td>
											<td class="Hint"></td>
											<td class="Hint"></td>
											<td>
												<div class="input-group02">
													<button class="btn btn-primary" onclick="qryModuleGoodsSelList(1)">查询</button>
												</div>
											</td>
										</tr>
									</table>
								</div>
								<div id="selGoodsList">
								<table class="table table-bordered text-center">
									<thead>
										<tr class="active">
											<th>商品编码</th>
											<th width="240">商品名称</th>
											<th>上架状态</th>
											<th>商品类型</th>
											<th>上/下架时间</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody th:if=" ${pageInfoSel}" th:remove="all-but-first">
										<tr th:each="list,iterStat : ${pageInfoSel.result}" th:unless="${#lists.isEmpty(pageInfoSel.result)}">
											<td th:text="${list.gdsId}">xxxx商品 名称随便取了</td>
											<td th:text="${list.gdsInfoRespDTO.gdsName}">广西联通</td>
											<td><span th:if="${list.status=='0'}">待上架</span> <span
												th:if="${list.status=='1'}">已上架</span> <span
												th:if="${list.status=='2'}">已下架</span> <span
												th:if="${list.status=='9'}">删除</span></td>
											<td th:text="${list.catName}">1000.00</td>
											<td
												th:text="${#calendars.format(list.gdsInfoRespDTO.shelveTime,'yyyy-MM-dd HH:mm:ss')}">619.00</td>
											<td>
												<p class="pop-link">
													<a href="javaScript:void(0)"
														th:onclick="|deletePageModuleGoods('${list.pmgId}')|">删除</a>
												</p>
											</td>
										</tr>
										<tr>
											<td>xxxx商品 名称随便取了</td>
											<td>广西联通</td>
											<td>2000.00</td>
											<td>1000.00</td>
											<td>619.00</td>
											<td>已上架</td>
											<td>22</td>
											<td>12</td>
											<td>
												<p class="pop-link">
													<a href="">删除</a>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="pagelist" th:remove="all">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li><a href="#" aria-label="Previous"> <span
													aria-hidden="true">上一页</span>
											</a></li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#" aria-label="Next"> <span
													aria-hidden="true">下一页</span>
											</a></li>
											<div class="pageskip">
												<span class="pr10">到第<input type="text"
													class="pageskip_box">页
												</span> <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
											</div>
										</ul>

									</nav>
								</div>
								<div class="overflow-hidden clearfix" th:if=" ${pageInfoSel}">
									<!-- 分页-->
									<div th:fragment="pager" class="pagerBar pagelist pull-right">
										<script type="text/javascript"
											src="../static/js-busi/common/pager.js"
											th:src="@{/js-busi/common/pager.js}"></script>
										<span data-toggle="pager" id="pagerIdSel"
											th:data-count="${pageInfoSel.count}"
											th:data-size="${pageInfoSel.pageSize}"
											th:data-currentindex="${pageInfoSel.pageNo}"></span>
										<script th:inline="javascript">
											var total = '[[${pageInfoSel.count}]]';
											var pageNum = '[[${pageInfoSel.pageNo}]]';
											var pageSize = '[[${pageInfoSel.pageSize}]]';
											if (typeof pagerClickSel === "undefined") {
												pagerClickSel = function(index) {
													qryModuleGoodsSelList(index);
												}		
											}
											$('#pagerIdSel').pager({
												callback : pagerClickSel
											});	
										</script>
									</div>
								</div>
								</div>
							</div>
							<div class="shop-list" >
								<div class="edit-title">待选择商品列表</div>
								<div class="top-table">
									<table class="editTable">
										<tr>
											<td class="Hint">商品名称：</td>
											<td width="20%"><input type="text" class="form-control"
												id="unSelGdsName"></td>
											<td class="Hint"><span class="col_red">*</span> 商品类型：</td>
											<td width="20%">
											<div class="input-group02">
													<input id="catIdUnSel" catId="" onclick="showCatUnSel(this)" type="text" class="form-control" readonly="readonly" placeholder="商品类型" />
                                					<div style="width:15%;height:auto;position: absolute;display: none;background: #EEE;border: solid 1px;" id="catZTreeUnSel" class="ztree"></div>
												</div>
											<td>&nbsp;</td>
											<td>
												<button class="btn btn-primary"
													th:onclick="'qryModuleGoodsUnSelList(1)'">查询</button>
											</td>
										</tr>
									</table>
								</div>
								<div id="unSelGoodsList">
								<table class="table table-bordered text-center">
									<thead>
										<tr class="active">
											<th >商品编码</th>
											<th width="240">商品名称</th>
											<th>商品类型</th>
											<th>商品状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody th:if="${pageInfo}" th:remove="all-but-first">
										<tr th:each="list,iterStat : ${pageInfo.result}"
											th:unless="${#lists.isEmpty(pageInfo.result)}">
											<td th:text="${list.gdsId}">xxxx商品 名称随便取了</td>
											<td th:text="${list.gdsName}">xxxx商品 名称随便取了</td>
											<td th:text="${list.catName}">xxxx商品 名称随便取了</td>
											<td><span th:if="${list.status=='0'}">待上架</span> <span
												th:if="${list.status=='1'}">已上架</span> <span
												th:if="${list.status=='2'}">已下架</span> <span
												th:if="${list.status=='9'}">删除</span></td>
											<td>
												<p class="pop-link">
													<a href="javaScript:void(0)"
														th:onclick="|savePageModuleGoods('${list.gdsId}')|">选择</a>
												</p>
											</td>
										</tr>
										<tr>
											<td>xxxx商品 名称随便取了</td>
											<td>广西联通</td>
											<td>2000.00</td>
											<td>
												<p class="pop-link">
													<a href="">删除</a>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="pagelist" th:remove="all">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li><a href="#" aria-label="Previous"> <span
													aria-hidden="true">上一页</span>
											</a></li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li><a href="#" aria-label="Next"> <span
													aria-hidden="true">下一页</span>
											</a></li>
											<div class="pageskip">
												<span class="pr10">到第<input type="text"
													class="pageskip_box">页
												</span> <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
											</div>
										</ul>
									</nav>
								</div>
								<div class="overflow-hidden clearfix" th:if="${pageInfo}">
									<!-- 分页-->
									<div th:fragment="pager" class="pagerBar pagelist pull-right">
										<script type="text/javascript"
											src="../static/js-busi/common/pager.js"
											th:src="@{/js-busi/common/pager.js}"></script>
										<span data-toggle="pager" id="pagerId"
											th:data-count="${pageInfo.count}"
											th:data-size="${pageInfo.pageSize}"
											th:data-currentindex="${pageInfo.pageNo}"></span>
										<script th:inline="javascript">
											var total = '[[${pageInfo.count}]]';
											var pageNum = '[[${pageInfo.pageNo}]]';
											var pageSize = '[[${pageInfo.pageSize}]]';
											if (typeof pagerClick === "undefined") {
												pagerClick = function(index) {
												qryModuleGoodsUnSelList(index);
												}		
											}
											$('#pagerId').pager({
												callback : pagerClick
											});	
										</script>
									</div>
								</div>
								</div>
							</div>
						</div>

					</div>

				</div>
		</div>
	</div>
	</div>
	<div class="m_nav" th:remove="all">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
</body>
</html>