<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>商品录入-解决方案</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:remove="all">
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img width="160" src="../static/images/manage_logo.jpg" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="title">商品类型</div>
			<table class="editTable">
				<tr>
					<td class="Hint" width="120">
						<span class="col_red">*</span>
						类型:
					</td>
					<td width="520">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="/API/">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button" >请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint" width="120">
						分类:
					</td>
					<td width="520">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="/产品/">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button" >请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				
			</table>
			
			<div class="title">商品基本信息</div>
			<table class="editTable">
				<tr>
					<td class="Hint tips" width="120">
						<span class="col_red">*</span>
						商品名称:
					</td>
					<td width="520">
						<div  class="input-group">
							<input type="text" class="form-control" placeholder="VIN车架号查询详细版">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>

				</tr>
				<tr>
					<td></td>
					<td class="pt5"><span class="col_999 ">请录入商品名称</span></td>
				</tr>
				<tr>
					<td class="Hint">
						<span class="col_red">*</span>
						商品副标题:
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="根据传递17位的车架号进行详细信息查询">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品标签:
					</td>
					<td>
						<span class="label label-primary">API</span>
						<span class="label label-warning">支持HTTPS</span>
						<span class="label label-warning">免费体验</span>
						<a href="" class="btn btn-default  btn-sm ml20" data-toggle="modal" data-target="#myModal2">请选择</a>
					</td>
					<td>

					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品图片:
					</td>
					<td>
						<span>
							<img src="" width="120" height="120">
						</span>
					</td>
				</tr>
				<tr >
					<td class="Hint"></td>
					<td>
						<div class="input-group" style="width: 50%; padding-top: 20px;">
							<input  type="text" class="form-control" placeholder="">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
						<span class="col_red">说明：建议选择100*100规格图片</span>
					</td>
				</tr>
			</table>
			<div class="title">其他信息</div>
			<table class="editTable">
				<tr >
					<td class="Hint " width="120">
						<span class="col_red">*</span>
						功能介绍:
					</td>
					<td width="520" class="pb20">
						<textarea class="form-control"  rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td class="Hint " width="120">
						<span class="col_red">*</span>
						适用范围:
					</td>
					<td width="520" class="pb20">
						<textarea class="form-control"  rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td class="Hint " width="120">
						<span class="col_red">*</span>
						特点:
					</td>
					<td width="520" class="pb20">
						<textarea class="form-control"  rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td class="Hint " width="120">
						<span class="col_red">*</span>
						公司介绍:
					</td>
					<td width="520" class="pb20">
						<textarea class="form-control"  rows="5"></textarea>
					</td>
				</tr>
			</table>
			
			<div class="title">应用场景或案列</div>

			<!-- 下面实际应是编辑器 -->
			<div>
				<!-- <textarea class="form-control" onkeyup="checkLen(this)" rows="5" "></textarea>-->
				<textarea class="form-control"  rows="5"></textarea>
			</div>
		</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<!-- API分类选择 modal-->
	<div class="m_modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog"  style="width:900px;" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">API分类选择</h4>
				</div>
				<div class="modal-body ">
					<div class="listTable clearfix">
						<div class="ClassItem" style="width:33%;">
							<div class="tit">
								<h2>一级分类</h2>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button">查询</button>
					        		 </span>
								</div>
							</div>
							<div class="con" style="height:300px;">
								<table class="table listitem table-hover" >
									<tbody>
									<tr>
										<td>API分类</td>
									</tr>
									<tr class="warning">
										<td>应用分类应用分类应用分类应用分类应用分类应用分类应用分类应用分类应用分类应用分类应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>API分类</td>
									</tr>
									<tr>
										<td>应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="ClassItem" style="width:33%;">
							<div class="tit">
								<h2>二级分类</h2>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button">查询</button>
					        		 </span>
								</div>
							</div>
							<div class="con" style="height:300px;">
								<table class="table listitem table-hover" >
									<tbody>
									<tr>
										<td>API分类</td>
									</tr>
									<tr class="warning">
										<td>应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>API分类</td>
									</tr>
									<tr>
										<td>应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="ClassItem" style="width:33%;">
							<div class="tit">
								<h2>三级分类</h2>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button">查询</button>
					        		 </span>
								</div>
							</div>
							<div class="con" style="height:300px;">
								<table class="table listitem table-hover" >
									<tbody>
									<tr>
										<td>API分类</td>
									</tr>
									<tr class="warning">
										<td>应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>API分类</td>
									</tr>
									<tr>
										<td>应用分类</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									<tr>
										<td>免费数据</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">确认</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 标签选择 modal-->
	<div class="m_modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:900px;">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">配置标签</h4>
				</div>
				<div class="modal-body clearfix">
					<table class="editTable" style="float: left; width:40%;">
						<tr>
							<td class="Hint" width="120">
								标签名称:
							</td>
							<td width="220">
								<input type="text" class="form-control" placeholder="支持HTTPS">
							</td>
						</tr>
						<tr>
							<td class="Hint ">
								颜色选择:
							</td>
							<td width="120">
								<select class="form-control">
									<optgroup>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</optgroup>
								</select>
							</td>
						</tr>
						<tr>
							<td class="Hint">
								商品标签:
							</td>
							<td>
								<span class="label label-primary">API</span>
								<span class="label label-warning">支持HTTPS</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
								<span class="label label-warning">免费体验</span>
							</td>
						</tr>


					</table>
					<div class="listTable" style="float: right; width:50%;">
						<div class="tit">
							<h2>快速选择</h2>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="">
								<span class="input-group-btn">
							        <button class="btn btn-default" type="button">查询</button>
							      </span>
							</div>
						</div>
						<div class="con" style="height:150px;">
							<table class="table listitem table-hover" >
								<tbody>
								<tr>
									<td>API</td>
								</tr>
								<tr class="warning">
									<td>支持HTTPS</td>
								</tr>
								<tr>
									<td>免费体验</td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">确认</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>

</body>
</html>