<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>数据商品投诉</title>
	<link rel="stylesheet" href="../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/css/global.css" th:remove="all">
	<script src="../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
	<script src="../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:remove="all"></script>
	<script src="../static/js-busi/complaint/complaint_common.js" th:src="@{/js-busi/complaint/complaint_common.js}"></script>
	<script src="../static/js-busi/complaint/goods_complaint.js" th:src="@{/js-busi/complaint/goods_complaint.js}"></script>
</head>
<body>
	<header class="clearfix m_header" th:remove="all">
		<a href="" class="Logo" target="_blank" >
			<img  src="../META-INF/resources/webjars/images/manage_logo.png" alt="广州数据" >
		</a>
		<ul class="m_hdlist clearfix">
			<li>
				<a class="item" href="" target="_blank">联系我们</a>
			</li>
			<li >
				<div class="dropdown">
					<a  class="item" data-toggle="dropdown"  >
						关注广数
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
						<li><img src="../META-INF/resources/webjars/images/wexin.jpg"></li>
					</ul>
				</div>
			</li>
			<li>
				<a class="item" href="" target="_blank">常见问题</a>
			</li>
			<li >
				<div class="dropdown">
					<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						okleung
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						<li><a  href="" >退出登录</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</header>
	<div  layout:fragment="screen_content">
		<div class="m_main">
			<div class="m_con">
	            <!--tab切换内容-->
	            <div class="tab-slide pl20 pr20" id="gdsListContent">
	
	                <!-- Nav tabs -->
	                <ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#tab02" aria-controls="profile" role="tab" data-toggle="tab">我的投诉</a></li>
	                    <li ><a href="#tab01" aria-controls="home" role="tab" data-toggle="tab">我要投诉</a></li>

	                </ul>
	
	                <!-- Tab panes -->
	                <div class="tab-content pt15" th:id="complant_content">
	                    <div role="tabpanel" class="tab-pane" id="tab01">
	                        <table class="editTable">
	                            <tr>
	                                <td class="Hint">
	                                    开始时间:
	                                </td>
	                                <td>
	                                    <input type="text" class="form-control" placeholder="" id="ord_startTime" th:value="${startTime}">
	                                </td>
	                                <td class="Hint">
	                                    截止时间:
	                                </td>
	                                <td>
	                                    <input type="text" class="form-control" placeholder="" id="ord_endTime" th:value="${endTime}">
	                                </td>
	                                <td class="Hint">
	                                   订单状态:
	                                </td>
	                                <td>
										<select  class="form-control" id="ord_status">
											<option value="">全部</option>
											<option value="01" th:selected="${ordStatus} == '01'">申请订购中</option>
											<option value="02" th:selected="${ordStatus} == '02'">正在生效中</option>
											<option value="03" th:selected="${ordStatus} == '03'">订单失效</option>
											<option value="04" th:selected="${ordStatus} == '04'">已完成</option>
											<option value="99" th:selected="${ordStatus} == '99'">已取消</option>
										</select>
	                                </td>
	                                 <td class="Hint"></td>
	                                <td>
	                                    <button class="btn btn-primary" th:onclick="|myOrderList(1)|">查询</button>
	                                </td>
	                            </tr>
	                          
	                        </table>
	                        <table class="table table-bordered text-center" >
	                            <thead>
	                            <tr class="active">
	                                <th>订单编码</th>
	                                <th>下单时间</th>
	                                <th>订单状态</th>
	                                <th>接口名称</th>
	                                <th>操作</th>
	                            </tr>
	                            </thead>
	                            <tbody th:if="${pageInfo}">
	                            <tr th:unless="${#lists.isEmpty(pageInfo.result)}" th:each="list,iterStat : ${pageInfo.result}">
	                                <td th:text="${list.orderId}">2017090192019</td>
	                                <td th:data="${#calendars.format(list.ordInfoRespDTO.orderTime,'yyyy-MM-dd HH:mm:ss')}"> 2017 04-12 14：22</td>
	                                <td>
										<p th:if="${list.ordInfoRespDTO.status=='01'}">待支付</p>
										<p th:if="${list.ordInfoRespDTO.status=='02'}">正在生效中</p>
										<p th:if="${list.ordInfoRespDTO.status=='03'}">已失效</p>
										<p th:if="${list.ordInfoRespDTO.status=='04'}">已完成</p>
										<p th:if="${list.ordInfoRespDTO.status=='99'}">已取消</p>
									</td>
	                                <td th:text="${list.ordInfoRespDTO.gdsName}">查询身份证真伪</td>
	                                <td>
	                                    <p class="pop-link">
	                                        <a href="javascript:;" th:onclick="|iwantComplaint('${list.orderId}','')|">我要投诉</a>
	                                    </p>
	                                </td>
	                            </tr>
	                          
	                            </tbody>
	                        </table>
	                          <!-- 分页-->
		                    <div class="pagelist" th:remove="all">
		                        <nav aria-label="Page navigation">
		                            <ul class="pagination">
		                                <li >
		                                    <a href="#" aria-label="Previous">
		                                        <span aria-hidden="true">上一页</span>
		                                    </a>
		                                </li>
		                                <li class="active"><a href="#">1</a></li>
		                                <li><a href="#">2</a></li>
		                                <li><a href="#">3</a></li>
		                                <li><a href="#">4</a></li>
		                                <li><a href="#">5</a></li>
		                                <li>
		                                    <a href="#" aria-label="Next">
		                                        <span aria-hidden="true">下一页</span>
		                                    </a>
		                                </li>
		                                <div class="pageskip">
		                                    <span class="pr10">到第<input type="text" class="pageskip_box">页</span>
		                                    <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
		                                </div>
		                            </ul>
		
		                        </nav>
		                    </div>
							<!-- 分页-->
							<div th:fragment="pager" class="pagerBar pagelist pull-right"
								 th:if=" ${pageInfo}">
								<script type="text/javascript"
										src="../static/js-busi/common/pager.js"
										th:src="@{/js-busi/common/pager.js}"></script>
								<span data-toggle="pager" id="odr_pagerId"
									  th:data-count="${pageInfo.count}"
									  th:data-size="${pageInfo.pageSize}"
									  th:data-currentindex="${pageInfo.pageNo}"></span>
								<script th:inline="javascript">

                                    if (typeof ordpagerClick === "undefined") {
                                        ordpagerClick = function(index) {
                                            myOrderList(index);
                                        }
                                    }
                                    $('#odr_pagerId').pager({
                                        callback : ordpagerClick
                                    });
								</script>
							</div>
	                    </div>
	                    <div role="tabpanel" class="tab-pane active" id="tab02">
	                        <table class="editTable">
	                            <tr>
	                                <td class="Hint">
	                                    开始时间:
	                                </td>
	                                <td>
	                                    <input type="text" class="form-control" placeholder="" id="comp_startTime" th:value="${startTime}">
	                                </td>
	                                <td class="Hint">
	                                    截止时间:
	                                </td>
	                                <td>
	                                    <input type="text" class="form-control" placeholder="" id="comp_endTime" th:value="${endTime}">
	                                </td>
	                               <td class="Hint">
	                                   处理状态:
	                                </td>
	                                <td>
										<select  class="form-control" id="comp_status">
											<option value="">全部</option>
											<option value="1" th:selected="${compStatus} == '1'">待处理</option>
											<option value="2" th:selected="${compStatus} == '2'">已回复</option>
											<option value="3" th:selected="${compStatus} == '3'">已撤销</option>
										</select>
	                                </td>
	
	                            </tr>
	                          <tr>
	                                
	                                
	                                <td class="Hint">
	                                   投诉事项:
	                                </td>
	                               <td>
									   <select class="form-control" id="comp_item">
										   <option value="">全部</option>
										   <option value="0" th:selected="${compItem} == '0'">快速发货</option>
										   <option value="1" th:selected="${compItem} == '1'">售后保障</option>
										   <option value="9" th:selected="${compItem} == '9'">其它</option>
									   </select>
	                                </td>
	                               <td></td>
	                               <td></td>
	                               <td></td>
	                               <td></td>
	                               <td class="Hint"></td>
	                                <td>
	                                    <button class="btn btn-primary" th:onclick="|queryComplaintList(1)|">查询</button>
	                                </td>
	                          </tr>
	                        </table>
	                       <table class="table table-bordered text-center" >
	                            <thead>
	                            <tr class="active">
	                                <th>订单编码</th>
	                                <th>投诉事项</th>
									<th>投诉内容</th>
	                                <th>投诉日期</th>
									<th>回复内容</th>
	                                <th>处理时间</th>
	                                <th>投诉状态</th>
	                                <th>操作</th>
	                            </tr>
	                            </thead>
	                            <tbody th:if="${pageInfo}">
		                            <tr th:each="rs,iterStat : ${pageInfo.result}" th:unless="${#lists.isEmpty(pageInfo.result)}">
		                                <td  th:text="${rs.orderId}">2028989399</td>
		                                <td th:if="${rs.complaintItem} == '0'">快速发货</td>
										<td th:if="${rs.complaintItem} == '1'">售后保障</td>
										<td th:if="${rs.complaintItem} == '9'">其它</td>
										<td th:text="${rs.ordComplaintContRespDTO.fromRemark}">商品投诉</td>
		                                <td th:text="${#dates.format(rs.complaintsTime, 'yyyy-MM-dd  HH:mm:ss')}">2017-02-10 18:08:34</td>
										<td th:text="${rs.ordComplaintContRespDTO.repeatCont}">无视</td>
		                                <td th:if="${rs.complaintStatus} == '2'" th:text="${#dates.format(rs.updateTime, 'yyyy-MM-dd  HH:mm:ss')}">2018-02-23 12:12:34</td>
										<td th:if="${rs.complaintStatus} != '2'"></td>
		                                <td th:if="${rs.complaintStatus} == '1'">待处理</td>
										<td th:if="${rs.complaintStatus} == '2'">已处理</td>
										<td th:if="${rs.complaintStatus} == '3'">已撤销</td>
		                                <td>
		                                    <p class="pop-link">
		                                        <a href="javascript:;" th:if="${rs.complaintStatus} == '1'" th:onclick="|updateComplaint('${rs.complaintId}','3')|">撤销</a>
		                                        <a href="javascript:;" th:onclick="|iwantComplaint('${rs.orderId}','${rs.complaintId}')|">查看</a>
		                                    </p>
		                                </td>
		                            </tr>
	                          
	                            </tbody>
	                        </table>
							<div th:replace="~{fragments/pager :: pager}"></div>
		                     <!-- 分页-->
		                    <div class="pagelist" th:remove="all">
		                        <nav aria-label="Page navigation">
		                            <ul class="pagination">
		                                <li >
		                                    <a href="#" aria-label="Previous">
		                                        <span aria-hidden="true">上一页</span>
		                                    </a>
		                                </li>
		                                <li class="active"><a href="#">1</a></li>
		                                <li><a href="#">2</a></li>
		                                <li><a href="#">3</a></li>
		                                <li><a href="#">4</a></li>
		                                <li><a href="#">5</a></li>
		                                <li>
		                                    <a href="#" aria-label="Next">
		                                        <span aria-hidden="true">下一页</span>
		                                    </a>
		                                </li>
		                                <div class="pageskip">
		                                    <span class="pr10">到第<input type="text" class="pageskip_box">页</span>
		                                    <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
		                                </div>
		                            </ul>
		
		                        </nav>
		                    </div>
	                    </div>
	                </div>
	
	            </div>
			</div>
		</div>
	
		<!-- 我要投诉弹窗 -->
		<div  class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content"  id="modal_content">
					<input type="hidden" th:value="${orderId}" th:id="my_orderId">
					<input type="hidden" th:value="${compId}" th:id="my_compId">
	                <div class="modal-header">
	                     <h4 class="modal-title" id="myModalLabel">我要投诉</h4>
	                </div>
	                <div class="modal-body">
	                    <div class="m10" th:if="${ordCompDTO}">
	                        <div class="mt10"  id="needTielDiv">
	                            <label>数据名称</label><input type="text" class="form-control" maxlength="128" disabled placeholder="请填写数据名称"  id="needTiel" th:value="${gdsName}">
						  	</div>
							<div class="mt10">
								<label>投诉事项</label>
								<select th:id="complaint_item" class="form-control">
									<option value="0">快速发货</option>
									<option value="1">售后保障</option>
									<option value="9">其它</option>
								</select>
							</div>
	                        <div class="mt10"  id="needcontentDiv">
	                            <label>投诉内容</label>
									<textarea th:if="${ordCompDTO.ordComplaintContRespDTO}" class="form-control" rows="5" maxlength="624"  placeholder="请填写投诉内容"  th:id="complaintContent"
															 th:text="${ordCompDTO.ordComplaintContRespDTO.fromRemark}"></textarea>
									<textarea th:if="${ordCompDTO.ordComplaintContRespDTO} == null" class="form-control" rows="5" maxlength="624"  placeholder="请填写投诉内容"  th:id="complaintContent"></textarea>
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写投诉内容</span></p>
	                        </div>
	                        <div class="mt10"  id="lnkposenDiv">
	                            <label>联系人</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系人"  th:id="lnkposen"
														 th:value="${ordCompDTO.linkPerson}">
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写联系人</span></p>
		                        <div class="mt10"  id="lnkphoneDiv">
		                            <label>手机号码</label><input type="text" class="form-control" maxlength="11"  placeholder="请填写手机号码"  th:id="lnkphone"
															  th:value="${ordCompDTO.mobile}">
		                            <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
		                          </div>
		                        <!--<div class="mt10"  id="lnkemailDiv">
		                            <label>联系邮箱</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系邮箱"  th:id="lnkemail">
		                             <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的邮箱</span></p>
		                        </div>-->
		                    </div>
		                </div>
		                <div class="modal-footer">
		                    <button th:if="${compId} == ''" type="button" class="btn btn-primary wt120"  th:onclick="|modalDataSubmit()|">提交</button>
		                     <button type="button" class="btn btn-primary wt120"   th:onclick="|modalDatahiden()|">取消</button>
		                </div>
	            	</div>
	        	</div>
	    	</div>
		</div>
	</div>
	
	<div class="m_nav" th:remove="all">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

</body>
</html>