<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="All">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="All">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="All">
	<script type="text/javascript" src="../static/js-busi/user/authenDetail.js" th:src="@{/js-busi/user/authenDetail.js}"></script>
	<script src="../static/js/util.js" th:src="@{/webjars/js/util.js}"></script>
	<!--[if lt IE 9]>
        <script src="../static/js/respond.min.js" ></script>
        <script src="../static/js/html5shiv.min.js" ></script>
	<![endif]-->
	<script src="../static/js/jquery-1.12.4.js" th:remove="All"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="All"></script>
    <!-- 树形菜单 tangyk-->
    <link rel="stylesheet" href="../static/css/zTreeStyle.css" type="text/css" th:href="@{/webjars/zTree/3.5.18/css/zTreeStyle/zTreeStyle.css}">
     <!-- 树形菜单 tangyk-->
    <script type="text/javascript" src="../static/js/jquery.ztree.core.js" th:src="@{/webjars/zTree/3.5.18/js/jquery.ztree.core.min.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.ztree.excheck.js" th:src="@{/webjars/zTree/3.5.18/js/jquery.ztree.excheck.min.js}"></script>
 	<script type="text/javascript" src="../static/component/ztree/js/jquery.ztree.all.min.js" th:src="@{/webjars/zTree/3.5.18/js/jquery.ztree.all.min.js}"></script>
</head>
<body>

<!-- 头部 -->
<header class="clearfix m_header" th:remove="All">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" th:src="@{/images/manage_logo.png}" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<!-- 头部 end-->

<div  layout:fragment="screen_content">
    <!-- 右边内容 -->
	<div class="m_main">
		<div class="m_con">

			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>广州数据交易中心</span></a>
				<a href=""><span>个人中心</span></a>
				<span class="col_999"> 商品分类</span>
			</div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab01">商品分类</a></li>
            </ul>

		    <div class="overflow-hidden mt15">
				<div class="col-md-3">
		                    <!-- 左边树形菜单  --> 
		                    
		                    <div id="catZTree" class="ztree"></div>
		                    <!-- 左边树形菜单  end--> 

		                </div>
		                <div class="col-md-9" >
		                	<div id="nodeInfo">
			                	<div id="node_info_template" >
			                		<!-- 节点信息 -->
			                		<table class="editTable" width="100%">
										<input type="hidden" th:attr="value=${catInfo.catId}" id="catId"/>
										<input type="hidden" th:attr="value=${catInfo.catPid}" id="catPid"/>
									    <tbody>
									        <tr>
									         <td class="Hint" width="15%">分类编码：</td>	                            
									         <td width="15%" th:text="${catInfo.catId}">121232</td>
									         <td class="Hint" width="15%">分类名称：</td>
									         <td th:text="${catInfo.catName}">测试标题测试标题测试标题</td>
									     </tr>
									        <tr>
									         <td class="Hint">展示顺序：</td>	                            
									         <td th:text="${catInfo.showOrder}">2</td>
									     </tr>
									         
									    </tbody>
									</table>
									<div class="text-right">
									    <button class="btn btn-default btn-mini ml20" id="addNewSomeLevel" onclick="addNewSomeLevel()"><i class="glyphicon glyphicon-plus"></i>新增同级分类</button>
									    <button class="btn btn-default btn-mini editThisCat" id="editThisCat" th:attr="catId=${catInfo.catId}"><i class="glyphicon glyphicon-pencil"></i>编辑</button>
									    <button class="btn btn-default btn-mini" id="deleteThisCat" th:onclick="'javascript:GdsCat.deleteGdsCat(\''+${catInfo.catId}+'\')'"><i class="glyphicon glyphicon-minus"></i>删除</button>
									</div>
								</div>
							</div>

		                    <!-- 列表 -->
		                    <div class="title">下级列表</div>
		                   	<div id="childList">
		                   		<div id="child_List_template">
				                    <table class="table table-bordered table-striped table-hover text-center table_th_center" >
				                        <thead>
				                            <tr >
				                                <th>分类编码</th>
				                                <th>分类名称</th>
				                                <th>展示顺序</th>
				                                <th>操作</th>
				                            </tr>
				                        </thead>
				                        <tbody th:remove="all-but-first"  >
				                            <tr th:if="${pageInfo} and ${pageInfo.result} and ${#lists.size(pageInfo.result) gt 0}" th:each="gdsCat,gdsCatStat : ${pageInfo.result}">
									            <td th:text="${gdsCat.catId}">11</td>
									            <td th:text="${gdsCat.catName}">标题标题标题标题标题标题1</td>
									            <td th:text="${gdsCat.showOrder}">1</td>
									            <td>
									            	<p class="pop-link">
									                    <a href="javascript:void(0)" class="editThisCat" th:attr="catId=${gdsCat.catId}">编辑</a>
									                    <a href="javascript:void(0)" th:onclick="'javascript:GdsCat.deleteGdsCat(\''+${gdsCat.catId}+'\')'">删除</a>
									                </p>
									            </td>
									        </tr>
				                            <tr>
				                                <td>112</td>
				                                <td>标题标题标题标题标题标题2</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>113</td>
				                                <td>标题标题标题标题标题标题3</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>114</td>
				                                <td>标题标题标题标题标题标题4</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>115</td>
				                                <td>标题标题标题标题标题标题5</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>116</td>
				                                <td>标题标题标题标题标题标题6</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>117</td>
				                                <td>标题标题标题标题标题标题7</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>118</td>
				                                <td>标题标题标题标题标题标题8</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>112</td>
				                                <td>标题标题标题标题标题标题9</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                            <tr>
				                                <td>119</td>
				                                <td>标题标题标题标题标题标题10</td>
				                                <td>1</td>
				                                <td>
				                                	<p class="pop-link">
				                                        <a href="">编辑</a>
				                                        <a href="">删除</a>
				                                    </p>
				                                </td>
				                            </tr>
				                        </tbody>
				                    </table>
				                    
				                    <div class="overflow-hidden clearfix" >
				                          <div class="pull-left mt20">
				                              <button class="btn btn-primary btn-small addChildCat" data-target="#add_article" data-toggle="modal2" onclick="addChildCat()"><i class="glyphicon glyphicon-plus"></i>新增下级</button>
				                          </div>
				                          <!-- pagerBar -->
			                              <div class="pagelist pull-right" th:remove="all" th:replace="fragments/pager :: pager">
												<nav aria-label="Page navigation">
												  <ul class="pagination">
												    <li >
												      <a href="#" aria-label="Previous">
												        <span aria-hidden="true">上一页</span>
												      </a>
												    </li>
												    <li class="active"><a href="#">1</a></li>
												    <li><a href="#">2</a></li>
												    <li><a href="#">3</a></li>
												    <li><a href="#">4</a></li>
												    <li><a href="#">5</a></li>
												    <li>
												      <a href="#" aria-label="Next">
												        <span aria-hidden="true">下一页</span>
												      </a>
												    </li>
												    <div class="pageskip">
												  	<span class="pr10">到第<input type="text" class="pageskip_box">页</span>
												  	<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
												  </div>
												  </ul>
												  
												</nav>
											</div>
				                          <!-- pagerBar end-->
				                    </div>
			                    </div>
		                    </div>

		                    <!-- 列表 end-->
		            </div>
		    </div>
			
		</div>
	</div>
	<!-- 右边内容 end-->

	<!-- 左边菜单 -->
	<div class="m_nav"  th:remove="All">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""><i></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""><i></i>二级分类</a>
						</li>
						<li >
							<a href=""><i></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<!-- 左边菜单 end-->
	<SCRIPT type="text/javascript"  th:remove="All">
        var setting = {
          check: {
            enable: true,
            chkStyle: "radio",
            radioType: "level"
          },
          data: {
            simpleData: {
              enable: true
            }
          }
        };

        var zNodes =[
          { id:1, pId:0, name:"随意勾选 1", open:true},
          { id:11, pId:1, name:"随意勾选 1-1", open:true},
          { id:111, pId:11, name:"随意勾选 1-1-1"},
          { id:112, pId:11, name:"随意勾选 1-1-2"},
          { id:112, pId:11, name:"随意勾选 1-1-2"},
          { id:12, pId:1, name:"随意勾选 1-2", open:true},
          { id:121, pId:12, name:"随意勾选 1-2-1"},
          { id:122, pId:12, name:"随意勾选 1-2-2"},
          { id:2, pId:0, name:"随意勾选 2", open:true},
          { id:21, pId:2, name:"随意勾选 2-1"},
          { id:22, pId:2, name:"随意勾选 2-2", open:true},
          { id:221, pId:22, name:"随意勾选 2-2-1", checked:true},
          { id:222, pId:22, name:"随意勾选 2-2-2"},
          { id:23, pId:2, name:"随意勾选 2-3"}

        ];
        
        var code;   
        function setCheck() {
          var type = $("#level").attr("checked")? "level":"all";
          setting.check.radioType = type;
          showCode('setting.check.radioType = "' + type + '";');
          $.fn.zTree.init($("#catZTree"), setting, zNodes);
        }
        function showCode(str) {
          if (!code) code = $("#code");
          code.empty();
          code.append("<li>"+str+"</li>");
        }
        
        $(document).ready(function(){
          setCheck();     
          $("#level").bind("change", setCheck);
          $("#all").bind("change", setCheck);
        });
      </SCRIPT>
      <script src="../static/js-busi/gds/gdscat/gdscat.js"  th:src="@{/js-busi/gds/gdscat/gdscat.js}"></script>
      <!-- 新增分类 -->
      <div class="m_modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="width:420px;">
			<div class="modal-content" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">新增同级分类</h4>
				</div>
				<div class="modal-body clearfix">
				<form id="gdsCatForm">
					<input type="hidden" value="" id="netChildCat"/>
					<table class="editTable" style="float: left;">
						<tr id="editInfoCatId"style="display:none">
							<td class="Hint" width="120">
								分类编码:
							</td>
							<td width="220">
								<input type="text" class="form-control" id="editCatId" name="editCatId" disabled>
							</td>
						</tr>
						<tr>
							<td class="Hint" width="120">
								<font style="color:red">*</font>分类名称:
							</td>
							<td width="220">
								<input type="text" class="form-control" placeholder="输入分类名称" id="catName" name="catName">
							</td>
						</tr>
						<tr>
							<td class="Hint ">
								展示顺序:
							</td>
							<td width="120">
								<input type="text" class="form-control" placeholder="输入展示顺序" id="showOrder" name="showOrder">
							</td>
						</tr>
					</table>
				</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btnConfirm">确认</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>