<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>商品录入-定制数据</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:remove="all">
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img width="160" src="../static/images/manage_logo.jpg" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="title">商品类型</div>
			<table class="editTable">
				<tr>
					<td class="Hint" width="120">
						<span class="col_red">*</span>
						类型:
					</td>
					<td width="520">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="/API/">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button" >请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				
			</table>
			
			<div class="title">商品基本信息</div>
			<table class="editTable">
				<tr>
					<td class="Hint tips" width="120">
						<span class="col_red">*</span>
						商品名称:
					</td>
					<td width="520">
						<div  class="input-group">
							<input type="text" class="form-control" placeholder="VIN车架号查询详细版">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>

				</tr>
				<tr>
					<td></td>
					<td class="pt5"><span class="col_999 ">请录入商品名称</span></td>
				</tr>
				<tr>
					<td class="Hint">
						<span class="col_red">*</span>
						商品副标题:
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="根据传递17位的车架号进行详细信息查询">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品标签:
					</td>
					<td>
						<span class="label label-primary">API</span>
						<span class="label label-warning">支持HTTPS</span>
						<span class="label label-warning">免费体验</span>
						<a href="" class="btn btn-default  btn-sm ml20" >请选择</a>
					</td>
					<td>

					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品图片:
					</td>
					<td>
						<span>
							<img src="" width="120" height="120">
						</span>
					</td>
				</tr>
				<tr >
					<td class="Hint"></td>
					<td>
						<div class="input-group" style="width: 50%; padding-top: 20px;">
							<input  type="text" class="form-control" placeholder="">
							<span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
						<span class="col_red">说明：建议选择100*100规格图片</span>
					</td>
				</tr>
			</table>
			<div class="title">其他信息</div>
			<table class="editTable">
				<tr>
					<td class="Hint tips" width="120">
						<span class="col_red">*</span>
						数据描述:
					</td>
					<td width="520">
						<textarea class="form-control"  rows="5"></textarea>
					</td>

				</tr>
			</table>
			
			<div class="title">数据详情</div>

			<!-- 下面实际应是编辑器 -->
			<div>
				<!-- <textarea class="form-control" onkeyup="checkLen(this)" rows="5" "></textarea>-->
				<textarea class="form-control"  rows="5"></textarea>
			</div>
		</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>

</body>
</html>