<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>信息新增、列表、详情编辑</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:href="@{/css/manage.css}">
	<script src="../static/js-busi/page/info-details.js" th:src="@{/js-busi/page/info-details.js}"></script>
	<script type="text/javascript" src="../static/component/ckeditor/ckeditor.js" th:src="@{/component/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" src="../static/js-busi/common/pager.js" th:src="@{/js-busi/common/pager.js}"></script>
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			
            <!--tab切换内容-->
            <div class="tab-slide pl20 pr20">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="javascript:void(0)" th:onclick="|queryNewsPageInfo(1)|" aria-controls="home" role="tab" data-toggle="tab">信息列表</a></li>
                    <li class=""><a href="javascript:void(0)" id="editOrAddNewsInfo" aria-controls="home" role="tab" data-toggle="tab">信息新增</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content pt15">
                	<div role="tabpanel" class="tab-pane active" id="tab01">
	                		<div class="top-table">
				                <table class="editTable">
				                    <tbody><tr>
				                        <td class="Hint">
				                            <span class="col_red">*</span>
				                           	 标题：
				                        </td>
				                        <td width="20%">
				                            <div class="input-group02">
				                                <input class="form-control" type="text" id="news_title">
				                            </div>
				                        </td>
				                        <td class="Hint">
				                            <span class="col_red">*</span>
				                           	状态：
				                        </td>
				                        <td width="20%">
				                            <div class="input-group02">
				                                <select class="form-control" id="news_status">
				                                    <option value="">全部</option>
				                                    <option value="1">生效</option>
				                                    <option value="0">失效</option>
				                                </select>
				                            </div>
				                        </td>
				                        <td class="Hint">
				                            <span class="col_red">*</span>
				                           	 信息类型：
				                        </td>
				                        <td width="20%">
				                            <div class="input-group02">
				                                <select class="form-control" id="news_infotype">
				                                    <option value="">全部</option>
				                                    <option value="1">行业资讯</option>
				                                    <option value="2">平台公告</option>
				                                    <option value="3">平台活动</option>
				                                    <option value="4">常见问题</option>
				                                </select>
				                            </div>
				                        </td>
				                        <td>
				                            <div class="input-group02">
				                                <button class="btn btn-primary" th:onclick="'queryNewsPageInfo(1);'">查询</button>
				                            </div>
				                        </td>
				                    </tr>
				                </tbody>
			                </table>
						</div>
                       <table class="table table-bordered text-center">
                            <thead>
                            <tr class="active">
                               <td>序号</td>
                                <td>标题</td>
                                <td th:remove="all">摘要</td>
                                <td>信息类型</td>
                                <td th:remove="all">生效时间</td>
                                <td th:remove="all">失效时间</td>
                                <td>生效状态</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:remove="all">
                                <td>1</td>
                                <td> <div style="max-width:200px;" class="text_overflow">标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长标题长长长长</div></td>
                                <td width="300">
                                 	<div style="width:300px;" class="text_overflow">Airbnb爱彼迎。 旅行中也能像当地人一样生活。优惠券在单笔预订一处 Airbnb 房源的费用等于或超过人民币 1000 元（壹仟元） 不包括 Airbnb 服务费和清洁费）时减人民币 200 元（貳佰元）。</div>
                                 </td>
                                <td>行业新闻</td>
                                <td></td>
                                <td></td>
                                <td>失效</td>
                                <td>生效</td>
                                <td>
                                    <p class="pop-link">
                                        <a href="">编辑</a><i>|</i>
                                        <a href="">失效</a>
                                    </p>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td> <div style="max-width:200px;" class="text_overflow">标题长</div></td>
                                <td width="300">
                                 	<div style="width:300px;" class="text_overflow">Airbnb爱彼迎。 旅行中也能像当地人一样生活。优惠券在单笔预订一处 Airbnb 房源的费用等于或超过人民币 1000 元（壹仟元） 不包括 Airbnb 服务费和清洁费）时减人民币 200 元（貳佰元）。</div>
                                 </td>
                                <td>行业新闻</td>
                                <td>2017-2-3</td>
                                <td>2018-2-3</td>
                                <td>生效</td>
                                
                                <td>
                                    <p class="pop-link">
                                        <a href="">编辑</a><i>|</i>
                                        <a href="">删除</a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                 		<!-- 分页-->
						<div  class="pagelist" style="margin-top:0px;" >
							<span data-toggle="pager" id="pagerId" data-count="" data-size="" data-currentindex=""></span>
						</div>
                        <div class="pagelist" th:remove="all">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="edit_content" style="display:none">
                    <table class="editTable" id="edit_data">
						<input type="hidden" id="info_id" th:value="${infoId}"/>
						<input type="hidden" id="info_moduleId" th:value="${moduleId}"/>
						<input type="hidden" id="info_infoUrl" th:value="${infoUrl}"/>
						<tr>
							<td class="Hint " width="120"><span class="col_red">*</span>标题:</td>
							<td width="420"><input id="infoTitle" type="text" class="form-control" th:value="${infoTitle}"></td>
						</tr>
						<tr>
							<td class="Hint "><span class="col_red">*</span>信息类型:</td>
							<td>
							<select class="form-control;width:60%" id="infoType" th:if="${infoflag=='edit'}" disabled style="background-color:#eee">
								<option value="1" th:selected="(${infoType} == '1')">行业资讯</option>
					            <option value="2" th:selected="(${infoType} == '2')">平台公告</option>
					            <option value="3" th:selected="(${infoType} == '3')">平台活动</option>
					            <option value="4" th:selected="(${infoType} == '4')">常见问题</option>
							</select>
							<select class="form-control;width:60%" id="infoType" th:if="${infoflag== null}">
								<option value="1" th:selected="(${infoType} == '1')">行业资讯</option>
					            <option value="2" th:selected="(${infoType} == '2')">平台公告</option>
					            <option value="3" th:selected="(${infoType} == '3')">平台活动</option>
					            <option value="4" th:selected="(${infoType} == '4')">常见问题</option>
							</select>
							</td>
						</tr>
						<tr th:remove="all">
							<td class="Hint"><span class="col_red">*</span>生效时间:</td>
							<td><input class="Wdate form-control dateStyle wt300" type="text" id="pubTime" th:onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" th:value="${#dates.format(newsInfo.pubTime, 'yyyy-MM-dd')}">
							</td>
						</tr>
						<tr th:remove="all">
							<td class="Hint"><span class="col_red">*</span>失效时间:</td>
							<td><input class="Wdate form-control dateStyle wt300" type="text" id="lostTime" th:onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" th:value="${#dates.format(newsInfo.lostTime, 'yyyy-MM-dd')}" >
							</td>
						</tr>
						 
						<tr th:remove="all">
							<td class="Hint "><span class="col_red">*</span>附件上传:</td>
							<td><label>
									<div class="form-inline">
										<div class="form-group">
											<input class="float_File form-control" name="picUpLoad"
												id="picUpLoad" type="file"> <span class="col_red">说明：XXXX</span>
										</div>
									</div></td>
						</tr>
						<tr th:remove="all">
							<td class="Hint">附件名称:</td>
							<td><input type="text" class="form-control" placeholder="">
							</td>
						</tr>
						<tr>
							<td class="Hint"><span class="col_red">*</span>内容:</td>
							<td id="ckeditor"><textarea class="form-control" rows="4"></textarea></td>
						</tr>
					
						<tr>
							<td class="Hint">&nbsp;</td>
							<td>
								<button class="btn btn-primary" th:onclick="'saveNewsInfo()'">保存</button>
								<button class="btn btn-default" th:onclick="'queryNewsPageInfo(1)'">返回</button>
							</td>
						</tr>
					</table>
                    </div>
                </div>

            </div>
		</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>

</body>
</html>