<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>企业认证审核详情</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:href="@{/css/manage.css}">
	<script type="text/javascript" src="../static/js-busi/user/authenDetail.js" th:src="@{/js-busi/user/authenDetail.js}"></script>
	<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
</head>
<body>



<div class="m_nav">
	<nav class="nav">
		<ul>
			<li class="navTit">
				<i class="glyphicon glyphicon-compressed"></i>
				个人中心
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
					<span class="caret"></span>
				</a>
				<ol class="infoItem">
					<li class="active">
						<a href=""><i></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
					</li>
					<li >
						<a href=""><i></i>二级分类</a>
					</li>
					<li >
						<a href=""><i></i>二级分类</a>
					</li>
				</ol>
			</li>
			<li >
				<a href="">
					<i ></i>
					一级目录
					<span class="caret"></span>
				</a>
				<ul class="infoItem">
					<li >
						<a href="">二级分类</a>
					</li>
					<li >
						<a href="">二级分类</a>
					</li>
					<li >
						<a href="">二级分类</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
				</a>
			</li>
			<li >
				<a href="">
					<i class=""></i>
					一级目录
					<span class="caret"></span>
				</a>
				<ul class="infoItem">
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
				</ul>
			</li>
			<li >
				<span>
					<i class=""></i>
					一级目录
					<span class="caret"></span>
				</span>
				<ul class="infoItem">
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
					<li class="">
						<a href=""><i class="iconfont"></i>二级分类</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>


	
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>

</body>
</html>