<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>我的数据</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:remove="all">
</head>
<body>
<header class="clearfix m_header">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			
            <div class="classify">
                <i class="iconfont"></i>
                <span>当前位置：</span>
                <a href=""><span>个人中心</span></a>
                <span class="col_999">我的数据</span>
            </div>

            <!--tab切换内容-->
            <div class="tab-slide pl20 pr20" id="gdsListContent">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" th:remove="all">
                    <li class="active"><a href="#tab01" aria-controls="home" role="tab" data-toggle="tab">我的数据</a></li>
                    <li><a href="#tab02" aria-controls="profile" role="tab" data-toggle="tab">定制数据</a></li>
                   
                </ul>

                <!-- Tab panes -->
                <div class="tab-content pt15" th:remove="all">
                    <div role="tabpanel" class="tab-pane active" id="tab01">
                        <table class="table table-bordered text-center" >
                            <thead>
                            <tr class="active">
                                <th>序号</th>
                                <th>数据名称</th>
                                <th>APIkey</th>
                                <th>申请时间</th>
                                <th>剩余次数</th>
                                <th>购买</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:remove="all">
                                <td>1</td>
                                <td> API的名称1</td>
                                <td>调用token1</td>
                                <td>2017-04-10 12:25:23（首次订购该数据API套餐的时间）</td>
                                <td>
                                   可调用次数总和
                                </td>
                                <td>
                                     <a href="">再次购买</a>
                                </td>
                                <td>
                                    <a href="">接口</a>
                                </td>
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="tab02">
                       <table class="table table-bordered text-center" >
                            <thead>
                            <tr class="active">
                                <th>序号</th>
                                <th>套餐名称</th>
                                <th>APIkey</th>
                                <th>申请时间</th>
                                <th>可用余额</th>
                                <th>购买</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:remove="all">
                                <td>1</td>
                                <td> 跨类套餐名称</td>
                                <td>调用token1</td>
                                <td>2017-04-10 12:25:23（首次订购该数据API套餐的时间）</td>
                                <td>
                                   当前的实时余额
                                </td>
                                <td>
                                     <a href="">再次购买</a>
                                </td>
                                <td>
                                    <a href="">接口</a>
                                </td>
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                     <!-- 分页-->
                    <div class="pagelist" th:remove="all" >
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li >
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                                <div class="pageskip">
                                    <span class="pr10">到第<input type="text" class="pageskip_box">页</span>
                                    <a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
                                </div>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

   

	
</body>
</html>