<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">

<head>
	<meta charset="UTF-8">
	<title>订单管理</title>
	<link rel="stylesheet" href="../static/component/bootstrap/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/manage.css" th:href="@{/css/manage.css}">
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
	<script type="text/javascript" src="../../static/js-busi/order/orderManager.js" th:src="@{/js-busi/order/orderManager.js}"></script>
	<!--<script src="../META-INF/resources/webjars/js/util.js" th:src="@{/webjars/js/util.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/js/jquery.bootstrap.message.js" th:src="@{/webjars/js/jquery.bootstrap.message.js}"></script>
 	-->
	<link rel="stylesheet" href="../../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css" th:href="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css}">
	<script src="../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js" th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js}"></script>
	<script src="../META-INF/resources/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js" th:src="@{/webjars/smalot-bootstrap-datetimepicker/2.4.4/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script type="text/javascript">
		$(function () {
			$('.form_datetime').datetimepicker({
				//不要选择小时的minView: 2,
				minView: 2,
				language: 'zh-CN',
				format: 'yyyy-mm-dd'
			});
		})//end document.ready

	</script>
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js" ></script>
	<script src="../static/js/html5shiv.min.js" ></script>
	<![endif]-->
</head>
<body>
<div th:replace="~{fragments/top :: top}"></div>
<!-- 头部 -->
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img  src="../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a  ><span>后台运营</span></a>
				<span class="col_999"> 订单管理</span>
			</div>
			<!--tab切换内容-->
			<div class="tab-slide pl20 pr20">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#tab01" aria-controls="home" role="tab" data-toggle="tab">订单管理</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content pt15">
					<div role="tabpanel" class="tab-pane active" id="managerdata">
						<input class="form-control" placeholder="" id="staticgdsid" type="hidden" th:value="${staticgdsid}"/>
						<input class="form-control" placeholder="" id="staticgdsname" type="hidden" th:value="${staticgdsname}"/>
						<table class="table table-bordered text-center" >
							<thead>
							<tr class="active">
								<th th:width="40" >序号</th>
								<th>订单号</th>
								<th>购买时间</th>
								<th>数据名称</th>
								<th>套餐类别</th>
								<th>份数</th>
								<th th:width="80">剩余次数</th>
								<th>金额</th>
								<th>有效期</th>
								<th th:width="80">订单状态</th>
								<th>订单类型</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody th:if=" ${pageInfo}" th:remove="all-but-first">
							<tr th:each="list,iterStat : ${pageInfo.result}"
								th:unless="${#lists.isEmpty(pageInfo.result)}">
								<td th:text="${pageInfo.pageNo -1}*${pageInfo.pageSize}+${iterStat.count}"></td>
								<td th:text="${list.orderId}"></td>
								<td th:text="${#calendars.format(list.ordInfoRespDTO.orderTime,'yyyy-MM-dd HH:mm:ss')}"></td>
								<td th:text="${list.ordInfoRespDTO.serviceName}"></td>
								<td	th:text="${list.ordInfoRespDTO.skuName}"></td>
								<td	th:text="${list.ordInfoRespDTO.buyAllCount}"></td>
								<td th:text="${list.ordInfoRespDTO.belanceAllCount}"></td>
								<td th:with="packPrice=${list.orderMoney}"th:text="${#tools.formatMoney(packPrice)}"></td>
								<td   th:with="activeEndTime=${list.ordInfoRespDTO.activeEndTime}" th:text="${#dates.format(activeEndTime,'yyyy-MM-dd')}"></td>
								<td  th:with="orderstatus=${list.orderStatus}" th:text="${#tools.formatOrderStatus (orderstatus)}"></td>
								<td th:with="orderType=${list.orderType}" th:text="${#tools.formatOrderType(orderType)}"></td>
								<td th:if="${list.orderStatus}=='01'">
									<p class="pop-link">
										<a  th:onclick="'javascript:orderChangePay('+${list.orderId}+','+${list.ordInfoRespDTO.subOrder}+');'">确认已支付</a>
									</p>
								</td>
								<td th:if="${list.orderStatus}=='02'">
									<p class="pop-link">
										<a   th:onclick="'javascript:orderManageoffline('+${list.orderId}+','+${list.ordInfoRespDTO.subOrder}+','+${list.ordInfoRespDTO.dataAccountId}+');'">使失效</a>
									</p>
								</td>
								<td th:if="${list.orderStatus}=='03'">
									<p class="pop-link">
										订单已失效
									</p>
								</td>
								<td th:if="${list.orderStatus}=='04'">
									<p class="pop-link">
										已完成
									</p>
								</td>
								<td th:if="${list.orderStatus}=='99'">
									<p class="pop-link">
										- -
									</p>
								</td>
							</tr>
							<tr>
								<td>12</td>
								<td>201703270001</td>
								<td>2017-03-27</td>
								<td>API接口产品名称</td>
								<td>套餐档次</td>
								<td>订购的数量</td>
								<td>剩余次数/总量</td>
								<td>订单金额</td>
								<td>2017-10-10</td>
								<td>正在生效中</td>
								<td>普通</td>
								<td>
									<p class="pop-link">
										<a href="edit_module.html">编辑</a>
									</p>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="text-right">
							<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">创建订单</button>
						</div>
						<div class="pagelist">
							<div th:fragment="pager" class="pagerBar pagelist"
								 th:if=" ${pageInfo}">
								<script type="text/javascript"
										src="../static/js-busi/common/pager.js"
										th:src="@{/js-busi/common/pager.js}"></script>
								<span data-toggle="pager" id="pagerId"
									  th:data-count="${pageInfo.count}"
									  th:data-size="${pageInfo.pageSize}"
									  th:data-currentindex="${pageInfo.pageNo}"></span>
								<script th:inline="javascript">
									var total ='[[${pageInfo.count}]]';
									var pageNum = '[[${pageInfo.pageNo}]]';
									var pageSize = '[[${pageInfo.pageSize}]]';

									if (typeof pagerClick === "undefined") {
										pagerClick = function(index) {
											orderManagequery(index);
										}
									}
									$('#pagerId').pager({
										callback : pagerClick
									});
								</script>
							</div>
						</div>
						<div class="pagelist" th:remove="all">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li >
										<a href="#" aria-label="Previous">
											<span aria-hidden="true">上一页</span>
										</a>
									</li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">下一页</span>
										</a>
									</li>
									<div class="pageskip">
										<span class="pr10">到第<input type="text" class="pageskip_box">页</span>
										<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
									</div>
								</ul>

							</nav>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="m_nav" th:remove="all" >
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
						<li >
							<a href=""></i>二级分类</a>
						</li>
					</ol>
				</li>
			</ul>
		</nav>
	</div>


	<!-- 创建订单 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">创建订单</h4>
				</div>
				<div class="modal-body">
					<table class="editTable">
						<tbody>
						<tr>
							<td class="Hint" width="120">创建类型:</td>
							<td  width="320">
								<select  class="form-control" th:onclick="'javascript:changeCreateType();'"  id="typeOption">
									<option value="20">自定义套餐</option>
									<option value="10">固定套餐</option>
									<option value="30">跨类套餐</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="Hint" width="120">用户账户:</td>
							<td  width="320">
								<div class="input-group tips">
									<input class="form-control changetype" placeholder="" id="staffid" type="text">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#userModal">请选择</button>
					      		</span>
								</div>
							</td>
						</tr>
						<tr id="trgds">
							<td class="Hint" >商品:</td>
							<td>
								<div class="input-group tips">
									<input class="form-control  changetype"  placeholder="" id="gdsid" type="hidden">
									<input class="form-control  changetype" placeholder="" id="api_id" type="hidden">
									<input class="form-control  changetype" placeholder="" id="gdsname" type="text">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#gdsModal" >请选择</button>
					      		</span>
								</div>
							</td>
						</tr>
						<tr id="trsku">
							<td class="Hint" width="120">套餐:</td>
							<td  width="320">
								<div class="input-group tips">
									<input class="form-control  changetype skuclass" placeholder="" id="skuid" type="hidden">
									<input class="form-control  changetype skuclass" placeholder="" id="skuname" type="text">
									<span class="input-group-btn">
					        		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#skuModal" th:onclick="'javascript:getskuBygds(1);'" id="skunamebtn">请选择</button>
					      		</span>
								</div>
							</td>
						</tr>
						<tr id="trinavitime"  class="tips">
							<td class="Hint" >截止有效期:</td>
							<td>
								<div class="input-group date form_datetime col-md-2" >
									<input class="form-control  changetype skuclass"   id="innavateDate" type="text"/>
									<span class="input-group-addon"> <span class="glyphicon glyphicon-th"></span>  </span>
								</div>
 							</td>
						</tr>
						<tr id="trechecount">
							<td class="Hint" >次数:</td>
							<td>
								<div class="form-inline">
									<input class="form-control  changetype " placeholder="" id="packtimes" type="text" value=""  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"><span class="pl15">次</span>
								</div>
							</td>
						</tr>
						<tr id="trorderprice">
							<td class="Hint" >单价:</td>
							<td>
								<div class="form-inline">
									<input class="form-control  changetype skuclass" placeholder="" id="packprice" type="text" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" ><span class="pl15">元</span>
								</div>
							</td>
						</tr>
						<tr id="trordernum">
							<td class="Hint" >购买数量:</td>
							<td>
								<div class="form-inline">
									<input class="form-control   changetype" placeholder="" id="ordernum" type="text" value="1"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"> <span class="pl15">套</span>
								</div>
							</td>
						</tr>
						<tr id="trallmoney">
							<td class="Hint" >总金额:</td>
							<td>
								<div class="form-inline">
									<input class="form-control   changetype skuclass" placeholder="" id="allmoney" type="text" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" ><span class="pl15">元</span>
								</div>
							</td>
						</tr>
						</tbody>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"  th:onclick="'javascript:createOrderBymaneger();'" id="createOrderbtn" >确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="closeCreatedialo" >关闭</button>

				</div>
			</div>
		</div>
	</div>
	<!-- 查询用户 Modal -->
	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="">账户查询</h4>
				</div>
				<div class="modal-body">
					<div class="top-table">
						<table class="editTable">
							<tbody><tr>
								<td class="Hint" width="100">
									用户ID：
								</td>
								<td>
									<input class="form-control" placeholder="用户ID，请至少输入两个字" type="text" id="querystaffid">
								</td>
								<td>
									<button class="btn btn-primary" th:onclick="'javascript:queryUserinfo(1);'" >查询</button>
								</td>
							</tr>
							</tbody></table>
					</div>

					<!-- Tab panes -->
					<div class="tab-content p10">
						<div role="tabpanel" class="tab-pane active" id="userquerydiv">
							<table class="table table-bordered text-center">
								<thead>
								<tr class="active">
									<th>序号</th>
									<th>用户ID</th>
									<th>选择</th>
								</tr>
								</thead>
								<tbody th:if="${userpageInfo}">
								<tr th:each="list,iterStat : ${userpageInfo.result}"
									th:unless="${#lists.isEmpty(userpageInfo.result)}">
									<td th:text="${userpageInfo.pageNo -1}*${userpageInfo.pageSize}+${iterStat.count}"></td>
									<td th:text="${list.staffId}">用户ID</td>
 									<td>
										<input type="radio" name="radiouser" th:value="${list.staffId}" >
									</td>
								</tr>
								<tr th:if="${userpageInfo.count} == 0">
									<td  colspan="3">没有查到任何信息</td>
								</tr>
								</tbody>

								<tbody th:remove="all" >
								<tr>
									<td>用户ID</td>
									<td>
										<input type="radio">
									</td>
								</tr>
								</tbody>
							</table>
							<div class="pagelist" th:remove="all">
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li>
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
											</a>
										</li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
											</a>
										</li>
										<div class="pageskip">
											<span class="pr10">到第<input class="pageskip_box" type="text">页</span>
											<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
										</div>
									</ul>

								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" th:onclick="'javascript:setUserinfo();'" >确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!--查询sku -->
	<div class="modal fade" id="skuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="skuModalLabel">套餐查询</h4>
				</div>
				<div class="modal-body">
					<!-- Tab panes -->
					<div class="tab-content p10</tr>">
						<div role="tabpanel" class="tab-pane active"  id="skuquery">
							<table class="table table-bordered text-center">
								<thead>
								<tr class="active">
									<th>套餐编码</th>
									<th>套餐名称</th>
									<th>选择</th>

								</thead>
								<tbody th:if="${skupageInfo}" th:remove="all-but-first">
								<tr th:each="list,iterStat : ${skupageInfo}"
									th:unless="${#lists.isEmpty(skupageInfo)}">
									<td th:text="${list.skuId}">套餐ID</td>
									<td th:text="${list.skuName}">套餐名称</td>
									<td>
										<input type="radio" name="radiosku" th:value="${list.skuId}" th:skutname_tmp="${list.skuName}"  th:packTimes="${list.packTimes}" th:with="endtime=${list.inavitime}"  th:activeEndTime="${#dates.format(endtime, 'yyyy-MM-dd HH:mm')}"   th:packPrice="${list.packPrice}"  >
									</td>
								</tr>
								</tbody>
								<tbody >
								<tr th:remove="all" >
									<td >套餐编码</td>
									<td >套餐名称</td>
									<td>
										<input type="radio" name="radiogds" th:value="1022" >
									</td>
								</tr>
								</tbody>
							</table>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary"  data-dismiss="modal" th:onclick="'javascript:setGetskuinfo();'" >确定</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 查询  gds  -->
	<div class="modal fade" id="gdsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gdsModalLabel">商品</h4>
				</div>
				<div class="modal-body">
					<div class="top-table">
						<table class="editTable">
							<tbody>
							<tr>
								<td class="Hint" width="100">
									商品名称：
								</td>
								<td>
									<input class="form-control" value="" placeholder="请输入至少两个字" type="text" id="querygdsname"/>
								</td>
								<td>
									<button class="btn btn-primary" th:onclick="'javascript:qryModuleGoods(1);'" >查询</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- Tab panes -->
					<div class="tab-content p10">
						<div role="tabpanel" class="tab-pane active"  id="gdsquery">
							<table class="table table-bordered text-center">
								<thead>
								<tr class="active">
									<th>商品编码</th>
									<th>商品名称</th>
									<th>选择</th>
								</tr>
								</thead>
								<tbody th:if="${gdspageInfo}" th:remove="all-but-first">
								<tr th:each="list,iterStat : ${gdspageInfo.result}"
									th:unless="${#lists.isEmpty(gdspageInfo.result)}">
									<td th:text="${list.gdsId}">商品ID</td>
									<td th:text="${list.gdsName}">商品名称</td>
									<td>
										<input type="radio" name="radiogds" th:value="${list.gdsId}" th:gdstname_tmp="${list.gdsName}" th:api_id_tmp="${list.apiId}" >
									</td>
								</tr>
								</tbody>
								<tbody >
								<tr th:remove="all" >
									<td >编码</td>
									<td >商品名</td>
									<td>
										<input type="radio" name="radiogds" th:value="1022" >
									</td>
								</tr>
								</tbody>
							</table>
							<div th:fragment="pager" class="pagelist" th:remove="all" info="暂时不用显示分页">
								<div class="pagelist" th:remove="all">
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li>
												<a href="#" aria-label="Previous">
													<span aria-hidden="true">上一页</span>
												</a>
											</li>
											<li class="active"><a href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#">5</a></li>
											<li>
												<a href="#" aria-label="Next">
													<span aria-hidden="true">下一页</span>
												</a>
											</li>
											<div class="pageskip">
												<span class="pr10">到第<input class="pageskip_box" type="text">页</span>
												<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
											</div>
										</ul>

									</nav>
								</div>
								<!-- 分页-->
								<script type="text/javascript"
										src="../static/js-busi/common/pager.js"
										th:src="@{/js-busi/common/pager.js}"></script>
								<span data-toggle="pager" id="pagerIdgds"  th:if="${gdspageInfo}"
									  th:data-count="${gdspageInfo.count}"
									  th:data-size="${gdspageInfo.pageSize}"
									  th:data-currentindex="${gdspageInfo.pageNo}"></span>
								<script th:inline="javascript" th:if="${gdspageInfo}">
									var total = '[[${gdspageInfo.count}]]';
									var pageNum = '[[${gdspageInfo.pageNo}]]';
									var pageSize = '[[${gdspageInfo.pageSize}]]';
									if (typeof pagerClick === "undefined") {
										pagerClick = function(index) {
											qryModuleGoods(index);
										}
									}
									$('#pagerIdgds').pager({
										callback : pagerClick
									});
								</script>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary"  data-dismiss="modal" th:onclick="'javascript:setGetgdsinfo();'" >确定</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
</div>
</body>
</html>