<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/index.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/page_classification.css" th:href="@{/css/page_classification.css}">
	<!--[if lt IE 9]>
        <script src="../static/js/respond.min.js" th:remove="all"></script>
        <script src="../static/js/html5shiv.min.js"  th:remove="all"></script>
	<![endif]-->
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
</head>
<body>

	<!-- 头部 -->
	<header class="clearfix m_header" th:remove="all">
		<a href="" class="Logo" target="_blank" >
			<img  src="../static/images/manage_logo.png" th:src="@{/images/manage_logo.png}" alt="广州数据" >
		</a>
		<ul class="m_hdlist clearfix">
			<li>
				<a class="item" href="" target="_blank">联系我们</a>
			</li>
			<li >
				<div class="dropdown">
					<a  class="item" data-toggle="dropdown"  >
						关注广数
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
						<li><img src="../static/images/wexin.jpg"></li>
					</ul>
				</div>
			</li>
			<li>
				<a class="item" href="" target="_blank">常见问题</a>
			</li>
			<li >
				<div class="dropdown">
					<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						okleung
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						<li><a  href="" >退出登录</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</header>
	<!-- 头部 end-->

	<div  layout:fragment="screen_content">
	    <!-- 右边内容 -->
		<div class="m_main">
			<div class="m_con">
	
				<div class="classify">
					<i class="iconfont"></i>
					<span>当前位置：</span>
					<a href=""><span>广州数据交易中心</span></a>
					<a href=""><span>个人中心</span></a>
					<span class="col_999"> 商品分类</span>
				</div>
	
	            <!-- Nav tabs -->
	            <ul class="nav nav-tabs">
	                <li class="active"><a href="#tab01">商品分类</a></li>
	            </ul>
	
			    <div class=" mt15">
					<div class="col-md-3">
	                     <!-- 左边树形菜单  --> 
			             <div class="class_sidebar">
				            <h3>全部商品</h3>
				            <ul th:remove="all-but-first">
				                <li th:each="sortInfo,infoStat : ${sortInfos}" th:sortId="${sortInfo.sortId}"><a href="javascript:void(0)" ><i>›</i><span th:text="${sortInfo.sortName}">金融理财金融理财金融理财金融理财金融理财</span></a> </li>
				                <li class="active"><a href="#"><i>›</i>交通运输</a> </li>
				                <li><a href="#"><i>›</i>气象环保</a> </li>
				                <li><a href="#"><i>›</i>生活服务</a> </li>
				                <li><a href="#"><i>›</i>生活服务</a> </li>
				                <li><a href="#"><i>›</i>时空数据</a> </li>
				                <li><a href="#"><i>›</i>健康医疗</a> </li>
				                <li><a href="#"><i>›</i>更多服务</a> </li>
				            </ul>
				            <!-- 二级子菜单 -->
				            <div psortid="1" class="class_sidebar_secon" style="display: block;">
								<h4>金融理财</h4>
								<div class="class_link">
									<a href="https://www.baidu.com" target="_blank">条码查询</a><a
										href="http://112.74.163.29:8082/mall-web/goods/details/1037-"
										target="_blank">万能小哥</a><a
										href="http://112.74.163.29:8082/mall-web/goods/details/1039-"
										target="_blank">专利查询</a><a href="javascript:void(0);" target="_blank">全国违章</a><a
										href="https://www.baidu.com" target="_blank">H5在线电</a>
										
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										<a href="https://www.baidu.com" target="_blank">H5在线电</a>
										
								</div>
								<div class="sidebar-link"></div>
							</div> 
				        </div>       	
	                    <!-- 左边树形菜单  end--> 
			        </div>
			        <div class="col-md-9">
						<div class="box" id="sortInfo">
						<!--右边-->
							
							<table width="100%" border="0" class="editTable table-hover"
								id="contentInput">
								<tbody>
									<tr>
										<td class="Hint" width="120"><span class="red">*</span>分类名称：</td>
										<td><input type="hidden" value="1" id="tSortContentSize">
											<input type="hidden" value="1" id="sortId"> <input
											type="hidden" value="59" id="provinceCode"> <input
											type="hidden" value="-1" id="parentSortId"> <input
											type="hidden" value="01" id="sortLevel"> <input
											type="hidden" value="1" id="orderNo"> <input type="hidden"
											value="first" id="opType"> <input class="form-control"
											type="text" id="sortName" value="手机"></td>
									</tr>
									<tr>
										<td class="Hint"><span class="red">*</span>类型：</td>
										<td><select class="form-control" id="sortType"
											onchange="hideinput()">
												<option value="01" selected="selected">概括导航类型</option>
												<option value="02">具体导航类型</option>
										</select></td>
									</tr>
									<tr name="tr1">
										<td class="Hint class-zi"><input type="hidden" value="1"
											id="sortContentId_1"> <input type="hidden" value="59"
											id="sortConprovinceCode_1"> 分类内容：</td>
										<td class="TextRight"><a class="deleIcon2"
											onclick="deltrInfo('1')"></a></td>
									</tr>
									<tr name="tr1">
										<td class="Hint"><span class="red">*</span>内容名称：</td>
										<td><input class="form-control" type="text" id="contentName_1"
											value="手机"></td>
									</tr>
									<tr name="tr1">
										<td class="Hint">链接地址：</td>
										<td><input class="form-control" maxlength="512" type="text"
											id="contentLink_1"
											value="/search/search?fq_catList=%255B%2522100%2522%255D"></td>
									</tr>

									<tr name="tr1">
										<th colspan="2" scope="row" class="table-line"></th>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											<div class="  bg-warning  pt10 pb10 pr20 pl20 ">
												<p>备注：链接地址目前只支持系统内部地址(即不需要域名部分，
												<br>例：要链接至http://www.woego.cn/woego/actzone/pageInit，只需填入/actzone/pageInit）</p>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							
							<hr>
							<div class="text-center">
								
								<input type="submit" value="保存" onclick="saveInfo()"
									class="btn btn-primary">
								<button class="btn btn-default " data-toggle="modal"
									data-target="#new_adds" onclick="addsortContent();">
									 新增内容
								</button>
							</div>
							<div class="formOperate">
								
							</div>
							<!--右边 end-->
						
						</div>

		            </div>
			    </div>
				
			</div>
		</div>
		<!-- 右边内容 end-->
	</div>
	<!-- 左边菜单 -->
	<div class="m_nav"  th:remove="all">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录一级目录一级目录一级目录一级目录一级目录一级目录一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ol class="infoItem">
						<li class="active">
							<a href=""><i></i>二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类二级分类</a>
						</li>
						<li >
							<a href=""><i></i>二级分类</a>
						</li>
						<li >
							<a href=""><i></i>二级分类</a>
						</li>
					</ol>
				</li>
				<li >
					<a href="">
						<i ></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
						<li >
							<a href="">二级分类</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
					</a>
				</li>
				<li >
					<a href="">
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</a>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
				<li >
					<span>
						<i class=""></i>
						一级目录
						<span class="caret"></span>
					</span>
					<ul class="infoItem">
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
						<li class="">
							<a href=""><i class="iconfont"></i>二级分类</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<!-- 左边菜单 end-->
	<SCRIPT type="text/javascript" th:inline="javascript">
		
    </SCRIPT>
	
</body>
</html>