<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<a href="" class="item" th:each="recGdsInfo,recGdsInfoStat : ${recGdsList}" th:href="'/goods/details/'+${recGdsInfo.gdsId}+'-'">
    <span class="img"><img src="../static/images/img.jpg" th:src="${recGdsInfo.gdsPic}"></span>
    <dl>
        <dt class="dt" th:text="${recGdsInfo.gdsName}">身份实名认证身份实名认证身份实名认证身份实名认证</dt>
        <dd class="dd" th:text="${recGdsInfo.gdsSubtitle}">检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否姓名和身份证是否姓名和身份证是否一致</dd>
    </dl>
</a>
</html>