/* by liangsx 20170508 */
.class_sidebar{
	background: #fbfbfb;
	border: solid 1px #eee;
	position: relative;
	width: 200px;
}
.class_sidebar h3{
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	padding: 5px 10px;
	background: #eee;
}
.class_sidebar .dele{
	padding-right: 5px;
}
.class_sidebar ul{
	padding: 20px 0;
}
.class_sidebar ul li{
	height: 40px;
	line-height: 40px;
	width: 100%;
	padding: 0 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.class_sidebar li.active{
	background-color: #fff;
	border-left: solid 3px #ec6000;
}
.class_sidebar li.active a{
	color: #ec6000;
	
}
.class_sidebar ul li a{
	color: #333;
}
.class_sidebar ul li i{
	float: right;

}
.class_sidebar_secon{
	position: absolute;
	width: 300px;
	left: 198px;
	top: 40px;
	z-index: 10;
	background: #fff;
	border: solid 1px #eee;
	/* border-left:none; */
	height: 380px;
	overflow: hidden;
	padding: 20px;
	box-shadow: 2px 2px 7px #eee;
}
.class_sidebar_secon h4{
	font-size: 14px;
	margin-bottom: 10px;
	color: #666;
}
.class_sidebar_secon .class_link a{
	padding: 3px 0;
	padding-right: 15px;
	display: inline-block;
	color: #333;
}
.class_sidebar_secon .class_link a span{
	padding-left: 5px;
	/* font-size: 14px; */
}
.class_sidebar_secon .class_link a:hover{
	color: #ec6000;
}
.table-line {

	height: 10px; 
	border-top: #ddd 1px dashed; 
	padding-left: 10%; 
	margin-bottom: 10px; 
}

.class_link a.active{
	color: #ec6000;
	
}