body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1863_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:786px;
  height:6px;
}
#u1863 {
  position:absolute;
  left:26px;
  top:104px;
  width:783px;
  height:3px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:-6px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:43px;
}
#u1865 {
  position:absolute;
  left:267px;
  top:641px;
  width:273px;
  height:43px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1867 {
  position:absolute;
  left:546px;
  top:74px;
  width:177px;
  height:26px;
  color:#666666;
}
#u1868 {
  position:absolute;
  left:2px;
  top:5px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:721px;
  top:74px;
  width:66px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#174E87;
}
#u1871 {
  position:absolute;
  left:56px;
  top:78px;
  width:30px;
  height:18px;
  color:#174E87;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1873_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:9px;
}
#u1873 {
  position:absolute;
  left:28px;
  top:104px;
  width:90px;
  height:4px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:161px;
  top:79px;
  width:23px;
  height:18px;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:224px;
  top:78px;
  width:78px;
  height:18px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:314px;
  top:78px;
  width:78px;
  height:18px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#D7D7D7;
}
#u1881 {
  position:absolute;
  left:557px;
  top:78px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#D7D7D7;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u1883 {
  position:absolute;
  left:49px;
  top:157px;
  width:96px;
  height:81px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:32px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1885 {
  position:absolute;
  left:36px;
  top:145px;
  width:754px;
  height:1px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u1887 {
  position:absolute;
  left:190px;
  top:182px;
  width:222px;
  height:15px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1889 {
  position:absolute;
  left:499px;
  top:182px;
  width:23px;
  height:18px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u1891 {
  position:absolute;
  left:568px;
  top:185px;
  width:119px;
  height:15px;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1893 {
  position:absolute;
  left:709px;
  top:182px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1895 {
  position:absolute;
  left:743px;
  top:182px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1897 {
  position:absolute;
  left:738px;
  top:182px;
  width:1px;
  height:15px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u1899 {
  position:absolute;
  left:49px;
  top:248px;
  width:96px;
  height:81px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:32px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u1901 {
  position:absolute;
  left:190px;
  top:276px;
  width:222px;
  height:15px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:499px;
  top:276px;
  width:23px;
  height:18px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u1905 {
  position:absolute;
  left:568px;
  top:279px;
  width:119px;
  height:15px;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1907 {
  position:absolute;
  left:709px;
  top:276px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1909 {
  position:absolute;
  left:743px;
  top:276px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1911 {
  position:absolute;
  left:738px;
  top:276px;
  width:1px;
  height:15px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u1913 {
  position:absolute;
  left:49px;
  top:338px;
  width:96px;
  height:81px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:32px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u1915 {
  position:absolute;
  left:190px;
  top:370px;
  width:222px;
  height:15px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:499px;
  top:370px;
  width:23px;
  height:18px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u1919 {
  position:absolute;
  left:568px;
  top:373px;
  width:119px;
  height:15px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1921 {
  position:absolute;
  left:709px;
  top:370px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1923 {
  position:absolute;
  left:743px;
  top:370px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:738px;
  top:370px;
  width:1px;
  height:15px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u1927 {
  position:absolute;
  left:49px;
  top:429px;
  width:96px;
  height:81px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:32px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u1929 {
  position:absolute;
  left:190px;
  top:464px;
  width:222px;
  height:15px;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1931 {
  position:absolute;
  left:499px;
  top:464px;
  width:23px;
  height:18px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u1933 {
  position:absolute;
  left:568px;
  top:467px;
  width:119px;
  height:15px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1935 {
  position:absolute;
  left:709px;
  top:464px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1937 {
  position:absolute;
  left:743px;
  top:464px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1939 {
  position:absolute;
  left:738px;
  top:464px;
  width:1px;
  height:15px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u1941 {
  position:absolute;
  left:49px;
  top:520px;
  width:96px;
  height:81px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:32px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:15px;
}
#u1943 {
  position:absolute;
  left:190px;
  top:558px;
  width:222px;
  height:15px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:499px;
  top:558px;
  width:23px;
  height:18px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u1947 {
  position:absolute;
  left:568px;
  top:561px;
  width:119px;
  height:15px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1949 {
  position:absolute;
  left:709px;
  top:558px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1951 {
  position:absolute;
  left:743px;
  top:558px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#FF0000;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1953 {
  position:absolute;
  left:738px;
  top:558px;
  width:1px;
  height:15px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1955 {
  position:absolute;
  left:36px;
  top:242px;
  width:754px;
  height:1px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:32px;
  background:inherit;
  background-color:rgba(23, 78, 135, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:36px;
  top:113px;
  width:751px;
  height:32px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:8px;
  width:747px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:74px;
  top:121px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:274px;
  top:120px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1963 {
  position:absolute;
  left:480px;
  top:121px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1965 {
  position:absolute;
  left:593px;
  top:120px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:720px;
  top:121px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1969 {
  position:absolute;
  left:36px;
  top:336px;
  width:754px;
  height:1px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1971 {
  position:absolute;
  left:36px;
  top:429px;
  width:754px;
  height:1px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1973 {
  position:absolute;
  left:34px;
  top:524px;
  width:754px;
  height:1px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1975 {
  position:absolute;
  left:41px;
  top:623px;
  width:754px;
  height:1px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
