<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.bdex.dataexchange.report.dao.mapper.AuthStaffSignMapper">
  <select id="AuthStaffSign_staffSignReport" resultType="com.ai.bdex.dataexchange.report.dao.model.AuthStaffSign" parameterType="com.ai.bdex.dataexchange.report.dao.model.AuthStaffSign">
    select staff_id staffId from t_auth_staff_sign
  </select>
</mapper>