<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.bdex.dataexchange.report.dao.mapper.OrdInvoiceTaxMapper">

  <select id="invoice_DetailReport_query" resultType="com.ai.bdex.dataexchange.report.entity.OrdInvoiceTaxReqDTO" parameterType="com.ai.bdex.dataexchange.report.entity.OrdInvoiceTaxReqDTO">
    SELECT
    t.ORDER_ID   orderId ,
    t.STAFF_ID staffId,
    t.CREATE_TIME createTime,
    t.APPLY_MONEY applyMoney,
    case  t.INVOICE_TYPE when '01' then '增值税普通发票' else '增值税专用发' end invoiceType,
    case  t.STATUS when '1' then '待开发票' else '已开发票' end STATUS,
    t.SEND_ADDR sendAddr,
    t.INVOICE_TITLE invoiceTitle,
    TAXPAYER_NO taxpayerNo,
    t.CONTACT_INFO contactInfo,
    t.PHONE ,
    t.BANK_NAME bankName,
    t.TAXPAYER_NO acctInfo
    FROM
    t_ord_invoice_tax t
    WHERE
    t.STATUS IN (1, 2)
    <include refid="invoice_DetailReport"/>
  </select>

  <sql id="invoice_DetailReport">
    <if test="startTime != null "><![CDATA[and t.CREATE_TIME >= #{startTime}]]></if>
    <if test="endTime != null "><![CDATA[and t.CREATE_TIME >= #{endTime}]]></if>
  </sql>
</mapper>