body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:195px;
  width:730px;
  height:528px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:528px;
}
#u1 {
  position:absolute;
  left:2px;
  top:256px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:0px;
  width:900px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:16px;
  width:180px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:520px;
  top:14px;
  width:110px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:16px;
  width:130px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:774px;
  top:16px;
  width:190px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:52px;
  width:305px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:388px;
  top:68px;
  width:572px;
  height:56px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:150px;
  width:900px;
  height:42px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:322px;
  top:163px;
  width:568px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:163px;
  width:100px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:66px;
  top:1309px;
  width:894px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:877px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:894px;
  height:1px;
}
#u23 {
  position:absolute;
  left:145px;
  top:1347px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:304px;
  top:1347px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:495px;
  top:1348px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:662px;
  top:1347px;
  width:160px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:159px;
  top:1387px;
  width:60px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:159px;
  top:1427px;
  width:60px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:317px;
  top:1387px;
  width:60px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:317px;
  top:1430px;
  width:60px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:503px;
  top:1388px;
  width:60px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:503px;
  top:1428px;
  width:60px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:673px;
  top:1380px;
  width:83px;
  height:66px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:66px;
}
#u44 {
  position:absolute;
  left:2px;
  top:25px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:240px;
  top:17px;
  width:210px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:61px;
  top:192px;
  width:159px;
  height:361px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:361px;
}
#u48 {
  position:absolute;
  left:2px;
  top:172px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:96px;
  top:224px;
  width:60px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:96px;
  top:260px;
  width:60px;
  height:16px;
  color:#282828;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:96px;
  top:295px;
  width:60px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:96px;
  top:331px;
  width:60px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:96px;
  top:366px;
  width:60px;
  height:19px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:96px;
  top:405px;
  width:60px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:232px;
  top:200px;
  width:350px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:60px;
  top:713px;
  width:894px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:877px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:894px;
  height:1px;
}
#u64 {
  position:absolute;
  left:138px;
  top:745px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:298px;
  top:745px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:488px;
  top:746px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:656px;
  top:745px;
  width:160px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:152px;
  top:785px;
  width:60px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:152px;
  top:825px;
  width:60px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:310px;
  top:785px;
  width:60px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:310px;
  top:828px;
  width:60px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:496px;
  top:786px;
  width:60px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:496px;
  top:826px;
  width:60px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:666px;
  top:778px;
  width:83px;
  height:66px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:66px;
}
#u85 {
  position:absolute;
  left:2px;
  top:25px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:233px;
  top:229px;
  width:718px;
  height:42px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:42px;
}
#u87 {
  position:absolute;
  left:2px;
  top:13px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:246px;
  top:243px;
  width:150px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:282px;
  top:281px;
  width:503px;
  height:275px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
  text-align:right;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:185px;
  top:0px;
  width:313px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:30px;
  width:185px;
  height:30px;
  text-align:right;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:185px;
  top:30px;
  width:313px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:60px;
  width:185px;
  height:30px;
  text-align:right;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:185px;
  top:60px;
  width:313px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:90px;
  width:185px;
  height:36px;
  text-align:right;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:185px;
  top:90px;
  width:313px;
  height:36px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:126px;
  width:185px;
  height:36px;
  text-align:right;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:185px;
  top:126px;
  width:313px;
  height:36px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:162px;
  width:185px;
  height:36px;
  text-align:right;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:185px;
  top:162px;
  width:313px;
  height:36px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:198px;
  width:185px;
  height:36px;
  text-align:right;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:185px;
  top:198px;
  width:313px;
  height:36px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:234px;
  width:185px;
  height:36px;
  text-align:right;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:185px;
  top:234px;
  width:313px;
  height:36px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:36px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:510px;
  top:524px;
  width:100px;
  height:16px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:610px;
  top:524px;
  width:100px;
  height:16px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:420px;
  top:570px;
  width:100px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u127_input {
  font-family:'应用字体';
}
#u128 {
  position:absolute;
  left:556px;
  top:570px;
  width:100px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u128_input {
  font-family:'应用字体';
}
#u129 {
  position:absolute;
  left:475px;
  top:284px;
  width:200px;
  height:25px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u129_input {
  font-family:'应用字体';
}
#u130 {
  position:absolute;
  left:475px;
  top:344px;
  width:200px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u130_input {
  font-family:'应用字体';
}
#u131 {
  position:absolute;
  left:475px;
  top:380px;
  width:200px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131_input {
  font-family:'应用字体';
}
#u132 {
  position:absolute;
  left:475px;
  top:415px;
  width:200px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132_input {
  font-family:'应用字体';
}
#u133 {
  position:absolute;
  left:475px;
  top:448px;
  width:200px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u133_input {
  font-family:'应用字体';
}
#u134 {
  position:absolute;
  left:475px;
  top:484px;
  width:200px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134_input {
  font-family:'应用字体';
}
#u135 {
  position:absolute;
  left:475px;
  top:314px;
  width:200px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u135_input {
  font-family:'应用字体';
}
