<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.bdex.dataexchange.usercenter.dao.mapper.SmsSeccodeLogMapper">
  <resultMap id="BaseResultMap" type="com.ai.bdex.dataexchange.usercenter.dao.model.SmsSeccodeLog">
    <id column="LOG_ID" jdbcType="DECIMAL" property="logId" />
    <result column="TOCKEN" jdbcType="VARCHAR" property="tocken" />
    <result column="PHONE_NO" jdbcType="VARCHAR" property="phoneNo" />
    <result column="SECURITY_CODE" jdbcType="VARCHAR" property="securityCode" />
    <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="BUSI_TYPE" jdbcType="VARCHAR" property="busiType" />
    <result column="SESSION_ID" jdbcType="VARCHAR" property="sessionId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_STAFF" jdbcType="VARCHAR" property="createStaff" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_STAFF" jdbcType="VARCHAR" property="updateStaff" />
  </resultMap>
  <sql id="Base_Column_List">
    LOG_ID, TOCKEN, PHONE_NO, SECURITY_CODE, SEND_TIME, BUSI_TYPE, SESSION_ID, CREATE_TIME, 
    CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms_seccode_log
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sms_seccode_log
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ai.bdex.dataexchange.usercenter.dao.model.SmsSeccodeLog">
    insert into t_sms_seccode_log (LOG_ID, TOCKEN, PHONE_NO, 
      SECURITY_CODE, SEND_TIME, BUSI_TYPE, 
      SESSION_ID, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF)
    values (#{logId,jdbcType=DECIMAL}, #{tocken,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{securityCode,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{busiType,jdbcType=VARCHAR}, 
      #{sessionId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.bdex.dataexchange.usercenter.dao.model.SmsSeccodeLog">
    insert into t_sms_seccode_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        LOG_ID,
      </if>
      <if test="tocken != null">
        TOCKEN,
      </if>
      <if test="phoneNo != null">
        PHONE_NO,
      </if>
      <if test="securityCode != null">
        SECURITY_CODE,
      </if>
      <if test="sendTime != null">
        SEND_TIME,
      </if>
      <if test="busiType != null">
        BUSI_TYPE,
      </if>
      <if test="sessionId != null">
        SESSION_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createStaff != null">
        CREATE_STAFF,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null">
        UPDATE_STAFF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=DECIMAL},
      </if>
      <if test="tocken != null">
        #{tocken,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="securityCode != null">
        #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="busiType != null">
        #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
        #{updateStaff,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.bdex.dataexchange.usercenter.dao.model.SmsSeccodeLog">
    update t_sms_seccode_log
    <set>
      <if test="tocken != null">
        TOCKEN = #{tocken,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="securityCode != null">
        SECURITY_CODE = #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="busiType != null">
        BUSI_TYPE = #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        SESSION_ID = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
        UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.bdex.dataexchange.usercenter.dao.model.SmsSeccodeLog">
    update t_sms_seccode_log
    set TOCKEN = #{tocken,jdbcType=VARCHAR},
      PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      SECURITY_CODE = #{securityCode,jdbcType=VARCHAR},
      SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      BUSI_TYPE = #{busiType,jdbcType=VARCHAR},
      SESSION_ID = #{sessionId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{createStaff,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{updateStaff,jdbcType=VARCHAR}
    where LOG_ID = #{logId,jdbcType=DECIMAL}
  </update>
</mapper>