<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>商品录入</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/manage.css">
</head>
<body>
	<div class="container">
		<div class="m_con">
			<div class="title">商品类型</div>
			<table class="editTable">
				<tr>
					<td class="Hint" width="120">
						<span class="col_red">*</span>
						类型:
					</td>
					<td width="520">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="/API/">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint">
						API分类:
					</td>
					<td>
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="/条码查询/">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint tips">
						应用分类:
					</td>
					<td>
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="/汽车/">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
					
				</tr>
				<tr>
					<td></td>
					<td class="pt5"><span class="col_999 ">请选择商品分类</span></td>
				</tr>
				<tr>
					<td class="Hint">
						其他分类:
					</td>
					<td>
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="/热门数据/">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
			</table>
			<div class="title">API接口</div>
			<table class="editTable">
				<tr>
					<td class="Hint tips" width="120">
						<span class="col_red">*</span>
						接口:
					</td>
					<td width="520">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="/VIN车架号查询/">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="pt5"><span class="col_999 ">计费方式：按照请求次数统计</span></td>
				</tr>
			</table>
			<div class="title">商品基本信息</div>
			<table class="editTable">
				<tr>
					<td class="Hint tips" width="120">
						<span class="col_red">*</span>
						商品名称:
					</td>
					<td width="520">
						<div  class="input-group">
						  <input type="text" class="form-control" placeholder="VIN车架号查询详细版">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
					
				</tr>
				<tr>
					<td></td>
					<td class="pt5"><span class="col_999 ">请录入商品名称</span></td>
				</tr>
				<tr>
					<td class="Hint">
						<span class="col_red">*</span>
						商品副标题:
					</td>
					<td>
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="根据传递17位的车架号进行详细信息查询">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品标签:
					</td>
					<td>
						<span class="label label-primary">API</span>
						<span class="label label-warning">支持HTTPS</span>
						<span class="label label-warning">免费体验</span>
						<a href="" class="btn btn-default  btn-sm ml20" data-toggle="modal" data-target="#myModal2">请选择</a>
					</td>
					<td>
						
					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品图片:
					</td>
					<td>
						<span>
							<img src="" width="120" height="120">
						</span>
					</td>
				</tr>
				<tr >
					<td class="Hint"></td>
					<td>
						<div class="input-group" style="width: 50%; padding-top: 20px;">
						  <input  type="text" class="form-control" placeholder="">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="button">请选择</button>
					      </span>
						</div>
						<span class="col_red">说明：建议选择100*100规格图片</span>
					</td>
				</tr>
			</table>
			<div class="title">价格信息</div>
			<table class="table table-bordered" >
				<thead>
					<tr class="active">
						<th>套餐名称</th>
						<th>套餐价格(元)</th>
						<th>调用次数(次)</th>
						<th>有效期（天）</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
					</tr>
					<tr>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
					</tr>
					<tr>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
						<td>aaa</td>
					</tr>
				</tbody>			
			</table>
			<div class="clearfix"><a href="" class="btn btn-default btn-sm pull-right">新增套餐</a></div>
			<div class="title">套餐介绍</div>
			
			<!-- 下面实际应是编辑器 -->
			<div>
				<textarea class="form-control" onkeyup="checkLen(this)" rows="5" "></textarea>
			</div>
			
		</div>
	</div>

	<!-- API分类选择 modal-->
	<div class="m_modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog"  style="width:500px;" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">API分类选择</h4>
	      </div>
	      <div class="modal-body">
	        <div class="listTable">
		        <div class="tit">
		        	<h2>待选列表</h2>
		        	<div class="input-group">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-btn">
				        <button class="btn btn-default" type="button">查询</button>
				      </span>
					</div>
				</div>
				<div class="con" style="height:300px;">
					<table class="table listitem table-hover" >
						<tbody>
							<tr>
								<td>API分类</td>
							</tr>
							<tr class="warning">
								<td>应用分类</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>API分类</td>
							</tr>
							<tr>
								<td>应用分类</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
							<tr>
								<td>免费数据</td>
							</tr>
						</tbody>
					</table>
				</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary">确认</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 标签选择 modal-->
	<div class="m_modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document" style="width:900px;">
	    <div class="modal-content" >
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">配置标签</h4>
	      </div>
	      <div class="modal-body clearfix">
	      	<table class="editTable" style="float: left; width:40%;">
				<tr>
					<td class="Hint" width="120">
						标签名称:
					</td>
					<td width="220">
						  <input type="text" class="form-control" placeholder="支持HTTPS">
					</td>
				</tr>
				<tr>
					<td class="Hint ">
						颜色选择:
					</td>
					<td width="120">
						<select class="form-control">
							<optgroup>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</optgroup>
						</select>
					</td>
				</tr>
				<tr>
					<td class="Hint">
						商品标签:
					</td>
					<td>
						<span class="label label-primary">API</span>
						<span class="label label-warning">支持HTTPS</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
						<span class="label label-warning">免费体验</span>
					</td>
				</tr>
				
				
			</table>
	        <div class="listTable" style="float: right; width:50%;">
		        <div class="tit">
		        	<h2>快速选择</h2>
		        	<div class="input-group">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-btn">
				        <button class="btn btn-default" type="button">查询</button>
				      </span>
					</div>
				</div>
				<div class="con" style="height:150px;">
					<table class="table listitem table-hover" >
						<tbody>
							<tr>
								<td>API</td>
							</tr>
							<tr class="warning">
								<td>支持HTTPS</td>
							</tr>
							<tr>
								<td>免费体验</td>
							</tr>
							
						</tbody>
					</table>
				</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary">确认</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>



	<script src="../../static/js/jquery-1.12.4.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>