<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="icon" type="../static/image/png" href="../../META-INF/resources/webjars/images/favicon.png" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css" th:remove="all">
    <script type="text/javascript" src="../../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.js" th:remove="all"></script>

</head>
<body class="bgf1">
	<div th:fragment="custom_made" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel">个性化数据定制</h4>
                </div>
                <div class="modal-body">
                    <div class="date-box">
                        <div class="date-input"  id="needTielDiv">
                            <label>需求名称</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写需求名称"  id="needTiel">
                               <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
                              </div>
                        <div class="date-input"  id="needcontentDiv">
                            <label>需求描述</label><textarea class="form-control" rows="5" maxlength="624"  placeholder="请填写需求描述"  id="needcontent"></textarea>
                           <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
                        </div>
                        <div class="date-input"  id="lnkposenDiv">
                            <label>联系人</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系人"  id="lnkposen">
                            <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
                        </div>
                        <div class="date-input"  id="lnkphoneDiv">
                            <label>手机号码</label><input type="text" class="form-control" maxlength="11"  placeholder="请填写手机号码"  id="lnkphone">
                            <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
                          </div>
                        <div class="date-input"  id="lnkemailDiv">
                            <label>联系邮箱</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系邮箱"  id="lnkemail">
                             <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary wt120" th:onclick="'saveMadeData()'" id="commitData">提交</button>
                     <button type="button" class="btn btn-primary wt120" th:onclick="'hideMadeData()'" id="hidetData">取消</button>
                </div>
            </div>
        </div>
        <script src="../../static/js-busi/fragments/custom_made.js" th:src="@{/js-busi/fragments/custom_made.js}"></script>
    </div>
</body>
</html>