<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>

	<div class="footer" th:fragment="footer">
	    <div class="wrap1200 ptb40">
	        <div class="left floatL">
	            <img src="../../static/images/logo-footer.png"  th:href="@{/images/logo-footer.png}">
	            <p class="">本网站所列开源项目的中文版文档全部由Bootstrap中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布</p>
	        </div>
	        <div class="right floatR">
	            <div class="footer-item">
	                <h4>关于我们</h4>
	                <p>
	                    <a href="#">公司简介</a>
	                    <a href="#">新闻动人</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>服务与支持</h4>
	                <p>
	                    <a href="#">服务条款</a>
	                    <a href="#">常见问题</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>联系我们</h4>
	                <p>
	                    <a href="#">商务合作</a>
	                    <a href="#">在线咨询</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>官方微信</h4>
	                <p>
	                    <img src="../../static/images/wexin.jpg"  th:href="@{/images/wexin.jpg}">
	                </p>
	            </div>
	        </div>
	    </div>
	    <div class="copyright"> © 2016 版权所有 亚信科技(中国)有限公司 京ICP备11005544号-15 京公网安备 11010802022324号</div>
	</div>
</body>
</html>