<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:remove="all">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="icon" type="../static/image/png" href="../../META-INF/resources/webjars/images/favicon.png" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css" th:remove="all">
	
</head>
<body>
	<div class="header bg-white" th:fragment="header_mistake">
	    <div class="wrap1000">
	        <div class="logo floatL"><a th:href="@{/homePage/pageInit}"><img src="../static/images/manage_logo.png" th:src="@{/images/logo.png}" title="广州数据中心"></a></div>
	        <div class="register floatR col_orange">错误提示</div>
	    </div>
	</div>
	

</body>
</html>