<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:remove="all">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="icon" type="../static/image/png" href="../../static/images/favicon.png">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/global.css">
	<link rel="stylesheet" href="../../static/css/index.css">
</head>
<body class="bgf1">
	<div class="header" th:fragment="header">
		<!-- 搜索框 -->
	    <div th:replace="~{fragments/search_box :: search_box}"></div>
	    <div class="menu clearfix" id="head_menu">
	        <!--左侧边栏开始-->
	        <div class="sidebar floatL" id="head_sidebar">
	            <h3>全部商品<i class="glyphicon glyphicon-list menuIcon"></i></h3>
	            <ul th:class="${ifHiddenCatNav}" th:remove="body" style="display:none">
	                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
	            </ul>
	
	            <!--二级导航开始-->
	            <div class="sidebar-hidden" style="display: none">
	                <h4>金融服务</h4>
	                <div class="sidebar-link">
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                </div>

	            </div>
	            <!--二级导航结束-->
	        </div>
	        <!--左侧边栏结束-->
	        <!--菜单栏开始-->
	       	<div th:replace="~{fragments/navigation :: navigation}"></div>
	        <!--菜单栏结束-->
	    </div>
	</div>
</body>
</html>