<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script th:replace="~{fragments/sys_head :: sys_head"></script>
</head>
<body>
	<div th:replace="~{fragments/top :: top"></div>
	<div th:replace="~{fragments/header :: header"></div>
	<div layout:fragment="screen_content">
	    <!-- 主内容 -->
	    <div class="m10">
	        <p>这里是内容</p>
	    </div>
	</div>
	<div th:replace="~{fragments/footer :: footer"></div>
</html>