<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="icon" type="../static/image/png" href="../../META-INF/resources/webjars/images/favicon.png" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css" th:remove="all">
</head>
<body class="bgf1">
 <ul class="navbar floatL clearfix" th:fragment="navigation" id="head_navbar">
<!--       <li><a class="navigationBar" href="#" th:href="@{'/homePage/pageInit'}">首页</a> </li> -->
<!--       <li><a class="navigationBar" href="#" th:href="@{'/search/api'}">API</a> </li> -->
<!--       <li><a class="navigationBar" href="#" th:href="@{'/search/custom'}">定制数据</a> </li> -->
<!--       <li><a class="navigationBar" href="#" th:href="@{'/search/solution'}">解决方案</a> </li> -->
<!--       <li><a class="navigationBar" href="#">新闻动态</a> </li> -->
      <script type="text/javascript">
      $(function(){
    	  $.ajax({
  			url:WEB_ROOT+'/homePage/queryHeaderNav',
  			cache:false,
  			async:true,
  			dataType:'json',
  			success:function(data){
  				var html;
  				if(data.success){
  					var html='';
  					if(data.success){
  						$(data.searchNavList).each(function(i,d){
  							//html +='<li><a class="navigationBar" href='+WEB_ROOT+d.navLink+' target="_blank">'+d.navName+'</a>';
  							html +='<li><a class="navigationBar" href='+MALL_ROOT+d.navLink+' target="_blank">'+d.navName+'</a>';
  						});
  					}
  				}
  				$('#head_navbar').html(html);
  				$(".navigationBar").off().on('click',function(e){
    	    		  $(this).parents("li").addClass('active').siblings().removeClass("active");
    	    		  var url = $(this).attr('href');
//     	 		   	  $.cookie('gjs_navigation', url, {path : '/'});
    	 		   	  window.location.href=MALL_ROOT+url;
    	 		   	  e.preventDefault();
   	    	    });
  				var url = "";
  				if($("#catFirst").val()=="1"){
  					url =  "/search/api";
//   					$.cookie('gjs_navigation', "/search/api", {path : '/'});
  				}else if($("#catFirst").val()=="2"){
  					url =  "/search/custom";
//   					$.cookie('gjs_navigation', "/search/custom", {path : '/'});
  				}else if($("#catFirst").val()=="3"){
  					url =  "/search/solution";
//   					$.cookie('gjs_navigation', "/search/solution", {path : '/'});
  				}
//   				var url = $.cookie('gjs_navigation');
  				var thisUrl = window.location.pathname;
 	  	    	$(".navigationBar").each(function(){
 	  	    		if($(this).attr("href")==thisUrl){
 	  	    			$(this).parents("li").addClass('active');
 	  	    			return false;
 	  	    		}else if($(this).attr('href')==url){
 	  	    			$(this).parents("li").addClass('active');
 	  	    			return false;
 	  	    		}
 	  	    	});
  			  }
  	  		});
  		});
    	  
      </script>
  </ul>
  
</html>