<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head >
    <link rel="stylesheet" href="/webjars/css/bootstrap.css" th:remove="all">
    <link rel="stylesheet" href="/webjars/css/index.css" th:remove="all">
    <link rel="stylesheet" href="/webjars/component/bootstrap/js/bootstrap.min.js" th:remove="all"/>
    <link rel="stylesheet" href="/webjars/css/global.css" th:remove="all"/>
    <script src="/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
</head>
<body>


<div th:fragment="pager" class="pagelist" style="margin-top:0px;" >
    <script type="text/javascript" src="../../static/js-busi/common/pager.js" th:src="@{/js-busi/common/pager.js}"></script>
    <span data-toggle="pager" id="pagerId" data-count="" data-size="" data-currentindex="" ></span>
	<script th:inline="javascript">
        var total = '[[${pageInfo.count}]]';
	    var pageNum = '[[${pageInfo.pageNo}]]';
	    var pageSize = '[[${pageInfo.pageSize}]]';

// 	    if (typeof pagerClick === "undefined") {
// 	        pagerClick = function (index) {
// 	        }
// 	    }
// 	    $('#pagerId').pager({callback: pagerClick});
	</script>
</div>
</body>
</html>