<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="syshead">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
   	<title>广州数据交易</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/png" href="../../META-INF/resources/webjars/images/favicon.png" th:href="@{/webjars/images/favicon.png}">
    <link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css" th:href="@{/webjars/css/global.css}"/>
    <link type="text/css" rel="stylesheet" href="../../META-INF/resources/webjars/js/frameajax/frameajax.css" th:href="@{/webjars/js/frameajax/frameajax.css}"/>
    <link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css" th:href="@{/webjars/css/index.css}"/>
    <link rel="stylesheet" href="../../META-INF/resources/webjars/fonts/iconfont.css" th:href="@{/webjars/fonts/iconfont.css}">
    <!--<link rel="stylesheet" href="../../META-INF/resources/webjars/css/info.css"  th:href="@{/webjars/css/info.css}">-->
    <script th:inline="javascript">
        var WEB_ROOT = [[${#tools.mallDomain()}]];
        var MALL_ROOT = [[${#tools.mallDomain()}]];
        var MANAGE_ROOT = [[${#tools.managerDomain()}]];
        var staffInfoDTO = [[${session.staffInfoDTO}]];
    </script>
    <!-- js -->
    <script src="../../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script src="../../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/js/jquery.bootstrap.message.js" th:src="@{/webjars/js/jquery.bootstrap.message.js}"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/js/jquery.blockUI.js" th:src="@{/webjars/js/jquery.blockUI.js}"></script>
    <script type="text/javascript" src="../../META-INF/resources/webjars/js/frameajax/frameajax.js" th:src="@{/webjars/js/frameajax/frameajax.js}"></script>
   	<link rel="stylesheet" href="../../META-INF/resources/webjars/js/autocomplete/autocomplete.css" th:href="@{/webjars/js/autocomplete/autocomplete.css}">
	<script type="text/javascript" src="../../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/jquery-migrate/3.0.0/jquery-migrate.js" th:src="@{/webjars/jquery-migrate/3.0.0/jquery-migrate.min.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/js/autocomplete/autocomplete.js" th:src="@{/webjars/js/autocomplete/autocomplete.js}"></script>
	<script type="text/javascript" src="../../static/js-busi/search/searchUtil.js" th:src="@{/js-busi/search/searchUtil.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/jquery-cookie/1.4.1/jquery.cookie.js" th:src="@{/webjars/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../../static/js-busi/page/header.js" th:src="@{/js-busi/page/header.js}"></script>
    <script src="../../META-INF/resources/webjars/js/util.js" th:src="@{/webjars/js/util.js}"></script>
    <script src="../../META-INF/resources/webjars/js/jquery.bootstrap.message.js" th:src="@{/webjars/js/jquery.bootstrap.message.js}"></script>
    <!--[if lt IE 9]>
        <script src="../../META-INF/resources/webjars/respond/1.3.0/respond.min.js" th:src="@{/webjars/respond/1.3.0/respond.min.js}"></script>
        <script src="../../META-INF/resources/webjars/html5shiv/3.7.0/html5shiv.min.js" th:src="@{/webjars/html5shiv/3.7.0/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body class="bgf1" th:remove="all">
</body>
</html>