<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!-- 定义mall-web模块使用的公共资源 -->
<head th:fragment="syshead">
	<meta charset="UTF-8" th:remove="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all">
    <meta name="renderer" content="webkit" th:remove="all">
   	<title th:remove="all">广州数据交易</title>
    <script th:inline="javascript">
        var WEB_ROOT = [[${#tools.mallDomain()}]];
    </script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/jquery-migrate/3.0.0/jquery-migrate.js" th:src="@{/webjars/jquery-migrate/3.0.0/jquery-migrate.min.js}"></script>
	<script type="text/javascript" src="../../static/js-busi/search/searchUtil.js" th:src="@{/js-busi/search/searchUtil.js}"></script>
	<script type="text/javascript" src="../../META-INF/resources/webjars/jquery-cookie/1.4.1/jquery.cookie.js" th:src="@{/webjars/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../../static/js-busi/page/header.js" th:src="@{/js-busi/page/header.js}"></script>
</head>
<body th:remove="all">
</body>
</html>