<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="syshead">
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
   	<title>广州数据交易</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="../static/image/png" href="../static/images/favicon.png">
    <link rel="icon" type="../../static/image/png" href="../../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" href="../../static/component/bootstrap/css/bootstrap.css" th:href="@{/component/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/js/frameajax/frameajax.css" th:href="@{/js/frameajax/frameajax.css}"/>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
    <script th:inline="javascript">
        var WEB_ROOT = [[${#httpServletRequest.contextPath}]];
        var staffInfoDTO = [[${session.staffInfoDTO}]];
    </script>
    <!-- js -->
    <script src="../../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script src="../../static/component/bootstrap/js/bootstrap.min.js" th:src="@{/component/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.bootstrap.message.js" th:src="@{/js/jquery.bootstrap.message.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.blockUI.js" th:src="@{/js/jquery.blockUI.js}"></script>
    <script type="text/javascript" src="../../static/js/frameajax/frameajax.js" th:src="@{/js/frameajax/frameajax.js}"></script>
   	<link rel="stylesheet" href="../static/js/autocomplete/autocomplete.css" th:href="@{/js/autocomplete/autocomplete.css}">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../static/js/jquery.metadata.js" th:src="@{/js/jquery.metadata.js}"></script>
	<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/autocomplete/autocomplete.js" th:src="@{/js/autocomplete/autocomplete.js}"></script>
	<script type="text/javascript" src="../static/js-busi/search/searchUtil.js" th:src="@{/js-busi/search/searchUtil.js}"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src="../../static/js-busi/page/header.js" th:src="@{/js-busi/page/header.js}"></script>
    <script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
    <script src="../static/js/jquery.bootstrap.message.js" th:src="@{/js/jquery.bootstrap.message.js}"></script>
    <!--[if lt IE 9]>
        <script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
        <script src="../static/js/html5shiv.min.js" th:src="@{/js/html5shiv.min.js}"></script>
    <![endif]--> 
</head>
<body class="bgf1" th:remove="all">
</body>
</html>