<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">

</head>
<body>
	<div class="top" th:fragment="top">
	    <div class="wrap1200">
	        <div class="top-left floatL">
	            <span>欢迎来到广州数据中心</span>
	            <span>2017年4月20日&nbsp;&nbsp;12：00：30</span>
	        </div>
	        <div class="top-right floatR">
	            <a href="#"><b>请登录</b></a>
	            <a href="#">免费注册</a>
	            <i>|</i>
	            <a href="#">关注广数</a>
	            <a href="#">常见问题</a>
	            <a href="#">联系我们</a>
	        </div>
	    </div>
	</div>
</body>
</html>