<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
	<meta charset="UTF-8" th:remove="all">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" th:remove="all">
	<meta name="renderer" content="webkit" th:remove="all">
	<title th:remove="all">广州数据中心</title>
	<link rel="icon" type="../static/image/png" href="../../static/images/favicon.png" th:remove="all">
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/index.css" th:remove="all">
</head>
<body class="bgf1">
	<div class="top" th:fragment="top" id="mainTopDiv">
	    <div class="wrap1200 overflow-inherit clearfix">
	        <div class="top-left floatL">
	            <span>欢迎来到广州数据中心</span>
	            <span id="clockdate">2017年4月20日&nbsp;&nbsp;12：00：30</span>
	        </div>
	        <div class="top-right floatR" th:with="staffInfoDTO=${session.staffInfoDTO}">
	            <a href="#" th:href="${staffInfoDTO}?'#' : @{/login/pageInit}"><b th:text="${staffInfoDTO}? ${staffInfoDTO.staffId}:'请登录'">请登录</b></a>
	            <a th:text="${staffInfoDTO}? '退出':'免费注册'" href="#" th:href="${staffInfoDTO}?'#':@{/regist/pageInit}">免费注册</a>
	            <i>|</i>
                <a href="#" class="follow">关注广数<i class="glyphicon glyphicon-menu-down"></i>
                	<div class="guangshu"><i></i><img src="../static/images/wexin.jpg" th:src="@{/images/wexin.jpg}"></div>
            	</a>
	            <a href="#" th:href="@{/homePage/pageNewsInfolist?moduleId=108}">常见问题</a>
	            <a href="#" th:href="@{/gzbdex/contact}">联系我们</a>
 	        </div>
	    </div>
	</div>
</body>
</html>