
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494228115091'); /* IE9*/
  src: url('iconfont.eot?t=1494228115091#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494228115091') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494228115091') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494228115091#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before { content: "\e600"; }

.icon-wrong:before { content: "\e608"; }

.icon-star-outline:before { content: "\e634"; }

.icon-xingxing:before { content: "\e659"; }

.icon-dianhua:before { content: "\e607"; }

.icon-yaochi:before { content: "\e610"; }

.icon-mm:before { content: "\e601"; }

.icon-shoucang:before { content: "\e62e"; }

.icon-iconuser:before { content: "\e6a3"; }

.icon-shoucang1:before { content: "\e616"; }

.icon-youxiang:before { content: "\e640"; }

