<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:remove="all">
	<meta charset="UTF-8">
	<title>新闻资讯列表_广州数据交易</title>
	<link rel="stylesheet" href="../../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css"  th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/global.css"  th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/css/index.css"  th:remove="all">
	<link rel="stylesheet" href="../../META-INF/resources/webjars/fonts/iconfont.css"  th:remove="all">
    <link type="text/css" rel="stylesheet" href="../../META-INF/resources/webjars/css/info.css" th:href="@{/webjars/css/info.css}">
	
</head>
<body>
	<div th:fragment="rightNewslist">
		<script type="text/javascript"  th:inline="javascript">
			$(function(){
				queryRightNewslist('03','-1');
			});
			function queryRightNewslist(moduleType,modulePid){
				var url = basePath+'/homePage/queryRightNewslist';
				var params ={moduleType:moduleType,modulePid:modulePid}; //新闻资讯类型
				var callBack =function(data){
					$('#right_content').html(data);
				};
				$.appAjax({
					url:url,
					data:params,
					dataType:'html',
					cache:false,
					async:true,
					success:callBack
				});
			}
		</script>
		<div class="infoRight" id="right_content">
			<!--<div class="sidebarImg">
				<img src="" width="200" height="200">
			</div>-->
			<div  th:if="${resultList}" id="news_list" th:each="rs,status : ${resultList}" class="sidebarBox" style="border-top:none;">
				<h3 class="title">
					<a th:href="@{'/homePage/pageNewsInfolist?moduleId='+${rs.pageModuleVO.moduleId}}" class="pull-right more">查看全部 »</a>
					<span th:if="${rs.pageModuleVO}" th:text="${rs.pageModuleVO.moduleName}">行业资讯</span>
				</h3>
				<ul class="sideli" th:if="${rs.newsInfoList}" th:each="info :${rs.newsInfoList}" th:remove="all-but-first">
					<li><a th:href="@{'/homePage/newsDetail?infoId='+${info.infoId}}" target="_blank" th:text="${info.infoTitle}">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
				</ul>
			</div>
			<div class="sidebarBox" th:remove="all">
				<h3 class="title">
					<a href="" class="pull-right more">查看全部 »</a>
					平台公告
				</h3>
				<ul class="sideli">
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
				</ul>
			</div>
			<div class="sidebarBox" th:remove="all">
				<h3 class="title">
					<a href="" class="pull-right more">查看全部 »</a>
					平台活动
				</h3>
				<ul class="sideli">
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
				</ul>
			</div>
		
			<div class="sidebarBox" th:remove="all">
				<h3 class="title">
					<a href="" class="pull-right more">查看全部 »</a>
					常见问题
				</h3>
				<ul class="sideli">
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
					<li><a href="">如何才能完成一场高效的演讲？</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</body>
</html>