<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8" th:remove="all">
	<title>商品详情-数据定制</title>
	<link rel="stylesheet" href="../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:remove="all" >
	<link rel="stylesheet" href="../META-INF/resources/webjars/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/css/index.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/goods_details.css" th:href="@{/css/goods_details.css}">
	<script th:src="@{/js-busi/goods/goods_details.js}" src="../static/js-busi/goods/goods_details.js"></script>
	<script src="../static/js-busi/fragments/custom_made.js" th:src="@{/js-busi/fragments/custom_made.js}"></script>
</head>
<body>

	
	<iframe  width="100%"  frameborder=0 marginheight=0 marginwidth=0 scrolling=no height="36"  src="fragments/top.html" th:remove="all"></iframe>
	<div class="header" th:remove="all">
	    <div class="wrap1200 clearfix">
	        <div class="logo floatL"><img src="../static/images/logo.png" title="广州数据中心"></div>
	        <div class="search floatR">
	            <div class="search-input">
	                <input type="text">
	                <button class="btn btn-primary">搜索</button>
	            </div>
	            <div class="search-hot">
	                <a href="#" class="more floatR">更多&nbsp;&gt;</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">常用快递</a>
	                <a href="#">快递</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">全国车辆违章</a>
	                <a href="#">身份证实名认证</a>
	                <a href="#">短信API服务</a>
	                <a href="#">短信API服务</a>
	            </div>
	        </div>
	    </div>
	    <div class="menuBg seconav">
	    	<div class="menu clearfix">
		        <div class="sidebar floatL">
		            <h3>全部商品<i class="glyphicon glyphicon-list"></i></h3>
		            <ul class="hidden">
		                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
		            </ul>

		            <div class="sidebar-hidden" style="display: none">
		                <h4>金融服务</h4>
		                <div class="sidebar-link">
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                </div>

		                <div class="ad-list clearfix">
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                </div>
		            </div>
		            <!--二级导航结束-->
		        </div>
		        <!--左侧边栏结束-->

		        <!--菜单栏开始-->
		        <ul class="navbar floatL clearfix">
		            <li><a href="#">首页</a> </li>
		            <li><a href="#">API</a> </li>
		            <li class="active"><a href="#">定制数据</a> </li>
		            <li><a href="#">解决方案</a> </li>
		            <li><a href="#">新闻动态</a> </li>
		        </ul>
		        <!--菜单栏结束-->
	    	</div>
	    </div>
	</div>
    

	<div class="main"  layout:fragment="screen_content">
		<style>
			.bgf1{background:white}
		</style>
	
		<div class="classify">
			<i class="iconfont"></i>
			<span>当前位置：</span>
			<a href="#" th:each="ladderCat,ladderCatStat : ${ladderCatList}"><span th:text="${ladderCat.catName}">数据市场</span></a>
			<a href="" th:remove="all"><span>生活服务</span></a>
			<span class="col_999" th:remove="all">常用快递</span>
		</div>
		<!-- 隱藏域 -->
		<input type="hidden" th:attr="value=${gdsInfo.gdsId}" id="gdsId_detail"/>
		<input type="hidden" th:attr="value=${gdsInfo.catFirst}" id="catFirst_detail"/>
		<div class="gd_etails clearfix">
			<div class="gd_Left">
				<div class="gd_hd clearfix">
					<div class="imgBox">
						<span class="img" style="overflow: hidden;text-align: center">
							<img src="../static/images/img.jpg" th:src="${gdsInfo.gdsPic}">
						</span>
						<a class="active collect">
							<i class="glyphicon glyphicon-heart-empty" style="color:red"></i>收藏商品
							<em>（<font id="detail_count_collect">0</font>人气）</em>
						</a>
					</div>
					<div class="info ">
						<div class="info_hd clearfix">
							<div class="tit ">
								<h1 th:text="${gdsInfo.gdsName}">常用快递常用快递常用快递常用快递</h1>
								<p class="replenish" th:text="${gdsInfo.gdsSubtitle}">支持大多数快递公司支持大多数快递快递公司</p>
							</div>
							<div class="label_box ">
								<p th:each="gdsLabel,gdsLabelStat : ${gdsInfo.gdsLabelVOList}" th:text="${gdsLabel.labName}" th:style="'color:'+${gdsLabel.labColor}+';border-color:'+${gdsLabel.labColor}">免费体验</p>
								<p th:remove="all">API</p>
								<p th:remove="all">支持HTTPS</p>
								<p class="lable_blue" th:remove="all">
									<span>广交所</span>
									<i>接入服务商</i>
								</p>
							</div>
						</div>
						<div class="info_bd">
							<dl class="explain clearfix">
								<dt>数据描述：</dt>
								<dd th:text="${gdsInfo.dataDescription}">
									1、收集整理广州市大数据产业相关企业信息，重点信息包括：企业名称、大数据产业链类型、规模、主营业务等； 2、基于广州市地图信息系统，统计展示大数据分类企业数量（如按区域的整体统计、按大数据产业链类型的分类统计展示等）、具体单点企业信息展现（企业名称、大数据产业链类型、规模、主营业务等） 2、基于广州市地图信息系统，统计展示大数据分类企业数量（如按区域的整体统计、按大数据产业链类型的分类统计展示等）、具体单点企业信息展现（企业名称、大数据产业链类型、规模、主营业务等） 2、基于广州市地图信息系统，统计展示大数据分类企业数量（如按区域的整体统计、按大数据产业链类型的分类统计展示等）、具体单点企业信息展现（企业名称、大数据产业链类型、规模、主营业务等）
								</dd>
							</dl>
							<a class="btn btn-orange btn_rec_bg" data-toggle="modal" href="#myModal">
								定制数据
							</a>
							<a class="btn btn-primary btn_rec_bg" href="tencent://message/?uin=2065833797&Site=在线客服&Menu=yes">
								在线咨询
							</a>
							
						</div>
					</div>
				</div>
				<div class="gd_Tabs mt20" >
					<ul class="nav nav-tabs" id="tabContentUl">
						<li class="active"  th:each="tabContent,tabContentStat : ${gdsInfo.tabContentList}" th:attr="htmlFileId=${tabContent.tabContentId},proType=2" th:class="${tabContentStat.count}==1? 'active':''">
							<a href="#tab1"  data-toggle="tab" th:text="${tabContent.tabName}" th:href="'#tab'+${tabContentStat.count}">API</a></li>
						<li class="">
							<a href="#tab2"  data-toggle="tab" th:remove="all">错误代码参照</a></li>
						<li class="" th:remove="all">
							<a href="#tab3" data-toggle="tab" th:remove="all">实例代码</a></li>
						<li class="" th:remove="all">
							<a href="#tab4" data-toggle="tab" th:remove="all">套餐介绍</a></li>
					</ul>
					<div class="tab-content gd_info" id="tabContentDiv">
						<div class=" tab-pane fade active in" role="tabpanel" id="tab1" aria-labelledby="tab1"  th:each="tabContent,tabContentStat : ${gdsInfo.tabContentList}" th:class="${tabContentStat.count}==1? 'tab-pane fade active in':'tab-pane fade'" th:id="'tab'+${tabContentStat.count}">
							<ul class="piclist clearfix" th:remove="all">
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
								<li><img src="../static/images/img.jpg"></li>
							</ul>
						</div>
						<div class=" tab-pane fade" role="tabpanel" th:remove="all" id="tab2">
							<h3>系统错误代码参照2222：</h3>
							<table class="table table-bordered ">
								<thead>
									<tr class="active">
										<td>错误码22</td>
										<td>说明22</td>
										<td>旧版本22</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>100122</td>
										<td>错误的请求KEY22</td>
										<td>10122</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class=" tab-pane fade" role="tabpanel" th:remove="all" id="tab3">
							33
						</div>
						<div class=" tab-pane fade" role="tabpanel" id="tab4" th:remove="all">44</div>
					</div>
				</div>
				
			</div>
			<div class="gd_Right">
				<h3 class="gd_title">
					推荐接口/API
					<i></i>
				</h3>
				<div class="gd_list" id="recGdsList">
					<a href="" class="item">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证身份实名认证身份实名认证身份实名认证</dt>
							<dd class="dd">检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否姓名和身份证是否姓名和身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
				</div>
				<!--<h3 class="gd_title">-->
					<!--促销活动-->
					<!--<i></i>-->
				<!--</h3>-->
				<!--<div class="gd_sales">-->
					<!--<a href="" class="img">-->
						<!--<img src="../static/images/img.jpg">-->
					<!--</a>-->
					<!--<a href="" class="img">-->
						<!--<img src="../static/images/img.jpg">-->
					<!--</a>-->
				<!--</div>-->
			</div>
		</div>

		<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">个性化数据定制</h4>
					</div>
					<div class="modal-body">
						<div class="date-box">
							<div class="date-input"  id="needTielDiv">
								<label>需求名称</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写需求名称"  id="needTiel">
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写需求名称</span></p>
							</div>
							<div class="date-input"  id="needcontentDiv">
								<label>需求描述</label><textarea class="form-control" rows="5" maxlength="624"  placeholder="请填写需求描述"  id="needcontent"></textarea>
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写需求描述</span></p>
							</div>
							<div class="date-input"  id="lnkposenDiv">
								<label>联系人</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系人"  id="lnkposen">
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写联系人</span></p>
							</div>
							<div class="date-input"  id="lnkphoneDiv">
								<label>手机号码</label><input type="text" class="form-control" maxlength="11"  placeholder="请填写手机号码"  id="lnkphone">
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
							</div>
							<div class="date-input"  id="lnkemailDiv">
								<label>联系邮箱</label><input type="text" class="form-control" maxlength="128"  placeholder="请填写联系邮箱"  id="lnkemail">
								<p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请填写联系邮箱</span></p>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary wt120" th:onclick="'saveMadeData()'" id="commitData">提交</button>
						<button type="button" class="btn btn-primary wt120" th:onclick="'hideMadeDataModal()'" id="hidetData">取消</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="footer" th:remove="all">
	    <div class="wrap1200 ptb40">
	        <div class="left floatL">
	            <img width="160" src="../static/images/logo-footer.png" >
	            <p class="">本网站所列开源项目的中文版文档全部由Bootstrap中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布</p>
	        </div>
	        <div class="right floatR">
	            <div class="footer-item">
	                <h4>关于我们</h4>
	                <p>
	                    <a href="#">公司简介</a>
	                    <a href="#">新闻动人</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>服务与支持</h4>
	                <p>
	                    <a href="#">服务条款</a>
	                    <a href="#">常见问题</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>联系我们</h4>
	                <p>
	                    <a href="#">商务合作</a>
	                    <a href="#">在线咨询</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>官方微信</h4>
	                <p>
	                    <img src="../static/images/wexin.jpg">
	                </p>
	            </div>
	        </div>
	    </div>
	    <div class="copyright">© 2017 广州数据交易服务有限公司 粤ICP备16073970号 * 粤公网安备 44010502000357号</div>
	</div>
	<script src="../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
	<script src="../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:remove="all"></script>
</body>
</html>