<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8" th:remove="all">
	<title>商品详情-API</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:remove="all" >
	<link rel="stylesheet" href="../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../static/css/index.css" th:remove="all">
	<!--<link rel="stylesheet" href="../static/css/goods_details.css" th:href="@{/css/goods_details.css}">-->
	<!--<script th:src="@{/js-busi/goods/goods_details.js}" src="../static/js-busi/goods/goods_details.js"></script>-->
</head>
<body>

	<div class="top" th:remove="all">
	    <div class="wrap1200">
	        <div class="top-left floatL">
	            <span>欢迎来到广州数据中心</span>
	            <span>2017年4月20日&nbsp;&nbsp;12：00：30</span>
	        </div>
	        <div class="top-right floatR">
	            <a href="#"><b>请登录</b></a>
	            <a href="#">免费注册</a>
	            <i>|</i>
	            <a href="#">关注广数</a>
	            <a href="#">常见问题</a>
	            <a href="#">联系我们</a>
	        </div>
	    </div>
	</div>
	<div class="header" th:remove="all">
	    <div class="wrap1200 clearfix">
	        <div class="logo floatL"><img th:src="@{/images/logo.png}" src="../static/images/logo.png" title="广州数据中心"></div>
	        <div class="search floatR">
	            <div class="search-input">
	                <input type="text">
	                <button class="btn btn-primary">搜索</button>
	            </div>
	            <div class="search-hot">
	                <a href="#" class="more floatR">更多&nbsp;&gt;</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">常用快递</a>
	                <a href="#">快递</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">全国车辆违章</a>
	                <a href="#">身份证实名认证</a>
	                <a href="#">短信API服务</a>
	                <a href="#">短信API服务</a>
	            </div>
	        </div>
	    </div>
	    <div class="menuBg seconav">
	    	<div class="menu clearfix">
	        <!--左侧边栏开始-->
	        <div class="sidebar floatL">
	            <h3>全部商品<i class="glyphicon glyphicon-list"></i></h3>
	            <ul class="hidden">
	                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
	            </ul>

	            <!--二级导航开始-->
	            <div class="sidebar-hidden" style="display: none">
	                <h4>金融服务</h4>
	                <div class="sidebar-link">
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                </div>

	                <div class="ad-list clearfix">
	                    <div class="item floatL"></div>
	                    <div class="item floatL"></div>
	                    <div class="item floatL"></div>
	                </div>
	            </div>
	            <!--二级导航结束-->
	        </div>
	        <!--左侧边栏结束-->

	        <!--菜单栏开始-->
	        <ul class="navbar floatL clearfix">
	            <li><a href="#">首页</a> </li>
	            <li><a href="#">API</a> </li>
	            <li><a href="#">定制数据</a> </li>
	            <li><a href="#">解决方案</a> </li>
	            <li><a href="#">新闻动态</a> </li>
	        </ul>
	        <!--菜单栏结束-->
	    	</div>
	    </div>
	</div>

	<div class="main" layout:fragment="screen_content">
		<link rel="stylesheet" href="../static/css/goods_details.css" th:href="@{/css/goods_details.css}">
		<script th:src="@{/js-busi/goods/goods_details.js}" src="../static/js-busi/goods/goods_details.js"></script>
		<style>
			.bgf1{background:white}
		</style>
		<div class="classify">
			<i class="iconfont"></i>
			<span>当前位置：</span>
			<a href="#" th:each="ladderCat,ladderCatStat : ${ladderCatList}"><span th:text="${ladderCat.catName}">数据市场</span></a>
			<a href="" th:remove="all"><span>生活服务</span></a>
			<span class="col_999" th:remove="all">常用快递</span>
		</div>
		<div class="gd_etails clearfix">
			<div class="gd_Left">
				<div class="gd_hd clearfix">
					<div class="imgBox">
						<span class="img" style="overflow: hidden">
							<img src="../static/images/img.jpg" th:src="${gdsInfo.gdsPic}">
						</span>
						<a class="active collect">
							<i class="iconfont"></i>收藏商品
							<em>(XX人气）</em>
						</a>
					</div>
					<div class="info ">
						<div class="info_hd clearfix">
							<div class="tit ">
								<h1 th:text="${gdsInfo.gdsName}">常用快递常用快递常用快递常用快递</h1>
								<p class="replenish" th:text="${gdsInfo.gdsSubtitle}">支持大多数快递公司支持大多数快递快递公司</p>
							</div>
							<div class="label_box ">
								<p  th:each="gdsLabel,gdsLabelStat : ${gdsInfo.gdsLabelVOList}" th:text="${gdsLabel.labName}" th:style="'color:'+${gdsLabel.labColor}+';border-color:'+${gdsLabel.labColor}">免费体验</p>
								<p th:remove="all">API</p>
								<p th:remove="all">支持HTTPS</p>
								<p th:remove="all" class="lable_blue">
									<span>广交所</span>
									<i>接入服务商</i>
								</p>
							</div>
						</div>
						<div class="info_bd">
							<div class="inner">
								<span>数据ID：<b class="col_orange" th:text="${gdsInfo.apiId}">43</b><i></i></span>
								<span>接口状态：<b class="col_green">正常</b><i></i></span>
								<span>数据接入服务商：<b class="">广交所</b></span>
							</div>
							<div class="pirce">
								<h2>
									<small>￥</small>
									<span class="col_orange" th:text="${curGdsSku.packPriceStr}" id="gds_priceDisplay">299.00</span>
									<small th:text="'/'+${curGdsSku.packTimes}+'次'" id="gds_timesDisplay">/20000次</small>
								</h2>
								<p class="label label-success" ><i class="iconfont" th:text="'有效期'+${curGdsSku.packDay}+'天'" id="gds_dayDisplay">有效期120天</i></p>
								<!-- <p class="label label-info"><i class="iconfont"></i>有效期120天</p>
								<p class="label label-warning"><i class="iconfont"></i>有效期120天</p> -->
							</div>
							<ul class="norms clearfix">
								<li th:each="gdsSku,gdsSkuStat:${gdsInfo.gdsSkuVOList}" th:class="${gdsSku.ifHaveSel}" class="active">
									<a href="javascript:void(0)" th:attr="skuId=${gdsSku.skuId},packPriceStr=${gdsSku.packPriceStr},packPrice=${gdsSku.packPrice},packTimes=${gdsSku.packTimes},packDay=${gdsSku.packDay}" th:text="${gdsSku.skuName}" th:onclick="'changeGdsSku(this)'">
										0.00/10次
									</a>
								</li>
								<li th:remove="All"><a href="">套餐二</a></li>
								<li th:remove="All"><a href="">1000次</a></li>
							</ul>
							<a class="btn btn-orange btn_rec_bg">
								<i class="iconfont"></i>
								申请数据
							</a>
							<p class="sale">
								<small>价格高怎么办？</small>
								<a href="">申请更低价！</a>
							</p>
						</div>
					</div>
				</div>
				<div class="gd_Tabs mt20" >
					<ul class="nav nav-tabs" id="tabContentUl">
						<li class="active">
							<a href="#tab1"  data-toggle="tab" >API</a></li>
						<li class="">
							<a href="#tab2"  data-toggle="tab">错误代码参照</a></li>
						<li class="">
							<a href="#tab3" data-toggle="tab" >实例代码</a></li>
						<li class="" th:each="tabContent,tabContentStat : ${gdsInfo.tabContentList}" th:attr="'htmlFileId='+$tabContent.tabContentId+',proType=2'" >
							<a href="#tab4" data-toggle="tab" th:href="'#tab4-'+$tabContentStat.count" >套餐介绍</a>
						</li>
					</ul>
					<div class="tab-content gd_info" id="tabContentDiv">
						<div class=" tab-pane fade active in" role="tabpanel" id="tab1" aria-labelledby="tab1">
							<h3>接口名称描述：</h3>
							<table class="table table-bordered ">
								<tbody>
									<tr>
										<td>接口地址：</td>
										<td th:text="${gdsInfo.serviceVO.apiUrl}">test</td>
									</tr>
									<tr>
										<td>支持格式：</td>
										<td th:text="${gdsInfo.serviceVO.supportFormat}">json</td>
									</tr>
									<tr>
										<td>请求方式：</td>
										<td th:text="${gdsInfo.serviceVO.reqType}">post</td>
									</tr>
									<tr>
										<td>请求示例：</td>
										<td th:text="${gdsInfo.serviceVO.exampleUrl}">reqDemo</td>
									</tr>
									<tr>
										<td>在线测试：</td>
										<td><a href="javascript:void(0)" th:href="${gdsInfo.serviceVO.testTool}" target="_blank">在线测试工具</a> </td>
									</tr>
									<tr>
										<td>接口文档：</td>
										<td><a href="javascript:void(0)">下载接口文档</a> </td>
									</tr>
									<tr>
										<td>接口备注：</td>
										<td th:text="${gdsInfo.serviceVO.apiRemark}">XXX接口</td>
									</tr>
									<tr>
										<td colspan="2">请求参数说明：</td>
									</tr>
									<tr>
										<td colspan="2">
											<table>
												<thead class="table table-bordered">
													<tr class="active">
														<td>名称</td>
														<td>类型</td>
														<td>必填</td>
														<td>说明</td>
													</tr>
												</thead>
												<tbody>
													<tr th:each=" serviceInPara,serviceInParaStat: ${gdsInfo.serviceVO.serviceInParas}">
														<td th:text="${serviceInPara.inputId}">id</td>
														<td th:text="${serviceInPara.paraTypeName}">int</td>
														<td th:text="${serviceInPara.type == '01'}?'是':'否'">是</td>
														<td th:text="">主键</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td colspan="2">返回参数说明：</td>
									</tr>
									<tr>
										<td colspan="2">
											<table>
												<thead class="table table-bordered">
												<tr class="active">
													<td>名称</td>
													<td>类型</td>
													<td>说明</td>
												</tr>
												</thead>
												<tbody>
												<tr th:each="serviceOutPara,serviceOutParaStat : ${gdsInfo.serviceVO.serviceOutParas}">
													<td th:text="${serviceOutPara.outputId}">id</td>
													<td th:text="${serviceOutPara.paraTypeName}">int</td>
													<td th:text="">主键</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td colspan="2">返回示例：</td>
									</tr>
									<tr>
										<td colspan="2"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class=" tab-pane fade" role="tabpanel" id="tab2">
							<h3>服务级错误码参照（error_code）：</h3>
							<table class="table table-bordered ">
								<thead>
									<tr class="active">
										<td>错误码</td>
										<td>说明</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="serviceError,serviceErrorStat:${gdsInfo.serviceVO.serviceServiceErrores}">
										<td th:text="${serviceError.errorId}">100122</td>
										<td th:text="${serviceError.errorMsg}">错误的请求KEY22</td>
									</tr>
								</tbody>
							</table>
							<h3>系统级错误码参照（error_code）：</h3>
							<table class="table table-bordered ">
								<thead>
								<tr class="active">
									<td>错误码</td>
									<td>说明</td>
									<td>旧版本</td>
								</tr>
								</thead>
								<tbody>
								<tr th:each="systemError,systemErrorStat:${gdsInfo.serviceVO.systemServiceErrores}">
									<td th:text="${systemError.errorId}">100122</td>
									<td th:text="${systemError.errorMsg}">错误的请求KEY22</td>
									<td th:text="${systemError.version}">101</td>
								</tr>
								</tbody>
							</table>
							<h3>错误码格式说明（示例：200201）：</h3>
							<table class="table table-bordered ">
								<tbody>
								<tr>
									<td>2</td>
									<td>002</td>
									<td>01</td>
								</tr>
								<tr>
									<td>服务级错误（1为系统级错误）</td>
									<td>服务模块代码（即数据ID）</td>
									<td>具体错误代码</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class=" tab-pane fade" role="tabpanel" id="tab3">
							<h3>完整教学代码示例：</h3>
							<table class="table table-bordered ">
								<thead>
								<tr class="active">
									<td>语言</td>
									<td>标题</td>
									<td>提供者</td>
									<td>时间</td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>PHP</td>
									<td>身份证实名认证示例</td>
									<td>providerName</td>
									<td>2017-04-26 16:10:59</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class=" tab-pane fade" role="tabpanel" id="tab4" th:each="tabContent,tabContentStat : ${gdsInfo.tabContentList}" th:id="'tab4-'+$tabContentStat.count">44</div>
					</div>
				</div>
				
			</div>
			<div class="gd_Right">
				<h3 class="gd_title">
					推荐接口/API
					<i></i>
				</h3>
				<div class="gd_list" id="recGdsList">
					<a href="" class="item" th:remove="all">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证身份实名认证身份实名认证身份实名认证</dt>
							<dd class="dd">检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否一致检测姓名和身份证是否姓名和身份证是否姓名和身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item" th:remove="all">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item" th:remove="all">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
					<a href="" class="item" th:remove="all">
						<span class="img"><img src="../static/images/img.jpg"></span>
						<dl>
							<dt class="dt">身份实名认证</dt>
							<dd class="dd">检测姓和身份身份证是否一致</dd>
						</dl>
					</a>
				</div>
				<h3 class="gd_title">
					促销活动
					<i></i>
				</h3>
				<div class="gd_sales">
					<a href="" class="img">
						<img src="../static/images/img.jpg">
					</a>
					<a href="" class="img">
						<img src="../static/images/img.jpg">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" th:remove="all">
    <div class="wrap1200 ptb40">
        <div class="left floatL">
            <img src="../static/images/logo-footer.png" >
            <p class="">本网站所列开源项目的中文版文档全部由Bootstrap中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布</p>
        </div>
        <div class="right floatR">
            <div class="footer-item">
                <h4>关于我们</h4>
                <p>
                    <a href="#">公司简介</a>
                    <a href="#">新闻动人</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>服务与支持</h4>
                <p>
                    <a href="#">服务条款</a>
                    <a href="#">常见问题</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>联系我们</h4>
                <p>
                    <a href="#">商务合作</a>
                    <a href="#">在线咨询</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>官方微信</h4>
                <p>
                    <img src="../static/images/wexin.jpg">
                </p>
            </div>
        </div>
    </div>
    <div class="copyright"> © 2016 版权所有 亚信科技(中国)有限公司 京ICP备11005544号-15 京公网安备 11010802022324号</div>
</div>
	<script src="../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>