<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>商品详情</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/global.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/goods_details.css">
	<link rel="stylesheet" href="../static/fonts/iconfont.css">

</head>
<body>
	
		<div class="top">
		    <div class="wrap1200">
		        <div class="top-left floatL">
		            <span>欢迎来到广州数据中心</span>
		            <span>2017年4月20日&nbsp;&nbsp;12：00：30</span>
		        </div>
		        <div class="top-right floatR">
		            <a href="#"><b>请登录</b></a>
		            <a href="#">免费注册</a>
		            <i>|</i>
		            <a href="#">关注广数</a>
		            <a href="#">常见问题</a>
		            <a href="#">联系我们</a>
		        </div>
		    </div>
		</div>
		<div class="header">
		    <div class="wrap1200 clearfix">
		        <div class="logo floatL"><img src="../static/images/logo.png" title="广州数据中心"></div>
		        <div class="search floatR">
		            <div class="search-input">
						<div id="siteSearch">
						<!-- <div class="autocomplete-container" style="height: 44px; width: 640px;">
							<input id="searchTxt" autocomplete="off" name="query" placeholder="Search" maxlength="255" class="autocomplete-input" style="width: 500px; height: 44px; border-radius: 0;" type="text">
							<div class="proposal-box" style="width: 500px; top: 44px;">
							<ul class="proposal-list"><li class="proposal"><span class="search-val">衣服</span><span class="search-num">搜索约100个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约10个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li><li class="proposal"><span class="search-val">裤子</span><span class="search-num">搜索约1000个结果</span></li></ul></div>
							<div class="btn btn-primary btn_rec" style="height: 44px; line-height:30px;width:110px; font-size: 16px;">搜索</div>
						</div> -->
						</div>
		                <!--<input type="text">
		                <button class="btn btn-primary">搜索</button>
		                <ul class="search_result">
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	<li><a href="">搜索结果</a></li>
		                	
		                </ul>-->
		            </div>
		            <div class="search-hot">
		                <a href="#" class="more floatR">更多&nbsp;&gt;</a>
		                <a href="#">手机号码归属地</a>
		                <a href="#">常用快递</a>
		                <a href="#">快递</a>
		                <a href="#">手机号码归属地</a>
		                <a href="#">全国车辆违章</a>
		                <a href="#">身份证实名认证</a>
		                <a href="#">短信API服务</a>
		                <a href="#">短信API服务</a>
		            </div>
		        </div>
		    </div>
		    <div class="menuBg seconav">
		    	<div class="menu clearfix">
		        <!--左侧边栏开始-->
		        <div class="sidebar floatL">
		            <h3>全部商品<i class="glyphicon glyphicon-list"></i></h3>
		            <ul class="hidden">
		                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
		                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
		            </ul>

		            <!--二级导航开始-->
		            <div class="sidebar-hidden" style="display: none">
		                <h4>金融服务</h4>
		                <div class="sidebar-link">
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                    <a href="#">快递在线下单</a>
		                    <a href="#">名片识别</a>
		                    <a href="#">条码查询</a>
		                    <a href="#">万能小哥</a>
		                    <a href="#">专利查询</a>
		                    <a href="#">全国违章直连查询</a>
		                    <a href="#">H5在线电影票</a>
		                    <a href="#">常用快递</a>
		                </div>

		                <div class="ad-list clearfix">
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                    <div class="item floatL"></div>
		                </div>
		            </div>
		            <!--二级导航结束-->
		        </div>
		        <!--左侧边栏结束-->

		        <!--菜单栏开始-->
		        <ul class="navbar floatL clearfix">
		            <li><a href="#">首页</a> </li>
		            <li><a href="#">API</a> </li>
		            <li><a href="#">定制数据</a> </li>
		            <li><a href="#">解决方案</a> </li>
		            <li><a href="#">新闻动态</a> </li>
		        </ul>
		        <!--菜单栏结束-->
		    	</div>
		    </div>
		</div>
	

	<div class="main">
		<div class="classify edit">
			<i class="iconfont"></i>
			<span>所有分类：</span>
			<a href=""><em>其他分类:</em><span>数据市场</span><i class="close">×</i></a>
			<a href=""><em>其他分类:</em><span>生活服务</span><i class="close">×</i></a>
		</div>
		<div class="gl_group">
			<div class="gl_items">
				<div class="hd">
					API分类：
				</div>
				<div class="bd selected">
					<div class="bdheight">
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
					</div>
				</div>
				<div class="fo">
					
						<a href="" class="btn btn_rec btn_more selected">
							更多
							<i class="glyphicon glyphicon-menu-down"></i>
						</a>
					
				</div>
			</div>
			<div class="gl_items">
				<div class="hd">
					应用分类：
				</div>
				<div class="bd ">
					<div class="bdheight">
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
					</div>
				</div>
				<div class="fo ">
					<a href="" class="btn btn_rec btn_more tr_icon ">
						更多
						<i class="glyphicon glyphicon-menu-right"></i>
					</a>
				</div>
			</div>
			<div class="gl_items">
				<div class="hd">
					应用分类：
				</div>
				<div class="bd selected">
					<div class="bdheight">
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
						<a href="" >金融服务</a>
						<a href="" >金融服务</a>
						<a href="" >生活常用</a>
				</div>	
				</div>	
				<div class="fo">
					<a href="" class="btn btn_rec btn_more tr_icon selected">
						更多
						<i class="glyphicon glyphicon-menu-down"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="gl_list">
			<div class="filter clearfix">
				<ul>
					<li><a href="">最新</a></li>
					<li class="active">
						<a href="">最热
						<i class="glyphicon glyphicon-arrow-up"></i>
						<i class="glyphicon glyphicon-arrow-down"></i>

						</a>
					</li>
				</ul>
				<p class="pull-right pr10">为您找到<b class="col_orange">1234</b>个结果</p>
			</div>
			<div class="goodslist clearfix">
				<ul >
					<li>
						<div class="glist_items">
							<div class="collect active">
								<span class="bg"></span>
								<i class="iconfont icon-xingxing"></i>
							</div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称最长配置十四字我|是多余的文字</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>49999999.00</strong>
									<small>/1000000000000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次首次申请赠送50次首次申请赠送50次首次申请赠送50次首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
					<li>
						<div class="glist_items">
							<div class="collect"><span class="bg"></span><i class="iconfont icon-xingxing"></i></div>
							<div class="pic">
								<img src="">
							</div>
							<div class="tit">我是商品名称</div>
							<div class="info">
								<div class="pirce">
									<small>￥</small>
									<strong>499.00</strong>
									<small>/10000次</small>
								</div>
								<div class="sale">
									首次申请赠送50次
								</div>
								<a href="" class="btn btn-primary btn_rec">
									申请数据
								</a> 
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="pagelist">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				    <li >
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">上一页</span>
				      </a>
				    </li>
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">下一页</span>
				      </a>
				    </li>
				    <div class="pageskip">
				  	<span class="pr10">到第<input type="text" class="pageskip_box">页</span>
				  	<a href="" class="btn btn-default  btn_rec btn-sm">确定</a>
				  </div>
				  </ul>
				  
				</nav>
			</div>
		</div>
	</div>
	
	<div class="footer">
	    <div class="wrap1200 ptb40">
	        <div class="left floatL">
	            <img src="../static/images/logo-footer.png" >
	            <p class="">本网站所列开源项目的中文版文档全部由Bootstrap中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布</p>
	        </div>
	        <div class="right floatR">
	            <div class="footer-item">
	                <h4>关于我们</h4>
	                <p>
	                    <a href="#">公司简介</a>
	                    <a href="#">新闻动人</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>服务与支持</h4>
	                <p>
	                    <a href="#">服务条款</a>
	                    <a href="#">常见问题</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>联系我们</h4>
	                <p>
	                    <a href="#">商务合作</a>
	                    <a href="#">在线咨询</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>官方微信</h4>
	                <p>
	                    <img src="../static/images/wexin.jpg">
	                </p>
	            </div>
	        </div>
	    </div>
	    <div class="copyright"> © 2016 版权所有 亚信科技(中国)有限公司 京ICP备11005544号-15 京公网安备 11010802022324号</div>
	</div>
	<script src="../static/js/jquery-1.12.4.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/js/autocomplete/autocomplete.css" th:href="@{/js/autocomplete/autocomplete.css}">
	<script type="text/javascript" src="../static/js/jquery.metadata.js" ></script>
	<script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js" ></script>
	<script type="text/javascript" src="../static/js/autocomplete/autocomplete.js" ></script>
	<script type="text/javascript" src="../static/js-busi/search/searchUtil.js" ></script>	
</body>
</html>