<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
	<meta charset="UTF-8">
	<title>新闻资讯列表_广州数据交易</title>
	<link rel="icon" type="image/x-icon" href="../META-INF/resources/webjars/images/favicon.png" th:remove="all">
    <link rel="bookmark" href="../META-INF/resources/webjars/images/favicon.png" type="image/x-icon" th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css"  th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/css/global.css"  th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/css/index.css"  th:remove="all">
	<link rel="stylesheet" href="../META-INF/resources/webjars/fonts/iconfont.css"  th:remove="all">
    <link type="text/css" rel="stylesheet" href="../META-INF/resources/webjars/css/info.css" th:href="@{/webjars/css/info.css}"/>
	<script src="../static/js-busi/page/infoNewslist.js" th:src="@{/js-busi/page/infoNewslist.js}"></script>
    <script type="text/javascript" src="../static/js-busi/common/pager.js" th:src="@{/js-busi/common/pager.js}"></script>
	
</head>
<body>
	<div class="top" th:remove="all">
	    <div class="wrap1200">
	        <div class="top-left floatL">
	            <span>欢迎来到广州数据中心</span>
	            <span>2017年4月20日&nbsp;&nbsp;12：00：30</span>
	        </div>
	        <div class="top-right floatR">
	            <a href="#"><b>请登录</b></a>
	            <a href="#">免费注册</a>
	            <i>|</i>
	            <a href="#">关注广数</a>
	            <a href="#">常见问题</a>
	            <a href="#">联系我们</a>
	        </div>
	    </div>
	</div>
	<div class="header" th:remove="all">
	    <div class="wrap1200 clearfix">
	        <div class="logo floatL"><img src="../static/images/logo.png" title="广州数据中心"></div>
	        <div class="search floatR">
	            <div class="search-input">
	                <input type="text">
	                <button class="btn btn-primary">搜索</button>
	            </div>
	            <div class="search-hot">
	                <a href="#" class="more floatR">更多&nbsp;&gt;</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">常用快递</a>
	                <a href="#">快递</a>
	                <a href="#">手机号码归属地</a>
	                <a href="#">全国车辆违章</a>
	                <a href="#">身份证实名认证</a>
	                <a href="#">短信API服务</a>
	                <a href="#">短信API服务</a>
	            </div>
	        </div>
	    </div>
	    <div class="menuBg seconav">
	    	<div class="menu clearfix">
	        <!--左侧边栏开始-->
	        <div class="sidebar floatL">
	            <h3>全部商品<i class="glyphicon glyphicon-list"></i></h3>
	            <ul class="hidden">
	                <li><a href="#"><i>&rsaquo;</i>金融理财金融理财金融理财金融理财金融理财</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>交通运输</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>气象环保</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>生活服务</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>时空数据</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>健康医疗</a> </li>
	                <li><a href="#"><i>&rsaquo;</i>更多服务</a> </li>
	            </ul>

	            <!--二级导航开始-->
	            <div class="sidebar-hidden" style="display: none">
	                <h4>金融服务</h4>
	                <div class="sidebar-link">
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                    <a href="#">快递在线下单</a>
	                    <a href="#">名片识别</a>
	                    <a href="#">条码查询</a>
	                    <a href="#">万能小哥</a>
	                    <a href="#">专利查询</a>
	                    <a href="#">全国违章直连查询</a>
	                    <a href="#">H5在线电影票</a>
	                    <a href="#">常用快递</a>
	                </div>

	                <div class="ad-list clearfix">
	                    <div class="item floatL"></div>
	                    <div class="item floatL"></div>
	                    <div class="item floatL"></div>
	                </div>
	            </div>
	            <!--二级导航结束-->
	        </div>
	        <!--左侧边栏结束-->

	        <!--菜单栏开始-->
	        <ul class="navbar floatL clearfix">
	            <li><a href="#">首页</a> </li>
	            <li><a href="#">API</a> </li>
	            <li><a href="#">定制数据</a> </li>
	            <li><a href="#">解决方案</a> </li>
	            <li><a href="#">新闻动态</a> </li>
	        </ul>
	        <!--菜单栏结束-->
	    	</div>
	    </div>
	</div>
	

	<div class="main" layout:fragment="screen_content">
		<input type="hidden" id="news_moduleId" th:value="${moduleId}"/>
		<div class="info clearfix pt20">
			<div class="infoLeft">
				<div class="infoLeft_inner" id="info_listitem">
					<div class="title">
						<i class="glyphicon glyphicon-list-alt"></i><span th:text="${moduleName} != null ? ${moduleName}: '新闻动态'">新闻动态</span>
					</div>
					<div class="con" th:remove="all-but-first" th:if="${pageInfo}">
						<div class="info_item" th:each="rs : ${pageInfo.result}">
							<dl >
								<dt>
									<label class="label label-default" th:text="${rs.infoType}">行业新闻</label>
									<a style="margin-left:10px" th:href="@{'/homePage/newsDetail?infoId='+${rs.infoId}}" target="_blank" th:text="${rs.infoTitle}">
										大数据揭秘：视频数据的“火眼金睛”
									</a>
								</dt>
								<dd th:infoId="${rs.infoId}" th:infoUrl="${rs.infoUrl}">我们身处一个大数据的时代，视频数据的爆炸性增长是这个时代的重要特征之一。“如何让计算机看懂视频的内容，实现对海量视频数据的检索和分析是有效管理和利用视频大数据的关键。”中国科学院自动化研究所研究员王金.</dd>
							</dl>
							<div class="info_panel">
								<span class="pr20">发布方:广州数据交易：www.gzbdex.com</span>
								<span>发布时间：<span th:text="${#dates.format(rs.pubTime, 'yyyy-MM-dd')}">2017-04-17</span></span>
							</div>
						</div>
						<div class="info_item">
							<dl >
								<dt>
								<label class="label label-default">行业新闻</label>
									大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”大数据揭秘：视频数据的“火眼金睛”
									
								</dt>
								<dd>我们身处一个大数据的时代，视频数据的爆炸性增长是这个时代的重要特征之一。“如何让计算机看懂视频的内容，实现对海量视频数据的检索和分析是有效管理和利用视频大数据的关键。”中国科学院自动化研究所研究员王金们身处一个大数据的时代，视频数据的爆炸性增长是这个时代的重要特征之一。“如何让计算机看懂视频的内容，实现对海量视频数据的检索和分析是有效管理和利用视频大数据的关键。”中国科学院自动化研究所研究员王金们身处一个大数据的时代，视频数据的爆炸性增长是这个时代的重要特征之一。“如何让计算机看懂</dd>
							</dl>
							<div class="info_panel">
								<span class="pr20">发布方:广州数据交易：www.gzbdex.com</span>
								<span >发布时间:2017-04-17</span>
							</div>
						</div>
					</div>
					<!-- 分页-->
					<div th:replace="~{fragments/pager :: pager}"></div>
					<div class="pagelist" th:remove="all">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li >
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div th:replace="~{home/rightNewslist :: rightNewslist}"></div>
			<div class="infoRight" th:remove="all">
				<div class="sidebarImg">
					<img src="" width="200" height="200">
				</div>
				<!-- <div class="sidebarCollect">
					<ul class="sideli">
						<li><a href=""><i class="glyphicon glyphicon-leaf"></i>行业资讯</a></li>
						<li><a href=""><i class="glyphicon glyphicon-leaf"></i>平台公告</a></li>
						<li><a href=""><i class="glyphicon glyphicon-leaf"></i>平台活动</a></li>
						<li><a href=""><i class="glyphicon glyphicon-leaf"></i>常见问题</a></li>
					</ul>
				</div> -->
				<div class="sidebarBox" style="border-top:none;">
					<h3 class="title">
						<a href="" class="pull-right more">查看全部 »</a>
						行业资讯
					</h3>
					<ul class="sideli">
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
					</ul>
				</div>
				<div class="sidebarBox">
					<h3 class="title">
						<a href="" class="pull-right more">查看全部 »</a>
						平台公告
					</h3>
					<ul class="sideli">
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
					</ul>
				</div>
				<div class="sidebarBox">
					<h3 class="title">
						<a href="" class="pull-right more">查看全部 »</a>
						平台活动
					</h3>
					<ul class="sideli">
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
					</ul>
				</div>

				<div class="sidebarBox">
					<h3 class="title">
						<a href="" class="pull-right more">查看全部 »</a>
						常见问题
					</h3>
					<ul class="sideli">
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
						<li><a href="">如何才能完成一场高效的演讲？</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" th:remove="all">
	    <div class="wrap1200 ptb40">
	        <div class="left floatL">
	            <img width="160" src="../static/images/logo-footer.png" >
	            <p class="">本网站所列开源项目的中文版文档全部由Bootstrap中文网成员翻译整理，并全部遵循 CC BY 3.0协议发布</p>
	        </div>
	        <div class="right floatR">
	            <div class="footer-item">
	                <h4>关于我们</h4>
	                <p>
	                    <a href="#">公司简介</a>
	                    <a href="#">新闻动人</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>服务与支持</h4>
	                <p>
	                    <a href="#">服务条款</a>
	                    <a href="#">常见问题</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>联系我们</h4>
	                <p>
	                    <a href="#">商务合作</a>
	                    <a href="#">在线咨询</a>
	                    <a href="#">友情链接</a>
	                    <a href="#">招聘</a>
	                </p>
	            </div>
	            <div class="footer-item">
	                <h4>官方微信</h4>
	                <p>
	                    <img src="../static/images/wexin.jpg">
	                </p>
	            </div>
	        </div>
	    </div>
	    <div class="copyright">© 2017 广州数据交易服务有限公司 粤ICP备16073970号 * 粤公网安备 44010502000357号</div>
	</div>
	<script src="../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:remove="all"></script>
	<script src="../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:remove="all"></script>
</body>
</html>