<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>广州数据中心_用户登录</title>
    <link rel="icon" type="../../static/image/png" href="../static/images/favicon.png" th:type="@{/image/png}" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
    <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <script src="../static/js/jquery-1.12.4.js" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js-busi/login/login.js" th:src="@{/js-busi/login/login.js}"></script>
    <script type="text/javascript">
        var WEB_ROOT = '[[${#httpServletRequest.contextPath}]]';
    </script>
</head>
<body  class="bg-gray32">
<div class="header bg-white">
    <div class="wrap1000">
        <div class="logo floatL"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" title="广州数据中心"></div>
        <div class="register floatR">还没有广数账号？ <a href="/regist/pageInit">立即注册</a></div>
    </div>
</div>
<div class="main bg-col01">
    <div class="wrap1000 login-banner">
        <div class="left floatL">
            <img src="../static/images/login-banner.jpg" th:src="@{/images/login-banner.jpg}">
        </div>
        <div class="right floatR">
            <h2>用户登录</h2>

            <!--error-tip可见或不可见方式请用visibility-->
            <p class="error-tip" style="visibility: hidden;" id="msgvalid"><i class="icon iconfont icon-cuowu"></i><span>账号与密码输入不匹配</span></p>

            <div class="login-input">
                <input type="text" class="form-control" placeholder="请输入手机号或账户名" id="STAFF_ID" onfocus="hiddenmsg();">
                <label><i class="icon iconfont icon-iconuser"></i></label>
            </div>
            <div class="login-input">
                <input type="password" class="form-control" placeholder="请输入密码" id="LOGIN_PASSWORD" onfocus="hiddenmsg();">
                <label><i class="icon iconfont icon-mm"></i></label>
            </div>
            <div class="login-input login-code">
                <input type="text" class="form-control" placeholder="请输入验证码" maxlength="4" id="verifyCode" onfocus="hiddenmsg();">
                <label><i class="icon iconfont icon-yaochi"></i></label>
                <div class="code"><img id="check_img" src="" style="width:100%;height:100%;"/></div>
            </div>
            <div class="login-input">
                <button class="btn btn-primary" id="bLoginSubmit">登录</button>
            </div>
            <div class="login-link">
                <a href="#" class="floatR">忘记密码</a>
                <p>还没有广数账号，<a href="/regist/pageInit">立即注册</a></p>
            </div>
        </div>
    </div>
</div>

<div class="footer bg-white">
    <div class="wrap1000 ptb30">
        <div class="right floatR">
            <dl>
                <dt><i class="icon iconfont icon-dianhua"></i>技术及平台支持</dt>
                <dd><strong>020-38617619</strong></dd>
            </dl>
            <dl>
                <dt><i class="icon iconfont icon-youxiang"></i>公司邮箱</dt>
                <dd><strong>service@gzbdex.com</strong></dd>
            </dl>
        </div>
        <div class="left floatL ">
            <div class="footer-item">
                <h4>关于我们</h4>
                <p>
                    <a href="#">公司简介</a>
                    <a href="#">新闻动人</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>服务与支持</h4>
                <p>
                    <a href="#">服务条款</a>
                    <a href="#">常见问题</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>联系我们</h4>
                <p>
                    <a href="#">商务合作</a>
                    <a href="#">在线咨询</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>官方微信</h4>
                <p>
                    <img src="../static/images/wexin.jpg" th:src="@{/images/wexin.jpg}">
                </p>
            </div>
        </div>
    </div>
    <div class="copyright"> © 2016 版权所有 亚信科技(中国)有限公司 京ICP备11005544号-15 京公网安备 11010802022324号</div>
</div>
</body>
</html>