<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>广州数据中心_没有权限</title>
    <link rel="icon" type="image/x-icon" href="../META-INF/resources/webjars/images/favicon.png" th:href="@{/webjars/images/favicon.png}">
    <link rel="bookmark" href="../META-INF/resources/webjars/images/favicon.png" type="image/x-icon" th:href="@{/webjars/images/favicon.png}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css"  th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body  class="bgf1">
<div class="header bg-white">
    <div class="wrap1000">
        <div class="logo floatL"><a th:href="@{/homePage/pageInit}"><img src="../static/images/manage_logo.png" th:src="@{/images/logo.png}" title="广州数据中心"></a></div>
        <div class="register floatR col_orange">错误提示</div>
    </div>
</div>
<div class="wrap1200">
    <div class="text-center" style="margin-top: 12%;">
        <h1>您没有访问权限哟~哟切克闹</h1>
        <p class="mt20">I'm sorry, you do not have Access Permissions</p>
    </div>
</div>
<div class="footer bg-white" style="position: absolute;bottom: 0;left: 0; width: 100%;">
    <div class="wrap1000 ptb30">
        <div class="right floatR">
            <dl>
                <dt><i class="icon iconfont icon-dianhua"></i>技术及平台支持</dt>
                <dd><strong>020-38617619</strong></dd>
            </dl>
            <dl>
                <dt><i class="icon iconfont icon-youxiang"></i>公司邮箱</dt>
                <dd><strong>service@gzbdex.com</strong></dd>
            </dl>
        </div>
        <div class="left floatL ">
        <div class="footer-item">
                <h4>关于我们</h4>
                 <p>
                        <a href="#" th:href="@{/homePage/company}">公司简介</a>
                        <a href="#" th:href="@{/homePage/pageNewsInfolist?moduleId=108}">新闻动态</a>
                        <a>了解我们</a> 
                    </p>
            </div>
            <div class="footer-item">
                <h4>服务与支持</h4>
                  <p> 
                        <a href="#" th:href="@{/homePage/commonHelp}">帮助中心</a>
                        <a href="#" th:href="@{/homePage/pageNewsInfolist?moduleId=108}">常见问题</a>
                        <a>公司招聘</a> 
                    </p>
            </div>
            <div class="footer-item">
                <h4>联系我们</h4>
                <p>
                    <a href="#">商务合作</a>
                    <a href="#">在线咨询</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>官方微信</h4>
                <p>
                    <img src="../META-INF/resources/webjars/images/wexin.jpg" th:src="@{/webjars/images/wexin.jpg}">
                </p>
            </div>
        </div>
    </div>
    <div class="copyright"> © 2017 广州数据交易服务有限公司 粤ICP备16073970号 * 粤公网安备 44010502000357号</div>
</div>
</body>
</html>