<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>广州数据中心_找回密码</title>
    <link rel="icon" type="../../static/image/png" href="../../META-INF/resources/webjars/images/favicon.png" th:type="@{/image/png}" th:href="@{/webjars/images/favicon.png}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/bootstrap/3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/fonts/iconfont.css" th:href="@{/webjars/fonts/iconfont.css}">
    <link rel="stylesheet" href="../META-INF/resources/webjars/css/global.css" th:href="@{/webjars/css/global.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <script src="../META-INF/resources/webjars/jquery/3.2.0/jquery.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script src="../META-INF/resources/webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="../static/js-busi/register/register.js" th:src="@{/js-busi/register/register.js}"></script>
    <script src="../static/js-busi/common/sms.js" th:src="@{/js-busi/common/sms.js}"></script>
    <script src="../META-INF/resources/webjars/js/util.js" th:src="@{/webjars/js/util.js}"></script>
    <script src="../META-INF/resources/webjars/js/jquery.bootstrap.message.js" th:src="@{/webjars/js/jquery.bootstrap.message.js}"></script>
    <script type="text/javascript">
        var WEB_ROOT = '[[${#httpServletRequest.contextPath}]]';
    </script>
</head>
<body  class="bgf1">
<div class="header bg-white">
    <div class="wrap1000">
        <div class="logo floatL"><a th:href="@{/homePage/pageInit}"><img src="../META-INF/resources/webjars/images/manage_logo.png" th:src="@{/webjars/images/manage_logo.png}" title="广州数据中心"></a></div>
        <div class="register floatR">已有账号， <a th:href="@{/login/pageInit}">立即登录</a></div>
    </div>
</div>
<div class="main">
    <div class="register-box">
        <h2>找回密码</h2>
        <div class="register-list">
            <div class="register-input" >
                <label>用户ID</label>
                <input type="text" class="form-control" placeholder="123" disabled>
                <!--error-tip可见或不可见方式请用visibility-->
                <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>用户ID必须由字母和数字组成，不能使用特殊符合，如-、*、#等</span></p>
            </div>
            <div class="register-input" id="phoneNoDiv">
                <label>手机号码</label>
                <input type="text" class="form-control" disabled maxlength="11" placeholder="123">
                <!--error-tip可见或不可见方式请用visibility-->
                <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入正确的手机号</span></p>
            </div>
            <div class="register-input" >
                <label>验证码</label>
                <input type="text" class="form-control" placeholder="短信验证码" style="width:50%;display:-webkit-inline-box;"  maxlength="6">
                <img src="" style="position: absolute;width:120px;height:48px;line-height: 48px;">
                <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入验证码</span></p>
            </div>
            <div class="register-input" id="smsCodeDiv">
                <label>短信验证码</label>
                <input type="text" class="form-control" placeholder="短信验证码" style="width:50%;display:-webkit-inline-box;"  maxlength="6">
                <!--error-tip可见或不可见方式请用visibility-->
                <button class="btn btn-primary " onclick="sendSmsCode();" >获取验证码</button>
                <p class="error-tip" style="visibility: hidden;"><i class="icon iconfont icon-cuowu"></i><span>请输入短信验证码</span></p>
            </div>
            
            
           <!--  <div class="register-checkbox checkbox">
            <label>
                <input type="checkbox" id="checkAgree">
                我已阅读并接受<a href="#" data-toggle="modal" data-target="#myModal"> 《广州数据平台交易协议》</a>
            </label>
            </div> -->
            <div class="register-button">
                <button class="btn btn-primary" style="width:65%;margin-right: 20px; ">获取密码</button>
                <!-- <button class="btn btn-default" style="width:25%; " >立即登录</button> -->
                <u style="float: right; padding-top: 70px;"><span class="col_999">已有账号，</span><a href="" >立即登录</a></u>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="tocken">
<div class="footer bg-white">
    <div class="wrap1000 ptb30">
        <div class="right floatR">
            <dl>
                <dt><i class="icon iconfont icon-dianhua"></i>技术及平台支持</dt>
                <dd><strong>020-38617619</strong></dd>
            </dl>
            <dl>
                <dt><i class="icon iconfont icon-youxiang"></i>公司邮箱</dt>
                <dd><strong>service@gzbdex.com</strong></dd>
            </dl>
        </div>
        <div class="left floatL ">
        <div class="footer-item">
                <h4>关于我们</h4>
                 <p>
 	                    <a href="#" th:href="@{/homePage/company}">公司简介</a>
 	                    <a href="#" th:href="@{/homePage/pageNewsInfolist?moduleId=108}">新闻动态</a>
	                    <a>了解我们</a> 
	                </p>
            </div>
            <div class="footer-item">
                <h4>服务与支持</h4>
                  <p> 
	                    <a href="#" th:href="@{/homePage/commonHelp}">帮助中心</a>
	                    <a href="#" th:href="@{/homePage/pageNewsInfolist?moduleId=108}">常见问题</a>
	                    <a>公司招聘</a> 
	                </p>
            </div>
            <div class="footer-item">
                <h4>联系我们</h4>
                <p>
                    <a href="#">商务合作</a>
                    <a href="#">在线咨询</a>
                    <a href="#">友情链接</a>
                    <a href="#">招聘</a>
                </p>
            </div>
            <div class="footer-item">
                <h4>官方微信</h4>
                <p>
                    <img src="../META-INF/resources/webjars/images/wexin.jpg" th:src="@{/webjars/images/wexin.jpg}">
                </p>
            </div>
        </div>
    </div>
    <div class="copyright"> © 2017 广州数据交易服务有限公司 粤ICP备16073970号 * 粤公网安备 44010502000357号</div>
</div>



<!--广州数据平台交易协议弹窗-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">广州数据平台交易协议</h4>
            </div>
            <div class="modal-body">
                <div class="eassy">
                   <p>欢迎使用广州数据交易服务平台（https://www.gzbdex.com，以下简称广数交平台），本协议是您与广州数据交易服务有限公司（以下简称广数交公司）之间就服务等相关内容所订立的契约，请您仔细阅读本注册协议，当您按照注册页面提示填写信息、同意并接受本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与广数交公司达成一致，成为广数交平台的用户。</p>

                    <dl>
                        <dt>1 定义</dt>
                        <dd>1.1 广数交平台术语介绍与解释:</dd>
                        <dd>（1）Repository：以下简称Repo，一个数据集合，下面能建具体数据项；</dd>
                        <dd>（2）Item：数据项，一个数据产品，可以是批量数据、接口数据、流数据，有明确的数据定义、数据元数据；</dd>
                        <dd>（3）Tag：数据粒，数据产品的具体内容，一个数据项下至少有一个Tag、可以有多个Tag。Tag是Item更细颗粒度的数据。</dd>
                    </dl>
                    <dl>
                        <dt>2 服务对象</dt>
                        <dd>2.1 广数交平台的用户类型：</dd>
                        <dd>（1）企业用户；</dd>
                        <dd>（2）个人用户。</dd>
                        <dd>2.2 广数交平台用户的实名认证：</dd>
                        <dd>（1）企业用户实名认证需提交营业执照、组织机构、税务信息、银行对公账户、法人等相关信息；</dd>
                        <dd>（2）个人用户实名认证需提交身份证正反面照片及相关信息。</dd>
                        <dd>2.3 广数交平台的用户级别：</dd>
                        <dd>（1）注册用户</dd>
                        <dd>（2）认证用户</dd>
                        <dd>（3）金牌用户</dd>
                        <dd>（4）钻石用户</dd>
                    </dl>
                    <p>不同级别的用户拥有不同的权限及资源配额，详情请参见“个人中心”-“会员升级”页面的介绍。</p>
                    <dl>
                        <dt>3 账户注册与使用</dt>
                        <dd>3.1 用户应自行诚信向广数交平台提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确，用户需承担因此引起的相应责任及后果，广数交公司保留终止用户使用平台各项服务的权利。</dd>
                        <dd>3.2 用户在广数交平台进行浏览、订购等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，平台将予以严格保密，除非得到用户明确授权或根据有关法律法规要求，广数交平台不会向外界披露用户隐私信息。</dd>
                        <dd>3.3 用户注册成功后，将产生用户名和密码等账户信息，您可以根据广数交平台规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知广数交公司并向公安机关报案。</dd>
                        <dd>3.4 用户同意，广数交公司拥有通过邮件、短信、电话等形式，向在广数交平台注册、订购用户发送订单信息、促销活动等告知信息的权利。</dd>
                        <dd>3.5 用户不得将其在广数交平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</dd>
                    </dl>
                    <dl>
                        <dt>4 用户依法言行义务</dt>
                        <dd>4.1 本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</dd>
                        <dd>（1）不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</dd>
                        <dd>（2）从中国大陆向境外传输资料信息时必须符合中国有关法规；</dd>
                        <dd>（3）不得利用广数交平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</dd>
                        <dd>（4）不得干扰广数交平台的正常运转，不得侵入广数交平台及国家计算机信息系统；</dd>
                        <dd>（5）不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；</dd>
                        <dd>（6）不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</dd>
                        <dd>（7）不得教唆他人从事本条所禁止的行为；</dd>
                        <dd>（8）不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</dd>
                        <dd>4.2 用户应不时关注并遵守广数交公司不时公布或修改的各类合法规则规定。广数交平台保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。</dd>
                        <dd>4.3 若用户未遵守以上规定的，广数交公司有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</dd>
                    </dl>
                    <dl>
                        <dt>4 用户依法言行义务</dt>
                        <dd></dd>
                        <dd></dd>
                        <dd></dd>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt> 5 服务内容</dt>
                        <dd> 5.1 广数交平台的用户可以使用平台提供的Client端、API及SDK，用于数据产品的开发。另外由于数据类型的不同，不同数据具有不同的资费标准及限量试用次数。详细如下：</dd>
                        <dd>（1）数据商品的Repo、Item、Tag、元数据、样例数据、价格属性均由数据提供方设定；</dd>
                        <dd>（2）数据提供方可对数据设置公开范围，对于限定范围外的用户订购数据需要向数据提供方申请订购，数据提供方同意后，订购合同自动生效；</dd>
                        <dd>（3）用户成功订购，即可在有效期内获得资费标准约定的相应Pull次数；</dd>
                        <dd>（4）数据Item和Tags的发布和Pull均需通过Client端，用户可使用广数交平台提供的Client端或基于本平台开放的API自行开发实现。</dd>
                        <dd>5.2 在您订购数据时，请您仔细确认所购数据的Repo、Item、Tag名称、价格、有效期、元数据等信息。在订单生效后，用户可对订购的数据进行评论。</dd>
                        <dd> 5.3 您在广数交平台进行数据交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择以下途径解决：</dd>
                        <dd>（1）与争议相对方自主协商；</dd>
                        <dd>（2）使用广数交平台提供的申诉调处服务；</dd>
                        <dd>（3）向有关行政部门投诉；</dd>
                        <dd>（4）向人民法院提起诉讼。</dd>
                        <dd>如您选择使用广数交平台的申诉调处服务，则表示您认可广数交平台的客服作为独立的第三方根据其所了解到的争议事实并依据本平台规则所作出的调处决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双方等）。在广数交平台调处决定作出前，您可选择其他途径解决争议以中止本平台的申诉调处服务。</dd>
                        <dd> 5.4 广数交平台为向您提供的服务付出了大量的成本，广数交平台向您提供的服务目前是免费的。如未来广数交平台向您收取合理费用，本平台会采取合理途径并以足够合理的期限提前通过法定程序和方式通知您，确保您有充分选择的权利。</dd>
                        <dd>5.5广数交平台依法律规定承担基础保障义务，但无法对由于不可抗力（包括但不限于信息网络设备维护、连接故障，电脑、通讯或其他系统的故障，电力故障、罢工、暴乱、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令或因第三方原因）而给您造成的损害结果承担责任。</dd>
                    </dl>
                    <dl>
                        <dt>6 违约处理</dt>
                        <dd>6.1 如因广数交平台违反有关法律、法规或本协议项下的任何条款而给用户造成损失，广数交公司同意承担由此造成的损害赔偿责任。</dd>
                        <dd>6.2 用户同意保障和维护广数交平台及其他用户的利益，如因用户违反有关法律、法规或本《协议》项下的任何条款而给广数交公司或任何其他第三者造成损失，用户同意承担由此造成的损害赔偿责任。</dd>
                    </dl>
                    <dl>
                        <dt>7 协议更新及用户关注义务</dt>
                        <dd>7.1 根据国家法律法规变化及平台运营需要，广数交公司有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本平台上即生效，并代替原来的协议。</dd>
                        <dd>7.2 用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议及平台公告。如用户不同意更新后的协议，可以且应立即停止接受广数交平台依据本协议提供的服务；如用户继续使用本平台提供的服务的，即视为同意更新后的协议。广数交公司建议您在使用本平台之前阅读本协议及本平台的公告。</dd>
                        <dd>7.3 如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</dd>
                    </dl>
                    <dl>
                        <dt>8 法律管辖和适用</dt>
                        <dd> 8.1 本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。</dd>
                        <dd>8.2 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向有管辖权的中华人民共和国大陆地区法院提起诉讼。</dd>
                    </dl>
                    <dl>
                        <dt>9 其他</dt>
                        <dd> 9.1 您在注册时勾选“我已阅读并接受《广州数据交易服务协议》”即视为您完全接受本协议，在勾选之前请您再次确认已知悉并完全理解本协议的全部内容。</dd>
                        <dd>9.2 广数交公司尊重用户和消费者的合法权利，本协议及本平台上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和提供服务。欢迎用户和社会各界提出意见和建议，用户可通过电子邮件（service@gzbdex.com）与我们联系，广数交公司将虚心接受并适时修改本协议及本平台上的各类规则。</dd>
                        <dd>9.3 本服务协议中所涉及的各项规则条款最终解释权归广数交公司所有。</dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="agreement();">确认</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>