body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:257px;
  width:1px;
  height:16px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:144px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:123px;
  width:336px;
  height:144px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:211px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:936px;
  height:211px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:381px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:936px;
  height:381px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:196px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:565px;
  width:936px;
  height:196px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
