body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:227px;
  top:194px;
  width:713px;
  height:926px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:926px;
}
#u1 {
  position:absolute;
  left:2px;
  top:455px;
  width:709px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:0px;
  width:900px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:16px;
  width:180px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:520px;
  top:14px;
  width:110px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:16px;
  width:130px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:774px;
  top:16px;
  width:190px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:52px;
  width:305px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:388px;
  top:68px;
  width:572px;
  height:56px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:150px;
  width:900px;
  height:42px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:322px;
  top:163px;
  width:568px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:163px;
  width:100px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:87px;
  top:1160px;
  width:894px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:877px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:894px;
  height:1px;
}
#u23 {
  position:absolute;
  left:166px;
  top:1198px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:325px;
  top:1198px;
  width:110px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:516px;
  top:1199px;
  width:103px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:683px;
  top:1198px;
  width:160px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:180px;
  top:1238px;
  width:60px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:180px;
  top:1278px;
  width:60px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:338px;
  top:1238px;
  width:60px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:338px;
  top:1281px;
  width:60px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:524px;
  top:1239px;
  width:60px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:524px;
  top:1279px;
  width:60px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:694px;
  top:1231px;
  width:83px;
  height:66px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:66px;
}
#u44 {
  position:absolute;
  left:2px;
  top:25px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:240px;
  top:17px;
  width:210px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:61px;
  top:192px;
  width:159px;
  height:361px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:361px;
}
#u48 {
  position:absolute;
  left:2px;
  top:172px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:96px;
  top:224px;
  width:60px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:96px;
  top:260px;
  width:60px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:96px;
  top:295px;
  width:60px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:96px;
  top:331px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:96px;
  top:366px;
  width:60px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:96px;
  top:405px;
  width:60px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:236px;
  top:200px;
  width:350px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:234px;
  top:227px;
  width:716px;
  height:400px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:400px;
}
#u64 {
  position:absolute;
  left:2px;
  top:192px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:231px;
  top:627px;
  width:606px;
  height:480px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:480px;
}
#u66 {
  position:absolute;
  left:2px;
  top:232px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
