<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/syshead :: syshead}"></div>

<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
<head th:remove="all">
	<meta charset="UTF-8">
	<title>个人中心-企业认证</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/manage.css" th:href="@{/css/manage.css}">
	
</head>
<script type="text/javascript">
        var WEB_ROOT = '[[${#httpServletRequest.contextPath}]]';
    </script>
<script type="text/javascript" th:src="@{/js-busi/authenapply/authenapply.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script type="text/javascript" src="../js/frameajax/ajaxfileupload.js" th:src="@{/js/frameajax/ajaxfileupload.js}"></script>
<script src="../static/js-busi/common/uploadimg.js" th:src="@{/js-busi/common/uploadimg.js}"></script>
<style type="text/css">
	.error-tip{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0px 8px;
    margin-bottom: 4px;
    background: #f9e4d6;
    color: #ec6000;
}
.error-tip i{
    font-size: 12px;
    margin-right: 4px;
}
	</style>
<body>
<div th:replace="~{fragments/top :: top}"></div>
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img  src="../../static/images/manage_logo.png" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>数据市场</span></a>
				<a href=""><span>生活服务</span></a>
				<span class="col_999">常用快递</span>
			</div>
			<!-- <hr> -->
			
			<div class="title">基本信息填写</div>
			<table class="editTable ">
					<tr style="display:none;">
						<td class="Hint" width="140">
							认证类型:
						</td>
						<td >
							<div class="radio">
								<!-- 不需要就隐藏 -->
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							   企业认证
							  </label>
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1" >
							   企业认证
							  </label>
							</div>
						</td>
						
					</tr>
					<tr>
						<td class="Hint" width="140">
							<span class="col_red">*</span>公司名称:
						</td>
						<td width="520" >
							<input class="form-control" placeholder="" type="text" id="invoiceTitle" maxlength="128" onfocus="hiddenwarm('invoiceTitle');">
							<p class="error-tip" style="display:none;" id="invoiceTitle_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint">
							<span class="col_red">*</span>公司地址:
						</td>
						<td >
							<form class="form-inline">
							  <div class="form-group">
							    <select  class="form-control" id="province" onfocus="hiddenwarm('areainfo');">
							    	 <option value="">省份</option>
							    	 <option value="59">广西</option>
							    	 <option value="71">湖南</option>
							    	 <option value="74">广东</option>
							    </select>
							    <select  class="form-control" id="city" onfocus="hiddenwarm('areainfo');">
							    	<option value="">地级市</option>
							    	 <option value="59">广西</option>
							    	 <option value="71">湖南</option>
							    	 <option value="74">广东</option>
							    </select>
							    <select  class="form-control" id="country" onfocus="hiddenwarm('areainfo');">
							         <option value="">市、县级市、县</option>
							    	 <option value="59">广西</option>
							    	 <option value="71">湖南</option>
							    	 <option value="74">广东</option>
							    </select>
							  </div>
							  <p class="error-tip" style="display:none;" id="areainfo_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							  </form>
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							<span class="col_red">*</span>详细地址:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text" id="detailAddress" maxlength="256" onfocus="hiddenwarm('detailAddress');">
							<p class="error-tip" style="display:none;" id="detailAddress_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
			</table>	
			<div class="title">企业信息</div>
			<table class="editTable ">
					<tr>
						<td class="Hint" width="140">
							<span class="col_red">*</span>营业执照编号:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text" id="taxpayerNo" maxlength=64 onfocus="hiddenwarm('taxpayerNo');">
							<p class="error-tip" style="display:none;" id="taxpayerNo_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							税务登记证编号:
						</td>
						<td width="520">
							<input class="form-control" placeholder="" type="text" id="taxNo" maxlength="64" onfocus="hiddenwarm('taxNo');">
							<p class="error-tip" style="display:none;" id="taxNo_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
					</tr>
					<tr>
						<td class="Hint">
							组织机构编号:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text" id="organCode" onfocus="hiddenwarm('organCode');">
							<p class="error-tip" style="display:none;" id="organCode_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
						
					</tr>
					<tr>
						<td class="Hint tips">
							<span class="col_red">*</span>营业执照副本:
						</td>
						<td >
							<!-- <input  type="text" class="form-control" placeholder="" id="gdsPic"> -->
							<input type="file" class="float_File" name="picUpLoad" id="picUpLoad" imagesize="_120x120!" onchange="onImageFileChange(this);">
							<input type="hidden" id="vfsId1">
							<span class="col_999">图片大小不要超过2M，支持PNG、JPG格式</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><img id="iamgeTag" src=""></td>
					</tr>
			</table>
			<div class="title">联系人信息</div>
			<table class="editTable ">
					<tr>
						<td class="Hint" width="140">
							<span class="col_red">*</span>联系人姓名:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text" id="relName" maxlength="16" onfocus="hiddenwarm('relName');">
							<p class="error-tip" style="display:none;" id="relName_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
							 
						</td>
					</tr>
					
					<tr>
						<td class="Hint">
							<span class="col_red">*</span>联系人电话:
						</td>
						<td width="520">
							<input class="form-control" placeholder="" type="text" id="phone" maxlength="11" onfocus="hiddenwarm('phone');">
							<p class="error-tip" style="display:none;" id="phone_msg"><i class="icon iconfont icon-cuowu"></i><span></span></p>
						</td>
						
					</tr>
			</table>


		</div>
		<!-- 按钮 -->
			<hr>
			<div class="p20 text-center " style="margin-left: 220px;">
				<a href="javascript:;" class="btn-primary btn mr10" onclick="saveapply();" id="savebtn">提交认证</a>
			</div>
	</div>


		<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的数据
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的订单
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						密码修改
					</a>
				</li>
				<li class="active">
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						企业认证
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						发票管理
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的收藏
					</a>
				</li>
			</ul>
		</nav>
	</div>

	

	<script type="text/javascript">
	$("#mainTopDiv").addClass('clearfix m_header');
	</script>
	<style type="text/css">
	.m_header{height:auto;}
	</style>

</body>
</html>