<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/syshead :: syshead}"></div>
<link rel="stylesheet" href="../../static/css/manage.css" th:href="@{/css/manage.css}">
<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
<head th:remove="all">
	<meta charset="UTF-8">
	<title>个人中心-企业认证审核详情</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/manage.css" th:remove="all">
</head>
<script type="text/javascript">
        var WEB_ROOT = '[[${#httpServletRequest.contextPath}]]';
    </script>
<body>
<div th:replace="~{fragments/top :: top}"></div>
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img width="160" src="../../static/images/manage_logo.jpg" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>广州数据交易中心</span></a>
				<a href=""><span>个人中心</span></a>
				<span class="col_999"> 企业认证</span>
			</div>
			<hr>
			<!-- <div class="title">实名认证</div> -->
			<h4 class="alert alert-info btn_rec " role="alert" th:if="${status=='10'}" >
				<i class="glyphicon glyphicon-exclamation-sign pr10"></i><span>正在认证中，请耐心等待！</span>
			</h4>
			<h4 class="alert alert-success btn_rec" role="alert" th:if="${status=='20'}" >
				<i class="glyphicon glyphicon-ok-sign pr10"></i><span>恭喜您，已认证成功！</span>
			</h4>
			<h4 class="alert alert-danger" role="alert" th:if="${status=='30'}" >
				<i class="glyphicon glyphicon-remove-sign pr10"></i><span th:text="${msg}">认证失败，……</span>
			</h4>
			<div class="borTable">
				<table class="editTable table-hover ">
					<tr>
						<td class="Hint" width="120">
							认证类型:
						</td>
						<td  width="35%">
							企业认证
						</td>
						<td class="Hint" >
							营业执照编号:
						</td>
						<td width="35%" th:text="${data.taxpayerNo}">
							92482482391301
						</td>
					</tr>
					<tr>
						<td class="Hint" >
							公司名称:
						</td>
						<td th:text="${data.invoiceTitle}">
							广西奥博啊实打实大
						</td>
						<td class="Hint">
							税务登记编号:
						</td>
						<td th:text="${data.taxNo}">
							92482482391301
						</td>
					</tr>
					<tr>
						<td class="Hint">
							公司地址:
						</td>
						<td th:text="${data.contactInfo}">
							广西南宁青秀区………………
						</td>
						<td class="Hint">
							组织机构编号:
						</td>
						<td th:text="${data.organCode}">
							
						</td>
					</tr>
					<tr>
						<td class="Hint">
							联系人姓名:
						</td>
						<td th:text="${data.relName}">
							阿萨德
						</td>
						<td class="Hint">
							营业执照副本:
							
						</td>
						<td >
							<img src="" width="80" height="80" th:src="${data.picSrc}">
							<a href="" class="btn  btn-sm">预览</a>
						</td>
					</tr>
					<tr>
						<td class="Hint">
							联系人电话:
						</td>
						<td th:text="${data.phone}">
							13344456667
						</td>
						<td >
							
						</td>
						<td >
							
						</td>
					</tr>
					<tr>
						<td class="Hint">
							审核意见：
						</td>
						<td colspan="3">
							
						<textarea rows="5" cols="80" placeholder="tips" disabled th:text="${data.checkDesc}"></textarea>
						</td>
					</tr>
				</table>	
				
			</div>
			
		</div>
		<!-- 按钮 -->
			<hr>
			<div class="p20 text-center " style="margin-left: 220px;" th:if="${status=='30'}" >
				<a href="/authenapply/userinfo?type=reapply" class="btn-primary btn mr10">重新认证</a>
			</div>
	</div>
	<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的数据
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的订单
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						密码修改
					</a>
				</li>
				<li class="active">
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						企业认证
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						发票管理
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的收藏
					</a>
				</li>
			</ul>
		</nav>
	</div>

	
	<script src="../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../static/js/bootstrap.min.js" th:remove="all"></script>
	<script type="text/javascript">
	$("#mainTopDiv").addClass('clearfix m_header');
	</script>

</body>
</html>