<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/syshead :: syshead}"></div>
<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:href="@{/fonts/iconfont.css}">
<head th:remove="all">
	<meta charset="UTF-8">
	<title>个人中心-用户信息管理</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" th:remove="all">
	<link rel="stylesheet" href="../../static/fonts/iconfont.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/global.css" th:remove="all">
	<link rel="stylesheet" href="../../static/css/manage.css" th:href="@{/css/manage.css}">
</head>

<body>
<div th:replace="~{fragments/top :: top}"></div>
<header class="clearfix m_header" th:remove="all">
	<a href="" class="Logo" target="_blank" >
		<img width="160" src="../../static/images/manage_logo.jpg" alt="广州数据" >
	</a>
	<ul class="m_hdlist clearfix">
		<li>
			<a class="item" href="" target="_blank">联系我们</a>
		</li>
		<li >
			<div class="dropdown">
				<a  class="item" data-toggle="dropdown"  >
					关注广数
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu QRcode" aria-labelledby="dLabel">
					<li><img src="../static/images/wexin.jpg"></li>
				</ul>
			</div>
		</li>
		<li>
			<a class="item" href="" target="_blank">常见问题</a>
		</li>
		<li >
			<div class="dropdown">
				<a class="item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					okleung
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="dLabel">
					<li><a  href="" >退出登录</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>
<div  layout:fragment="screen_content">
	<div class="m_main">
		<div class="m_con">
			<div class="classify">
				<i class="iconfont"></i>
				<span>当前位置：</span>
				<a href=""><span>个人中心</span></a>
				<span >用户信息管理</span>
			</div>
			<!-- <hr> -->
			
			<div class="title">基本信息</div>
			<table class="editTable ">
					
					<tr>
						<td class="Hint tips" width="140">
							用户ID:
						</td>
						<td width="520">
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
						<!-- <td class="tip"><span class="">已实名认证/去实名认证</span></td> -->
					</tr>
					<tr>
						<td ></td>
						<td><span class="col_red">已实名认证/去实名认证</span></td>
					</tr>
					<tr>
						<td class="Hint">
							<span class="col_red"></span>别名:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							用户名称:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
					</tr>
					<tr>
						<td class="Hint">
							电话:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" value="13100000012" disabled>
						</td>
						<td class="pl5"><button class="btn btn-default btn-sm " data-toggle="modal" data-target="#myModal">修改号码</button></td>
					</tr>
					<tr>
						<td class="Hint">
							用户头像:
						</td>
						<td >
							<img src="" width="80" height="80">
							<button class="btn btn-default btn-sm" >修改</button>
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							QQ号:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
					</tr>
					<tr>
						<td class="Hint">
							微信号:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
					</tr>
					<tr>
						<td class="Hint">
							性别:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
					</tr>
					<tr>
						<td class="Hint">
							职位:
						</td>
						<td >
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
					</tr>
			</table>	
		</div>
		<!-- 按钮 -->
			<hr>
			<div class="p20 text-center " style="margin-left: 220px;">
				<a href="javascript:;" class="btn-primary btn mr10" >保存</a>
			</div>
	</div>


		<div class="m_nav">
		<nav class="nav">
			<ul>
				<li class="navTit">
					<i class="glyphicon glyphicon-compressed"></i>
					个人中心
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的数据
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的订单
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						密码修改
					</a>
				</li>
				<li class="active">
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						企业认证
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						发票管理
					</a>
				</li>
				<li >
					<a href="">
						<i class="glyphicon glyphicon-inbox pr5"></i>
						我的收藏
					</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">修改手机号码</h4>
	      </div>
	      <div class="modal-body">
	        	<table class="editTable ">
					
					
					
					<tr>
						<td class="Hint">
							原手机号码:
						</td>
						<td width="260">
							<input class="form-control" placeholder="" type="text"  maxlength="128" >
						</td>
						
					</tr>
					<tr>
						<td class="Hint">
							验证码:
						</td>
						<td >
							<div class="form-inline">
								<input class="form-control wt150" placeholder="" type="text"  maxlength="128" >
								<img  src="" height="30" width="100">
							</div>
						</td>
						<td  ></td>
					</tr>
					<tr>
						<td class="Hint">
							短信验证码:
						</td>
						<td >
						<div class="form-inline">
							<input class="form-control wt150" placeholder="" type="text"  maxlength="128" >
							<button class="btn btn-default btn-sm " >获取短信验证码</button>
						</div>

						</td>
					
					</tr>
					
			</table>	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">保存</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<script src="../../static/js/jquery-1.12.4.js" th:remove="all"></script>
	<script src="../../static/js/bootstrap.min.js" th:remove="all"></script>
	

</body>
</html>