body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:570px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:986px;
  height:570px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:88px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:33px;
  width:305px;
  height:88px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:439px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:131px;
  width:493px;
  height:439px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:72px;
  width:180px;
  height:38px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:510px;
  width:146px;
  height:33px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:212px;
  width:404px;
  height:25px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:217px;
  width:42px;
  height:16px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
